<form method="post" action="{{ path('app_login') }}" class="login-form">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% set current_route = app.request.attributes.get('_route') %}
    {% set template_name = app.request.attributes.get('template_name') %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="login-page">
        <h1 style="font-size:1.3em">Sign In</h1>
        <br />
        <div class="form" style="color:black">

                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" placeholder="Email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                {% if app.request.attributes.get('_route') == 'preview_template_by_name' %}
                    <input type="hidden" name="_target_path" value="{{ path('invoice_generator') }}">
                {% endif %}
                {% if current_route == 'preview_template_by_name' %}
                    <input type="hidden" name="_target_path" value="{{ path(current_route, {'template_name': template_name, 'i-n': app.request.query.get('i-n') }) }}">
                {% endif %}
                <button class="mb-3 mt-3 btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
                <a class="message" style="color:black" href="{{path('app_forgot_password_request')}}">Forgot password?</a>
                <p class="message">Not registered? <a href="{{path('app_register')}}">Create an account</a></p>

        </div>
    </div>


</form>
