{% extends 'base.html.twig' %}

{% block stylesheets %}

<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

</style>

{% endblock %}

{% block page %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="login-page">
    <h1 style="font-size:1.3em">Sign Up for visibility</h1>
    <br />
  <div class="form" style="color:black">
  {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm, {'attr': {'class': 'register-form'}}) }}
      {{ form_widget(registrationForm.first_name, {'attr': {'placeholder': 'First Name'}}) }}
      {{ form_widget(registrationForm.last_name, {'attr': {'placeholder': 'Last Name'}}) }}
      {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email Address'}}) }}
      {{ form_widget(registrationForm.plainPassword, {'label': 'Password', 'attr': {'placeholder': 'Password'}}) }}
      {{ form_widget(registrationForm.agreeTerms, {'label': 'Agree To Terms'}) }}
      <input type="hidden" name="username">
      <button type="submit" class="btn">Register</button>
      <p class="message">Already registered? <a href="{{path('app_login')}}">Sign In</a></p>
    {{ form_end(registrationForm) }}
  </div>
</div>
    

    
        
        
        

        
    
{% endblock %}
