{# templates/admin/product/form.html.twig #}

{% extends '@EasyAdmin/crud/new.html.twig' %}

{% block main %}
    {# Include the parent form content #}
    {{ parent() }}

    {# Display the image using an HTML img tag #}
    {% if ea.request.query.get('tmp') is defined and ea.entity.instance.template is defined and ea.entity.instance.template is not null %}
    <img style="width:200px;" src="{{asset('invoices/images/' ~ ea.entity.instance.template.templateName ~ '.png') }}" >
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
    $(document).ready(function () {
        // Listen for changes in the select element
        $('#Theme_template').change(function () {
            // Get the selected option value
            var selectedOption = $(this).val();

            // Get the current URL
            var currentUrl = window.location.href;

            // Check if the 'tmp' query parameter is already in the URL
            var tmpQueryParam = 'tmp=' + selectedOption;
            if (currentUrl.includes('tmp=')) {
                // 'tmp' query parameter exists, replace its value
                currentUrl = currentUrl.replace(/(\?|&)tmp=[^&]+/, '$1' + tmpQueryParam);
            } else {
                // 'tmp' query parameter doesn't exist, add it
                currentUrl += (currentUrl.includes('?') ? '&' : '?') + tmpQueryParam;
            }

            // Redirect to the updated URL
            window.location.href = currentUrl;
        });
    });
    </script>

{% endblock %}
