{% extends 'base.html.twig' %}
{% block stylesheets %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.min.js"></script>
    <script src="{{ asset('joeseo-editor.js') }}" defer></script> <!-- Include the WYSIWYG JS file -->
    <style>
        .highlight {
            color: yellow;
        }
    </style>
{% endblock %}
{% block page %}
    <!-- Page Title -->
    <div class="page-title animatedBackground">
        <div class="container">
            <h1>Article Keyword Checker</h1>
            <ul>
                <li><a href="{{ path('app_index') }}">Home</a></li>
                <li class="dot-divider"></li>
                <li>Keyword Checker</li>
            </ul>
        </div>
        
        <div class="bg-pattern"><img src="/img/joeseo.jpg" alt="pattern"></div>
    </div>
    <!-- End Page Title -->
    
    <!-- Blog Details Area -->
    <section class="blog-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="blog-details">
                        <!-- <div class="thumb">
                            <img style="width:100%" src="/site/images/blog_images/" alt="details">
                            <div class="date">
                                <span>Some text</span>
                            </div>
                        </div> -->
                        
                        <div class="blog-details-heading">
                            <h3>Article</h3>
                            <ul>
                                <li>Paste or write the article here:</li>
                            </ul>
                        </div>
                        
                        <div class="blog-details-content">
                            <textarea id="article" class="form-control joeseo-editor" style="height:500px!important;" name="article"></textarea>   
                            <button id="checkKeywordsBtn" class="mt-3 btn btn-primary">Check Keywords</button>                         
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="side-bar mb-0">

                        <div class="widget-box categories-box">
                            <h3 class="title">Keywords</h3>
                            <div id="keywords" style="height:300px!important;overflow-y: scroll;">
                                {% if keywords is defined %}
                                    {% set keywordsList = keywords|split(',') %}
                                    <ul id="keywordLi">
                                        {% for keyword in keywordsList %}
                                            <li>{{ keyword }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No keywords found in the query string.</p>
                                {% endif %}

                            </div>
                        </div>

                        <div class="widget-box recent-post-box mb-0">
                            <h3 class="title">Unused Keywords</h3>
                            <div id="result"></div>
                        </div>

                        <div class="widget-box mb-0">
                            <h3 class="title">Keyword Density</h3>
                            <div id="density"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Blog Details Area -->
    
    <!-- Modal -->
    <div class="modal fade" id="noKeywordsModal" tabindex="-1" aria-labelledby="noKeywordsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="noKeywordsModalLabel">No Keywords Found</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-dark">
                    It seems you don't have any keywords, add them first.
                </div>
                <div class="modal-footer">
                    <a href="{{ path('keywords_add') }}" class="btn btn-primary">Add Keywords</a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
{% block javascripts_bottom %}
<script>

document.addEventListener('DOMContentLoaded', function() {
    const blogDetailsContent = document.querySelector('.blog-details-content');

    if (blogDetailsContent) {
        let debounceTimeout;

        // Use event delegation for input events
        blogDetailsContent.addEventListener('input', function(event) {
            if (event.target.isContentEditable) {
                clearTimeout(debounceTimeout);

                debounceTimeout = setTimeout(function() {
                    highlightKeywords();
                }, 2000); 
            }
        });
    } else {
        console.error("Blog details content element not found!");
    }
});

// Function to highlight keywords in the list
function highlightKeywords() {
    // Retrieve the article text from the contenteditable div
    var article = document.querySelector('.blog-details-content div[contenteditable="true"]').innerText.toLowerCase(); 
    // console.log(article);
    
    var keywordItems = document.querySelectorAll('#keywordLi li');
    var resultDiv = document.getElementById('result');
    var densityDiv = document.getElementById('density');

    // Extract keywords from the list and convert them to lowercase
    var keywords = Array.from(keywordItems).map(item => item.textContent.trim().toLowerCase());

    // Configure Fuse.js options for fuzzy matching
    var fuseOptions = {
        includeScore: true, // To get similarity scores
        threshold: 0.1, // Set a threshold for fuzzy matching
        keys: ['article'], // Define the property to search on
        findAllMatches: true,
        ignoreLocation: true
    };

    var test = [{ "article": article }];

    // Initialize Fuse.js instance
    var fuse = new Fuse(test, fuseOptions);

    // Initialize an array to store matches
    var matches = [];

    // Iterate through each keyword
    keywords.forEach(keyword => {
        var searchPattern = keyword;
        var result = fuse.search(searchPattern);
        matches.push({ keyword: searchPattern, results: result });
    });

    // Update keyword items with fuzzy matching results
    keywordItems.forEach(keywordItem => {
        var keyword = keywordItem.textContent.trim().toLowerCase(); // Convert keyword to lowercase
        var found = matches.find(match => match.keyword === keyword); // Compare lowercase keyword
        if (found && found.results.length > 0) {
            // Highlight the keyword if found
            keywordItem.classList.add('highlight');
        } else {
            // Remove highlight if not found
            keywordItem.classList.remove('highlight');
        }
    });

    // Update result div
    var missingKeywords = document.querySelectorAll('#keywordLi li:not(.highlight)');
    if (missingKeywords.length === 0) {
        resultDiv.innerHTML = "<p>All keywords found in the article.</p>";
    } else {
        var missingKeywordsList = Array.from(missingKeywords).map(item => item.textContent.trim());
        resultDiv.innerHTML = "<p>Missing keywords: " + missingKeywordsList.join(', ') + "</p>";
    }

    // Calculate keyword density
    var keywordDensity = {};
    keywords.forEach(keyword => {
        var count = (article.match(new RegExp('\\b' + keyword + '\\b', 'gi')) || []).length;
        keywordDensity[keyword] = count;
    });

    // Display keyword density
    var densityContent = "<ul>";
    for (var key in keywordDensity) {
        densityContent += "<li>" + key + ": " + keywordDensity[key] + "</li>";
    }
    densityContent += "</ul>";
    densityDiv.innerHTML = densityContent;
}

// Check if no keywords are present and show modal
document.addEventListener("DOMContentLoaded", function() {
    var keywordItems = document.querySelectorAll('#keywordLi li');
    var allEmpty = Array.from(keywordItems).every(item => item.textContent.trim() === '');

    if (keywordItems.length === 0 || allEmpty) {
        $('#noKeywordsModal').modal('show');
    }
});
</script>
{% endblock %}
