{% extends 'base.html.twig' %}
{% block stylesheets %}  
<style>
    #intro p{
        font-size:1.2em;
        font-weight:medium;
    }
    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }

    .modal-body {
        position:relative;
        padding:0px;
    }
    .btn-close {
        position:absolute;
        right:-30px;
        top:0;
    }    
</style>
{% endblock %}
{% block page %}

    <!-- Start Social Media Marketing Banner -->
    <div class="social-media-marketing-banner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="social-media-marketing-banner-content">
                        <span class="roboto-font">JoeSEO MAKING YOUR WORK EASIER, AGAIN!</span>
                        <h1 class="roboto-font">Create <b>Professional Invoices</b> with Our Free Invoice Builder</h1>
                        <p>To go directly to your invoice preview and download page, enter the invoice number of an invoice you have created with us earlier.</p>

                        <form method="get" action="{{path('invoice_generator')}}" class="free-analysis-form">
                            <input class="form-control"  type="text" name="i-n" placeholder="Invoice Number">
                            <button type="submit">PREVIEW & DOWLOAD</button>
                        </form>
                        <br />
                        <p>Use invoice number <code>022824001</code> to preview a sample invoice</p>
                        <button type="button" class="mt-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#invoiceModal">
                            Create an Invoice
                        </button>
                            <!-- Button trigger modal -->
                        <a type="button" class="mt-3 btn btn-info" href="#tutorial">
                        Video Tutorial
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 text-light">
                    <div id="intro" class="agency-wrap-content">
                        <h2><span class="roboto-font bg-dark">INVOICING MADE FUN</span></h2>
                        <h3>Your client asked for an invoice? Look no further!</h3>
                        <p style="line-height: 29px;margin-bottom: 10px;" class="text-light">We have made this Free Invoice Builder with you in mind. It works perfectly with both goods and services.</p>
                        <p style="line-height: 29px;margin-bottom: 10px;" class="text-light">Our free online invoice builder offers an array of features to simplify your invoicing and receipting experience, thus saving your time and money.</p>
                        <p style="line-height: 29px;margin-bottom: 10px;" class="text-light">You can now Create professional invoices and receipts for free with our Invoice Builder</p>
                        <p style="line-height: 29px;margin-bottom: 10px;" class="text-light">After selecting one invoice builder template, you can create an invoice in a single page, free-of-charge </p>
                        <p style="line-height: 29px;margin-bottom: 10px;" class="text-light">Our Free Invoice Maker app tool works perfectly as your free invoice maker for PC or mobile phone.</p>
                        <p style="line-height: 29px;margin-bottom: 10px;" class="text-light">Using our free invoice builder online will allow you to print or download the created invoices.</p>
                        <p style="line-height: 29px;margin-bottom: 10px;" class="text-light">No software downloads, no hidden fees, just beautiful and professional invoices in minutes.</p>
                        <p style="line-height: 29px;margin-bottom: 10px;" class="text-light">Choose from our builder invoice templates and start building now.</p>
                        <button type="button" class="mt-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#invoiceModal">
                            BUILD NOW
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Social Media Marketing Banner -->
    
    <!-- Start Agency Wrap Area -->
    <div id="tutorial" class="agency-wrap-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12">
                    <iframe style="aspect-ratio:16 / 9; width:100%;" src="https://www.youtube.com/embed/bjUB_T2vXz0?si=iAhJ4QBA8ZDZ3RdU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- End Agency Wrap Area -->

    <!-- Start Creative Solutions Area -->
    <div class="creative-solutions-area ptb-100">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="creative-solutions-content">
                        <span class="roboto-font">LET' GET STARTED</span>
                        <h3 class="roboto-font">You don't need to download any software, start instantly!</h3>
                        <p>Empower your business with a streamlined invoicing process that's not only efficient but also free of charge. Join thousands of Nairobi businesses already benefiting from our intuitive Free Invoice Builder.</p>
                        
                        <br /><br />
                        <a class="btn btn-primary" id="" href="{{path('admin_invoice')}}" >Build Now</a>

                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="creative-solutions-image">
                        <img src="{{asset('invoices/images/invoice-transparent.png') }}" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Creative Solutions Area -->
    <!-- Start Agency Wrap Area -->
    <div class="agency-wrap-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="analysis-form">
                        <h2><span>Free SEO Analysis</span></h2>
                        {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'name'}}) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'email'}}) }} 
                            </div>
                            
                            <div class="form-group">
                                {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder':'phone'}}) }} 
                            </div>
                            
                            <div class="form-group">
                                {{ form_widget(form.website, {'attr': {'class': 'form-control', 'placeholder':'website'}}) }}  
                            </div>
                            
                            <div class="form-group">
                                {{ form_widget(form.company_name, {'attr': {'class': 'form-control', 'placeholder':'company_name'}}) }}
                            </div>
                            <button type="submit" class="btn btn-primary">Get Free Report</button>
                        {{ form_end(form) }}
                        <small>This site is protected by reCAPTCHA and the Google
                        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                        <a href="https://policies.google.com/terms">Terms of Service</a> apply.</small>

                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="analysis-text">
                        <span>Free SEO Analysis</span>
                        <h3 style="font-size:1.3em">Get a free video of an SEO audit for <a class="colored-underline">your website</a>, a free seo consultation.</h3>
                        <p>Complete the form to receive a complimentary video guide detailing the essential steps to optimize your website for superior SEO in Kenya. Unlock actionable insights and boost your online visibility!:</p>
                        <ul>
                            <li>Personalized Analysis: Learn about the specific strengths and weaknesses of your website with a personalized SEO analysis.</li>
                            <li>Tailored Recommendations: Receive tailored recommendations based on your website's current status to enhance its SEO performance in your locale.</li>
                            <li>Technical SEO Guidance: Receive guidance on technical aspects to ensure your website meets search engine standards.</li>
                            <li>Competitor Comparison: Understand how your website stacks up against competitors and identify opportunities for improvement.</li>
                            <li>User Experience Recommendations: Get tips on improving the overall user experience to keep visitors engaged and satisfied.</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Agency Wrap Area -->

    {% include('sections/blog_area.html.twig') %}    

    <div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="invoiceModalLabel">Select an Invoice Template</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                    {% for template in templates %}
                        <div class="col-md-4">
                            <div class="card" style="cursor: pointer;">
                                <h3 class="mb-3 text-dark">{{ template.name }}</h3>
                                    <a href="{{ path('preview_template_by_name', {'template_name': template.name } ) }}">
                                        <img src="/invoices/images/{{ template.templateName }}.png" class="card-img-top" alt="{{ template.name }}">
                                    </a>
                                <div class="card-body">
                                    <h5 class="card-title">Template 1</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
            
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      
      <div class="modal-body">
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
        </button>        
        <!-- 16:9 aspect ratio -->
        <div class="ratio ratio-16x9">
            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
        
        
      </div>

    </div>
  </div>
</div> 

{% endblock %}
{% block javascripts_bottom %}
<script>

// Declare a variable to store the video source
let videoSrc;

// Add click event listener to all elements with class "video-btn"
document.querySelectorAll('.video-btn').forEach(button => {
  button.addEventListener('click', () => {
    // Get the video source from the data-src attribute
    videoSrc = button.dataset.src;
    console.log(videoSrc);
  });
});

// Add event listener for when the modal is opened
document.getElementById('myModal').addEventListener('shown.bs.modal', () => {
  // Update the video source with autoplay and other options
  document.getElementById('video').src = videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0";
});

// Add event listener for when the modal is closed
document.getElementById('myModal').addEventListener('hide.bs.modal', () => {
  // Stop the video by resetting the source
  document.getElementById('video').src = videoSrc;
});

</script>

{% endblock %}