<!-- Full Page Modal -->
<div class="modal fade" id="fullPageModal" tabindex="-1" aria-labelledby="fullPageModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="fullPageModalLabel">Details: {{ invoice.type }} #{{ invoice.invoiceNumber }}</h2>
                <!-- Removed close button -->
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    
                    <!-- Invoice Information -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice-type" class="form-label">Invoice Type</label>
                                <select id="invoice-type" class="form-control" >
                                    <option value="invoice" {% if invoice.type == 'invoice' %}selected{% endif %}>Invoice</option>
                                    <option value="receipt" {% if invoice.type == 'receipt' %}selected{% endif %}>Receipt</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice-date" class="form-label">Invoice Date</label>
                                <input type="date" id="invoice-date" class="form-control" value="{{ invoice.date|date('Y-m-d') }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice-number" class="form-label">Invoice Number</label>
                                <input type="text" id="invoice-number" class="form-control" value="{{ invoice.invoiceNumber }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company-logo-upload" class="form-label">Upload Company Logo</label>
                                <input type="file" id="company-logo-upload" class="form-control" accept="image/*">
                            </div>
                        </div>
                    </div>
                    
                    <!-- Client Information -->
                    <div class="border-top my-3"></div>
                    <h4>Client Information</h4>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice-client-name" class="form-label">Client Name</label>
                                <input type="text" id="invoice-client-name" class="form-control" value="{{ invoice.client.name }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice-contact-details" class="form-label">Client's Business/Company</label>
                                <input type="text" id="invoice-contact-details" class="form-control" value="{{ invoice.client.contactDetails }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice-address" class="form-label">Client Physical Address</label>
                                <input type="text" id="invoice-address" class="form-control" value="{{ invoice.client.address }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice-client-email" class="form-label">Client Email</label>
                                <input type="email" id="invoice-client-email" class="form-control" value="{{ invoice.client.email }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice-client-website" class="form-label">Client Website</label>
                                <input type="text" id="invoice-client-website" class="form-control" value="{{ invoice.client.website }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="invoice-client-phone" class="form-label">Client Phone</label>
                                <input type="tel" id="invoice-client-phone" class="form-control" value="{{ invoice.client.phone }}">
                            </div>
                        </div>
                    </div>

                    <!-- Client Information -->
                    <div class="border-top my-3"></div>
                    <h4>My Company</h4>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="my-company" class="form-label">Company/Business Name</label>
                                <input type="text" id="my-company" class="form-control" value="{{ invoice.client.company.companyName }}" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company-logo-type" class="form-label">Company Logo Type</label>
                                <select id="company-logo-type" class="form-control">
                                    <option value="long" {% if invoice.client.company.logoType == 'long' %}selected{% endif %}>Long [max-width:300px]</option>
                                    <option value="square" {% if invoice.client.company.logoType == 'square' %}selected{% endif %}>Square/Near Square [max-width:150px]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company-website" class="form-label">Company Website</label>
                                <input type="url" id="company-website" class="form-control" value="{{ invoice.client.company.website }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company-email" class="form-label">Company Email</label>
                                <input type="email" id="company-email" class="form-control" value="{{ invoice.client.company.email }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company-phone" class="form-label">Company Phone</label>
                                <input type="tel" id="company-phone" class="form-control" value="{{ invoice.client.company.phone }}">
                            </div>
                        </div>
                    </div>

                    <!-- Payment Information -->
                    <div class="border-top my-3"></div>
                    <h4>Payment Information</h4>
                    <div class="mb-3">
                        <label for="invoice-payment-info" class="form-label">Payment Information</label>
                        <textarea id="invoice-payment-info" class="form-control">{{ invoice.paymentInfo }}</textarea>
                    </div>
                    
                    <!-- Invoice Items Table -->
                    <div class="border-top my-3"></div>
                    <h4>Invoice Items</h4>
                    <table class="table table-bordered" id="invoice-items-table">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in invoice.invoiceItems %}
                                <tr data-id="{{ item.id }}">
                                    <td><input type="text" value="{{ item.description }}" class="form-control item-description"></td>
                                    <td><input type="number" step="0.01" value="{{ item.unitPrice }}" class="form-control item-unit-price"></td>
                                    <td><input type="number" value="{{ item.quantity }}" class="form-control item-quantity"></td>
                                    <td class="item-total">{{ item.totalAmount|number_format }}</td>
                                    <td>
                                        <button class="btn btn-primary save-btn">Save</button>
                                        <button class="btn btn-danger delete-btn">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Add New Item -->
                    <div id="add-item" class="mt-3">
                        <div class="input-group mb-3">
                            <input type="text" id="new-description" class="form-control" placeholder="Description">
                            <input type="number" id="new-unit-price" class="form-control" placeholder="Unit Price" step="0.01">
                            <input type="number" id="new-quantity" class="form-control" placeholder="Quantity">
                            <button id="add-item-btn" class="btn btn-success">Add Item</button>
                        </div>
                    </div>

                    <!-- Theme/Styling Information -->
                    <div class="border-top my-3"></div>
                    <h4>Theme/Styling Information</h4>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="primary-color" class="form-label">Primary Color</label>
                                <input type="color" id="primary-color" class="form-control" value="{{ invoice.theme.priColor }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="secondary-color" class="form-label">Secondary Color</label>
                                <input type="color" id="secondary-color" class="form-control" value="{{ invoice.theme.secColor }}">
                            </div>
                        </div>
                    </div>

                    <!-- Financial Information -->
                    <div class="border-top my-3"></div>
                    <h4>Financial Information</h4>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tax-type" class="form-label">Tax Type</label>
                                <select id="tax-type" class="form-control">
                                    <option value="inclusive" {% if invoice.taxType == 'inclusive' %}selected{% endif %}>Inclusive</option>
                                    <option value="exclusive" {% if invoice.taxType == 'exclusive' %}selected{% endif %}>Exclusive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="total-amount" class="form-label">Total Amount</label>
                                <input type="text" id="total-amount" class="form-control" value="{{ invoice.totalAmount }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tax-amount" class="form-label">Tax Amount</label>
                                <input type="text" id="tax-amount" class="form-control" value="{{ invoice.tax|default(0) }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="discount" class="form-label">Discount</label>
                                <input type="text" id="discount" class="form-control" value="{{ invoice.discount|default(0) }}">
                            </div>
                        </div>
                    </div>

                    <!-- Additional Information -->
                    <div class="border-top my-3"></div>
                    <h4>Additional Information</h4>
                    <div class="mb-3">
                        <label for="terms-conditions" class="form-label">Terms & Conditions</label>
                        <textarea id="terms-conditions" class="form-control">{{ invoice.termsConditions }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="invoice-notes" class="form-label">Notes</label>
                        <textarea id="invoice-notes" class="form-control">{{ invoice.notes }}</textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="save-form" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>