{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .highlight {
            background-color: yellow;
        }

        .page-title {
            background-color: #f5f5f5;
            padding: 50px 0;
            text-align: center;
        }

        .page-title h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        .page-title ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .page-title ul li {
            display: inline;
        }

        .page-title ul li.dot-divider::after {
            content: "•";
            margin: 0 5px;
        }

        .bg-pattern img {
            max-width: 100%;
        }

        .blog-details-area {
            padding: 100px 0;
        }

        .blog-details h3 {
            font-size: 1.75rem;
            margin-bottom: 20px;
        }

        .form-control {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            font-size: 1rem;
        }

        .blog_description {
            background-color: #313131;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .description h2 {
            font-size: 1.6rem;
            margin-bottom: 10px;
        }

        .description p,
        .description ol {
            font-size: 1rem;
            line-height: 1.6;
        }

        description p {
            margin-bottom:1em;
        }

        .description ol {
            padding-left: 20px;
        }

        .description ol li {
            margin-bottom: 10px;
        }

        .form-control {
            background-color: #313131 !important; /* Dark background */
            color: #fff !important; /* White text color */
            border: 1px solid #ccc; /* Light gray border */
            border-radius: 4px; /* Rounded corners */
            padding: 10px; /* Padding inside the textarea */
            font-size: 1rem; /* Font size */
            resize: vertical; /* Allow vertical resizing */
            box-shadow: 0 12px 12px rgb(103 100 100 / 60%);
        }

        h3 {
            font-size:1.3em;
            margin-bottom:1.2em;
        }

        .side-bar {
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block page %}
    <!-- Page Title -->
    <div class="page-title animatedBackground">
        <div class="container">
            <h1>Free Keyword Density Analyzer: Optimize Your Content for SEO</h1>
            <ul>
                <li><a href="{{path('app_index')}}">Home</a></li>
                <li class="dot-divider"></li>
                <li>Keyword Checker</li>
            </ul>
        </div>
        <div class="bg-pattern"><img src="/img/joeseo.jpg" alt="pattern"></div>
    </div>
    <!-- End Page Title -->
    
    <!-- Blog Details Area -->
    <!-- Blog Details Area -->
    <section class="blog-details-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="blog-details">
                        <div class="blog-details-heading">
                            <h3>Add Keywords Separated by Commas</h3>
                        </div>
                        <form action="{{ path('keyword_checker') }}">
                            <div class="widget-box categories-box">
                                <textarea id="keywords" rows="10" required class="form-control" style="height:300px;" name="keywords"></textarea>
                            </div>
                            <br />
                            <button id="checkKeywordsBtn" class="btn btn-primary">NEXT</button>
                        </form>
                        <div class="screenshot mt-4">
                            <h3 class="mb-3">Screenshot</h3>
                            <img src="{{ asset('img/keyword-checker-screenshot.png') }}" alt="Keyword Density Checker Screenshot" class="img-fluid rounded" style="border: 2px solid white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="blog_description">
                        <div class="description">
                            <h2>About SEO Keyword Density Checker Online</h2>
                            <p>Are you looking to enhance your content's visibility and search engine ranking? Our free online Keyword Density Analyser tool is here to help! The keyword counter tool allows you to input your target keywords for your blog post or website content and then enter the text for your blog post or content. The content keyword density checker will check whether they're all used in your article.</p>

                            <p>Beyond changing the used keywords to yellow, it will give you two lists: "Unused keywords" and "Keyword Density." Analyze keyword density in the 'Keyword Density' list by checking how many times each keyword has been used. This is a free app to check SEO keyword density.</p>

                            <p>This free keyword density analyzer can be used as an article keyword checker or content SEO keyword density tool.</p>

                            <h2>Check Keyword Density With These Key Features:</h2>
                            <h3>What Our Free Keyword Density Checker Will Give You</h3>
                            <p>Our Keyword checker online tool scans your content to identify the frequency of specific keywords. It ensures you strike the right balance—enough to optimize for search engines without overstuffing your article with a specific keyword.</p>

                            <h2>How to use the Content/Article density checker</h2>
                            <ol>
                                <li>Enter the keywords into the text area on this page. You can add as many as you want.</li>
                                <li>Click on the "Next" button and paste in or write your article in the text area provided.</li>
                                <li>The keywords you entered in step 1 will be listed.</li>
                                <ul>
                                    <li>Keywords will be checked every 2 seconds after typing.</li>
                                    <li>Click on the "CHECK KEYWORDS" button if 2 seconds is too much time</li>
                                    <li>The keywords that have been used in the article will be highlighted in yellow.</li>
                                    <li>The keywords that haven't been used will be shown under "Unused Keywords".</li>
                                </ul>
                            </ol>
                            <p>Remember, effective keyword optimization is crucial for driving organic traffic to your website. Use our keyword density checker free of charge. Happy writing!</p>
                        </div>
                    </div>
                    <div class="side-bar">
                        <!-- You can add additional widgets or content here -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Area -->
{% endblock %}

{% block javascripts_bottom %}
    <script>
        $(document).ready(function () {
            var keywordsTextarea = $('#keywords');

            // Handle the paste event
            keywordsTextarea.on('paste', function (e) {
                // Allow the default paste behavior to complete first
                setTimeout(function () {
                    var keywords = keywordsTextarea.val().split('\n').map(function (phrase) {
                        return phrase.trim();
                    }).filter(function (phrase) {
                        return phrase !== '';
                    });
                    // Join the keywords with comma and space
                    keywordsTextarea.val(keywords.join(', '));
                }, 0);
            });
        });
    </script>
{% endblock %}
