{% extends 'inv_base.html.twig' %}

{% block stylesheets %}
<style>
.invoice_style2 .invoice-table thead th {
    background: -webkit-linear-gradient(top, {{invoice.theme.secColor}} -35.51%, #000000 196.64%);
    background: linear-gradient(180deg, {{invoice.theme.secColor}} -35.51%, #000000 196.64%);
}
.invoice_style2 .total-table tr:last-child{
    background: -webkit-linear-gradient(top, {{invoice.theme.secColor}} -35.51%, #000000 196.64%);
    background: linear-gradient(180deg, {{invoice.theme.secColor}} -35.51%, #000000 196.64%);    
}

{% if invoice.invoiceItems|length > 4 %}
@media print {
    body {
    zoom: 95%; /* Adjust the percentage as needed to fit content on one page */
  }
}
{% endif %}
</style>
{% endblock %}
{% block body %}

<body class="photography-template">
{% set logo_width = invoice.client.company.logoType == 'square' ? 150 : 300 %}
{% set max_height = invoice.client.company.logoType == 'square' ? 150 : 70 %}


    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->


    <!--********************************
   		Code Start From Here 
	******************************** -->

    <div class="invoice-container-wrap">
        <div class="invoice-container">
            <main>
                <!--==============================
Invoice Area
==============================-->
                <div class="th-invoice invoice_style2">
                    <div class="download-inner" id="download_section">
                        <!--==============================
	Header Area
==============================-->
                        <header class="th-header header-layout2">
                            <div class="row align-items-center justify-content-end">
                                <div class="col-4">
                                    <div class="header-logo">
                                        <a href="{{invoice.client.company.website}}"><img style="max-width:{{logo_width}}px;max-height:{{max_height}}px" src="/invoices/images/{{invoice.client.company.logoPath}}" alt="Joe SEO Invoice Generator"></a>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="row justify-content-between mb-30 mt-5 pt-4">
                            <div class="col-4">
                            {% if invoice.type == 'invoice' %}
                                <div class="invoice-left">
                                    <b>Invoiced To:</b>
                                    <address>
                                        {{invoice.client.name}} <br>
                                        {{invoice.client.contactDetails}} <br>
                                        {{invoice.client.address}} <br>
                                        {{invoice.client.email}} <br>
                                        {{invoice.client.phone}} <br>
                                    </address>
                                </div>
                            {% endif %}
                            </div>
                            <div class="col-4">
                            {% if invoice.type == 'invoice' %}
                                <div class="invoice-left">
                                    <b>{{invoice.client.company.companyName}}:</b>
                                    <address>
                                        {{invoice.client.company.email}}<br>
                                        {{invoice.client.company.phone}}<br>
                                        {{invoice.client.company.website}}<br>
                                    </address>

                                </div>
                            {% endif %}
                            </div>
                            <div class="col-auto">
                                <div class="invoice-right">
                                    <h1 class="big-title">{{invoice.type}}</h1>
                                    <p class="invoice-number"><b>Invoice No: </b>#{{invoice.invoiceNumber}}</p>
                                    <p class="invoice-date"><b>Date: </b>{{invoice.date|date('d-m-Y')}}</p>
                                </div>
                            </div>
                        </div>
                        <table class="invoice-table style2">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Item Description</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in invoice.invoiceItems %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.unitPrice|number_format}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.totalAmount|number_format}}</td>
                                </tr>
                            {% endfor %}
                            {% if invoice.invoiceItems|length < 3 %}                            
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endif %}

                            </tbody>
                        </table>
                        <div class="row justify-content-between">
                            <div class="col-7">
                                <div class="invoice-left mb-40">
                                {% if invoice.type == 'invoice' %}
                                    <b>Payment Info:</b>
                                    <p class="mb-0">{{invoice.paymentInfo|nl2br}}</p>
                                {% endif %}
                                </div>
                                <div class="invoice-left">
                                    <b>Terms & Conditions</b>
                                    <p class="mb-0">{{invoice.termsConditions|nl2br}}<br>
                                </div>
                            </div>
                            <div class="col-5">
                            {% if invoice.taxType == 'inclusive' %}
                                <table class="total-table">
                                    <tr>
                                        <th>Sub Total:</th>
                                        <td>KSh {{invoice.totalAmount|number_format}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tax:</th>
                                        <td>KSh {{invoice.tax|number_format}}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount:</th>
                                        <td>KSh {{invoice.discount|number_format}}</td>
                                    </tr>
                                    {% set finalAmount = (invoice.totalAmount - invoice.tax) - invoice.discount %}
                                    <tr>
                                        <th>Total:</th>
                                        <td>KSh {{finalAmount|number_format}}</td>
                                    </tr>
                                </table>
                            {% else %}
                                <table class="total-table">
                                    <tr>
                                        <th>Sub Total:</th>
                                        <td>KSh {{invoice.totalAmount|number_format}}</td>
                                    </tr>                                    
                                    <tr>
                                        <th>Tax:</th>
                                        <td>KSh {{invoice.tax|number_format}}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount:</th>
                                        <td>KSh {{invoice.discount|number_format}}</td>
                                    </tr>
                                    {% set finalAmount = (invoice.totalAmount + invoice.tax) - invoice.discount %}
                                    <tr>
                                        <th>Total:</th>
                                        <td>KSh {{finalAmount|number_format}}</td>
                                    </tr>
                                </table>
                            {% endif %}
                                <div class="invoice-note2 mt-25">
                                    <p class="mb-0"><b>NOTE:</b> {{invoice.notes}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer-info">
                            <p class="mb-0">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="20" height="20" rx="4" fill="#FDA40D" />
                                    <path d="M15.25 12C15.5312 12.125 15.7344 12.3203 15.8594 12.5859C15.9844 12.8359 16.0156 13.1094 15.9531 13.4062L15.4609 15.5391C15.3984 15.8359 15.2578 16.0703 15.0391 16.2422C14.8203 16.4141 14.5703 16.5 14.2891 16.5C12.3672 16.4844 10.6328 16.0156 9.08594 15.0938C7.55469 14.1719 6.32812 12.9453 5.40625 11.4141C4.48438 9.86719 4.01562 8.13281 4 6.21094C4 5.92969 4.08594 5.67969 4.25781 5.46094C4.42969 5.24219 4.66406 5.09375 4.96094 5.01562L7.09375 4.52344C7.39062 4.46094 7.66406 4.5 7.91406 4.64062C8.17969 4.76562 8.375 4.96875 8.5 5.25L9.48438 7.57031C9.59375 7.82031 9.61719 8.07812 9.55469 8.34375C9.49219 8.60938 9.35156 8.82812 9.13281 9L8.33594 9.65625C8.96094 10.7031 9.80469 11.5391 10.8672 12.1641L11.5234 11.3672C11.6953 11.1484 11.9141 11.0078 12.1797 10.9453C12.4453 10.8828 12.7031 10.9062 12.9531 11.0156L15.25 12ZM14.875 13.1484C14.875 13.1016 14.8516 13.0547 14.8047 13.0078L12.5078 12.0234C12.4609 12.0078 12.4219 12.0234 12.3906 12.0703L11.4531 13.1953C11.25 13.4141 11.0234 13.4688 10.7734 13.3594C9.97656 12.9688 9.26562 12.4609 8.64062 11.8359C8.03125 11.2109 7.52344 10.5 7.11719 9.70312C7.00781 9.4375 7.0625 9.21094 7.28125 9.02344L8.42969 8.10938C8.46094 8.07812 8.46875 8.03906 8.45312 7.99219L7.46875 5.69531C7.4375 5.64844 7.40625 5.625 7.375 5.625C7.35938 5.625 7.35156 5.625 7.35156 5.625L5.19531 6.11719C5.14844 6.13281 5.125 6.16406 5.125 6.21094C5.14062 7.91406 5.55469 9.45312 6.36719 10.8281C7.19531 12.2031 8.29688 13.3047 9.67188 14.1328C11.0469 14.9453 12.5859 15.3594 14.2891 15.375C14.3359 15.3594 14.3672 15.3359 14.3828 15.3047L14.875 13.1484Z" fill="url(#paint0_linear_384_4)" />
                                    <defs>
                                        <linearGradient id="paint0_linear_384_4" x1="9.99996" y1="14.9999" x2="9.99996" y2="4.99955" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="{{invoice.theme.priColor}}" />
                                            <stop offset="1" stop-color="{{invoice.theme.secColor}}" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                {{invoice.client.company.phone}}
                            </p>
                            <p class="mb-0">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="20" height="20" rx="4" fill="#FDA40D" />
                                    <path d="M4 7.5C4.01562 7.07812 4.16406 6.72656 4.44531 6.44531C4.72656 6.16406 5.07812 6.01562 5.5 6H14.5C14.9219 6.01562 15.2734 6.16406 15.5547 6.44531C15.8359 6.72656 15.9844 7.07812 16 7.5V13.5C15.9844 13.9219 15.8359 14.2734 15.5547 14.5547C15.2734 14.8359 14.9219 14.9844 14.5 15H5.5C5.07812 14.9844 4.72656 14.8359 4.44531 14.5547C4.16406 14.2734 4.01562 13.9219 4 13.5V7.5ZM5.125 7.5V8.01562L9.17969 11.3438C9.42969 11.5312 9.70312 11.625 10 11.625C10.2969 11.625 10.5781 11.5312 10.8438 11.3438L14.875 8.01562V7.47656C14.8594 7.25781 14.7344 7.13281 14.5 7.10156H5.5C5.26562 7.13281 5.14062 7.25781 5.125 7.47656V7.5ZM5.125 9.46875V13.5C5.14062 13.7344 5.26562 13.8594 5.5 13.875H14.5C14.7344 13.8594 14.8594 13.7344 14.875 13.5V9.46875L11.5469 12.2109C11.0781 12.5703 10.5625 12.75 10 12.75C9.4375 12.75 8.91406 12.5703 8.42969 12.2109L5.125 9.46875Z" fill="url(#paint0_linear_384_5)" />
                                    <defs>
                                        <linearGradient id="paint0_linear_384_5" x1="9.99996" y1="14.9999" x2="9.99996" y2="4.99955" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="{{invoice.theme.priColor}}" />
                                            <stop offset="1" stop-color="{{invoice.theme.secColor}}" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                {{invoice.client.company.email}}
                            </p>
                        </div>
                    </div>
                    <div class="body-shape1">
                        <svg width="850" height="110" viewBox="0 0 850 110" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M850 0H0V73H850V0Z" fill="url(#paint0_linear_376_2)"/>
                        <path d="M0 0V37.4403H455.014L480.78 103.294C485.306 107.589 491.525 110 498.008 110H850V50.929V0H0Z" fill="url(#paint1_linear_376_2)"/>
                        <defs>
                        <linearGradient id="paint0_linear_376_2" x1="424.997" y1="72.9979" x2="424.997" y2="-0.00504318" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F1840C"/>
                        <stop offset="1" stop-color="#FFAA0C"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_376_2" x1="424.997" y1="109.999" x2="424.997" y2="-0.00500279" gradientUnits="userSpaceOnUse">
                        <stop stop-color="{{invoice.theme.priColor}}"/>
                        <stop offset="1" stop-color="{{invoice.theme.secColor}}"/>
                        </linearGradient>
                        </defs>
                        </svg>                    </div>
                    <div class="body-shape2">
                        <svg width="850" height="67" viewBox="0 0 850 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M850 26H0V67H850V26Z" fill="url(#paint0_linear_376_3)"/>
                        <path d="M850 67V43.3272H394.986L372.979 9.94746C370.505 6.19383 367.271 2.83624 362.964 1.54705C359.599 0.539953 355.842 0 351.992 0H0V34.7929V67H850Z" fill="url(#paint1_linear_376_3)"/>
                        <defs>
                        <linearGradient id="paint0_linear_376_3" x1="424.997" y1="67.0027" x2="424.997" y2="26.001" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F1840C"/>
                        <stop offset="1" stop-color="#FFAA0C"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_376_3" x1="424.997" y1="-19.9931" x2="424.997" y2="67.0027" gradientUnits="userSpaceOnUse">
                        <stop stop-color="{{invoice.theme.priColor}}"/>
                        <stop offset="1" stop-color="{{invoice.theme.secColor}}"/>
                        </linearGradient>
                        </defs>
                        </svg>
                    </div>
                    {% include ('sections/buttons.html.twig') %}
                </div>


            </main>
        </div>
    </div>
    <!-- Invoice Conainter End -->

{% endblock %}
