{% extends 'inv_base.html.twig' %}

{% block stylesheets %}
<style>
{% if invoice.invoiceItems|length > 4 %}
    @media print {
        body {
        zoom: 90%!important; /* Adjust the percentage as needed to fit content on one page */
    }
    }
{% endif %}
</style>
{% endblock %}
{% block body %}

<div class="restaurant-template">
    {% set logo_width = invoice.client.company.logoType == 'square' ? 55 : 300 %}
    {% set max_height = invoice.client.company.logoType == 'square' ? 55 : 50 %}


    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->


    <!--********************************
   		Code Start From Here 
	******************************** -->

    <div class="invoice-container-wrap">
        <div class="invoice-container">
            <main>
                <!--==============================Invoice Area==============================-->
                <div class="th-invoice invoice_style1">
                    <div class="download-inner" id="download_section">
                        <!--==============================	Header Area==============================-->
                        <header class="th-header header-layout1">
                            <div class="logo-shape">
                                <svg width="365" height="128" viewBox="0 0 365 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M365 128H0L104.831 0H365V128Z" fill="{{invoice.theme.priColor}}" />
                                </svg>
                            </div>
                            <div class="right-shape">
                                <svg width="482" height="100" viewBox="0 0 482 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M77.7084 0L0 100H482V0H77.7084Z" fill="url(#paint0_linear_307_1954)" />
                                    <defs>
                                        <linearGradient id="paint0_linear_307_1954" x1="240.998" y1="99.999" x2="240.998" y2="-0.00454799" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#000000" />
                                            <stop offset="1" stop-color="{{invoice.theme.secColor}}" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <div class="left-shape">
                                <svg width="387" height="100" viewBox="0 0 387 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0V100H304.237L387 0H0Z" fill="{{invoice.theme.priColor}}" />
                                </svg>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <div class="header-logo">
                                        <a href="{{invoice.client.company.website}}"><img style="max-width:{{logo_width}}px; max-height:{{max_height}}px" src="/invoices/images/{{invoice.client.company.logoPath}}" alt="Joe SEO Invoice Generator"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-bottom">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto">
                                        <h1 class="big-title">{{invoice.type}}</h1>
                                    </div>
                                    <div class="col-auto">
                                        <p class="invoice-number"><b>{{invoice.type|title}} No: </b>#{{invoice.invoiceNumber}}</p>
                                        <p class="invoice-date"><b>Date: </b>{{invoice.date|date('d-m-Y')}}</p>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="row justify-content-between mb-30">
                            <div class="col-auto">
                            {% if invoice.type == 'invoice' %}
                                <div class="invoice-left">
                                    <b>Invoiced To:</b>
                                    <address>
                                        {{invoice.client.name}} <br>
                                        {{invoice.client.contactDetails}} <br>
                                        {{invoice.client.address}} <br>
                                        {{invoice.client.email}} <br>
                                        {{invoice.client.phone}} <br>
                                    </address>
                                </div>
                            {% endif %}
                            </div>
                            <div class="col-auto">
                            {% if invoice.type == 'invoice' %}
                                <div class="invoice-right">
                                    <b>Pay To:</b>
                                    <address>
                                    {{invoice.client.company.companyName}}<br>
                                    {{invoice.client.company.email}}<br>
                                    {{invoice.client.company.phone}}<br>
                                    {{invoice.client.company.website}}<br>
                                    </address>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        <table class="invoice-table td-big">
                            <thead>
                                <tr>
                                    <th style="background-color:{{invoice.theme.priColor}}">SL</th>
                                    <th style="background-color:{{invoice.theme.priColor}}">Item Description</th>
                                    <th style="background-color:{{invoice.theme.priColor}}">Price</th>
                                    <th style="background-color:{{invoice.theme.priColor}}">Qty</th>
                                    <th style="background-color:{{invoice.theme.priColor}}">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in invoice.invoiceItems %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.unitPrice|number_format}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.totalAmount|number_format}}</td>
                                </tr>
                            {% endfor %}
                            {% if invoice.invoiceItems|length < 3 %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <div class="invoice-left" style="max-width:300px;">
                                    <b>Terms & Conditions</b>
                                    <p class="mb-0">{{invoice.termsConditions|nl2br}}</p>
                                </div>
                                <div class="invoice-note2 mt-25" style="max-width:300px">
                                    <p class="mb-0"><b>NOTE:</b> {{invoice.notes|nl2br}}.</p>
                                </div>
                                <div class="invoice-note2 mt-25" style="max-width:300px">
                                    <p class="mb-0"><b>Payment:</b> {{invoice.paymentInfo|nl2br}}.</p>
                                </div>
                            </div>
                            <div class="col-auto">
                            {% if invoice.taxType == 'inclusive' %}
                                <table class="total-table">
                                    <tr>
                                        <th>Sub Total:</th>
                                        <td>KSh {{invoice.totalAmount|number_format}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tax:</th>
                                        <td>KSh {{invoice.tax|number_format}}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount:</th>
                                        <td>KSh {{invoice.discount|number_format}}</td>
                                    </tr>
                                    {% set finalAmount = (invoice.totalAmount - invoice.tax) - invoice.discount %}
                                    <tr>
                                        <th>Total:</th>
                                        <td>KSh {{finalAmount|number_format}}</td>
                                    </tr>
                                </table>
                            {% else %}
                                <table class="total-table">
                                    <tr>
                                        <th>Sub Total:</th>
                                        <td>KSh {{invoice.totalAmount|number_format}}</td>
                                    </tr>                                    
                                    <tr>
                                        <th>Tax:</th>
                                        <td>KSh {{invoice.tax|number_format}}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount:</th>
                                        <td>KSh {{invoice.discount|number_format}}</td>
                                    </tr>
                                    {% set finalAmount = (invoice.totalAmount + invoice.tax) - invoice.discount %}
                                    <tr>
                                        <th>Total:</th>
                                        <td>KSh {{finalAmount|number_format}}</td>
                                    </tr>
                                </table>
                            {% endif %}
                            </div>
                        </div>
                        <div class="body-shape1">
                            {# <img class="svg_img" src="{{asset('invoices/basic/assets/img/template/restaurant_block.svg') }}" alt="shape"> #}
                            <svg xmlns="http://www.w3.org/2000/svg" width="850" height="47" viewBox="0 0 850 47" fill="none">
                            <path d="M876.446 127H447.613L552.404 0H876.446V127Z" fill="{{invoice.theme.priColor}}"/>
                            <path d="M453.555 22.1582L370.82 122.448H884V22.1582H453.555Z" fill="url(#paint0_linear_307_1307)"/>
                            <path d="M-35 22.1582V122.448H307.12L389.855 22.1582H-35Z" fill="{{invoice.theme.priColor}}"/>
                            <defs>
                            <linearGradient id="paint0_linear_307_1307" x1="627.408" y1="122.447" x2="627.408" y2="22.1536" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#000000"/>
                            <stop offset="1" stop-color="{{invoice.theme.secColor}}"/>
                            </linearGradient>
                            </defs>
                            </svg>
                        </div>
                    </div>
                    {% include ('sections/buttons.html.twig') %}
                </div>
            </main>
        </div>
    </div>
    <!-- Invoice Conainter End -->
{% endblock %}
