{% extends 'base.html.twig' %}
{% block stylesheets %}  {% endblock %}
{% block page %}

		<!-- Main Banner -->
        <div class="main-banner-two">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
							<div class="col-lg-6">
								<div class="banner-image">
									<img src="{{asset('site/assets/img/successful_seo.jpeg') }}" alt="banner-img">
								</div>
                            </div>
							
                            <div class="col-lg-6">
                                <div class="hero-content">
                                    <h1>SEO Services <soan>in Nairobi</span></h1>
									
                                    <p>Welcome to Joe SEO Consultants, your trusted partner in Search Engine Optimization (SEO). As Nairobi’s leading SEO company, we understand the unique challenges faced by local businesses seeking to thrive in the digital landscape. Let’s dive into how our tailored SEO services can elevate your online presence and drive tangible results.</p>
                                    <p>Our approach emphasizes the importance of search engine optimization in Nairobi, emphasizing techniques such as organic search, effective SEO strategies, achieving better search engine results, mastering search marketing, and partnering with a reliable SEO company. </p>
                                    <a href="tel:0765356000" class="btn btn-primary">Call Us Now</a>
                                    {# <a href="https://www.youtube.com/watch?v=abcdefgijk" class="video-btn">Watch Testimonial<i class="icofont-play-alt-3"></i></a> #}
                                    <a href="#requestAudig" class="btn btn-secondary">Request Free Audit</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="circle-pattern-1"></div>
        </div>
        <!-- End Main Banner -->
        		
        <!-- About Area -->
        <section class="about-area ptb-100 pt-0 bg-fbf9f8">

           
            <div class="circle-pattern-2"></div>
            
            <div class="container">
                <div class="section-title">
                    <h2><span>Improve the visibility of your Nairobi Business.</span></h2>
                    <p>Experience the convenience of having all your services centralized in one place. Begin ranking even as your website is in the process of taking shape.</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-box">
                            <div class="icon">
                                <i class="icofont-rocket-alt-1"></i>
                            </div>
                            <h3>SEO Services</h3>
                            <p>We help you increase your income by being found by people who are searching for your products or services in Nairobi.</p>
                            <a href="https://joeseo.co.ke" class="read-more-btn">Get SEO Services</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="single-box">
                            <div class="icon">
                                <i class="icofont-google-map"></i>
                            </div>
                            <h3>GBP(GMB) Optimization</h3>
                            <p>We help you appear in Google Business Profile map pack when people search for your products or services in Nairoti.</p>
                            <a href="#" class="read-more-btn">Get GBP Optimization</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="single-box">
                            <div class="icon">
                                <i class="icofont-web"></i>
                            </div>
                            <h3>Web Development</h3>
                            <p>We help you build your Nairobi business website from scratch with SEO, Google Business Profile and ROI in consideration.</p>
                            <a href="https://joeseo.co.ke/seo-friendly-web-development" class="read-more-btn">Web Dev. Services</a>
                        </div>
                    </div>
                    
                </div>
            </div>
                        
        </section>
        <!-- End About Area -->
        
		
        <!-- Features Area -->
        <section class="features-area ptb-100">
           
            <div class="circle-pattern-2"></div>
            
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6 col-md-12">
                        <div class="about-text">
                            <h2><span>Why SEO Matters for Nairobi Businesses</span></h2>
                            <h3>The Nairobi Advantage</h3>
                            <p>Nairobi, the vibrant heart of Kenya, pulsates with entrepreneurial energy. From bustling markets to tech startups, businesses here are hungry for growth. But how do you stand out in a sea of competitors? The answer lies in strategic SEO.</p>
                            <h3>The Power of Organic Search</h3>
                            <p>Imagine your business appearing on the first page of Google when potential clients search for services you offer. That’s the magic of SEO. Here’s why it matters:</p>
                            <ul>
                                <li>Visibility: High rankings mean more eyes on your website.</li>
                                <li>Credibility: Top positions signal trustworthiness.</li>
                                <li>Targeted Traffic: Quality visitors who are actively seeking what you provide.</li>
                                <li>Cost Effective: Unlike paid ads, organic traffic doesn’t break the bank.</li>
                            </ul>
                            <p>Somehow, people who find you on google have very high purchase intent and it is very likely to increase your sales and thus increase your revenue.</p>
                            <p>Take the opportunity to rank and you will find it worth the effort.</p>
                            <a href="tel:0711832933" class="read-more-btn">Call Us Now</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="about-text">
                            <h2><span>Your Journey to SEO Success</span></h2>
                            <h3>On-Page Brilliance</h3>
                            <p><strong>Title Tags and Meta Descriptions</strong> Craft compelling titles and meta descriptions. These are your first impressions on searchers.</p>
                            <p><strong>Header Tags (H1, H2, H3)</strong> Organize content with header tags. They’re like signposts for search engines.</p>
                            <p><strong>URL Elegance</strong> Clean, descriptive URLs make navigation a breeze.</p>
                            <h3>Off-Page Enchantment</h3>
                            <p><strong>Link Building Spells</strong> Quality over quantity. We conjure authoritative backlinks to boost your site’s mojo.</p>
                            <p><strong>Social Charms</strong> Engage on social media. Share your content, connect with your audience, and build a community.</p>
                            <p><strong>Local Directory Potions</strong> We sprinkle your business details across Nairobi directories. Consistent NAP (Name, Address, Phone) is our secret ingredient.</p>
                            <a href="tel:0711832933" class="read-more-btn">Call Us Now</a>
                        </div>
                    </div>
                </div>
                
                <div class="row ptb-100">
                    <div class="col-lg-6 col-md-6">
                        <div class="features-text about-text">
                            <h2><span>Local SEO Optimization</span></h2><br />
                            <h3>Google My Business (GMB)</h3>
                            <p>Claim and optimize your GMB (Google Business Profile - GBP) listing. It’s like putting your business on the Nairobi map. Accurate information, positive reviews, and engaging photos matter.</p><br />
                            <h3>Local Keywords</h3>
                            <p>Research Nairobi-specific keywords. Think “SEO Nairobi,” “digital marketing in Nairobi,” and “Nairobi SEO services.” We’ll weave these gems into your content.</p><br />
                            <h3>Local Backlinks</h3>
                            <p>Forge connections with Nairobi influencers, bloggers, and industry peers. Quality backlinks from local websites boost your authority.</p><br />
                            <a href="tel:0711832933" class="btn btn-primary">Call Now</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="img mb-0">
                            <img src="{{asset('site/assets/img/local-seo.jpeg') }}" alt="01">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="img">
                            <img src="{{asset('site/assets/img/content-writing.jpeg') }}" alt="01">
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="features-text about-text mb-0">
                            <h2><span>Crafting Engaging Content</span></h2>
                            <h3>Keyword Research</h3>
                            <p>We delve deep to uncover the keywords your potential clients are typing into search engines. These gems guide our content strategy.</p>
                            <h3>High-Quality Content</h3>
                            <p>Our team of skilled writers crafts informative, engaging content. Blog posts, guides, and case studies showcase your expertise.</p>
                            <h3>Local Flavor</h3>
                            <p>We infuse Nairobi’s spirit into our content. Whether it’s a feature on local success stories or an exploration of Nairobi’s vibrant culture, we’ve got you covered.</p>

                            <a href="tel:0711832933" class="btn btn-primary">Call Us Now</a>
                        </div>
                    </div>
                </div>

                <div class="row ptb-100">
                    <div class="col-lg-6 col-md-6">
                        <div class="features-text about-text">
                            <h2><span>Technical Wizardry</span></h2><br />
                            <h3>Mobile Optimization</h3>
                            <p>Your website must shine on mobile devices. Google rewards mobile-friendly sites with better rankings.</p>

                            <h3>Page Speed Magic</h3>
                            <p>Slow websites frustrate users. We optimize load times for a seamless experience.</p>

                            <h3>Structured Data Sorcery</h3>
                            <p>Schema markup adds magic to your content. Rich snippets make you stand out in search results.</p>

                            <a href="tel:0711832933" class="btn btn-primary">Call Now</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="img mb-0">
                            <img src="{{asset('site/assets/img/SEO-analysis.jpeg') }}" alt="01">
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="rocket"><img src="{{asset('site/assets/img/rocket.png') }}" alt="rocket"></div>
            
            <div class="vector"><img src="{{asset('site/assets/img/vector-bg.png') }}" alt="vector"></div>
            
        </section>
        <!-- End Features Area -->
        
        {% include('sections/audit_request.html.twig') %}

        {% include('sections/projects.html.twig') %}

        <!-- Working Process Area -->
        <section class="working-process-area ptb-100 bg-fbf9f8">
            <div class="container">
                <div class="section-title">
                    <span>Work Flow</span>
                    <h3>Our Working Process</h3>
                    <p>We enjoy adapting our strategies to offer every client the best solutions that are at the forefront of the industry.</p>
                    
                    <a href="#" class="read-more-btn">Read more</a>
                </div>
                
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="single-work-process">
                            <div class="icon">
                                <i class="icofont-read-book"></i>
                            </div>
                            <h3>Planning</h3>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="single-work-process">
                            <div class="icon">
                                <i class="icofont-light-bulb"></i>
                            </div>
                            <h3>Research</h3>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="single-work-process">
                            <div class="icon">
                                <i class="icofont-mathematical"></i>
                            </div>
                            <h3>Optimizing</h3>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <div class="single-work-process">
                            <div class="icon">
                                <i class="icofont-laptop-alt"></i>
                            </div>
                            <h3>Results</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Working Process Area -->
        
        <!-- Team Area -->
        {% include('sections/cta.html.twig') %}
        <!-- End Team Area -->
        
        {% include('sections/testimonials.html.twig') %}
                        
        {% include('sections/pricing.html.twig') %}

        {% include('sections/partners.html.twig') %}

        {% include('sections/blog_area.html.twig') %}    

{% endblock %}