#keyword-tool {
    position: fixed;
    bottom: 320px;
    right: 20px;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

#open-tool {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#open-tool:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#tool-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    position: absolute;
    bottom: 60px;
    right: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#keyword-input {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

#check-keywords, #end-task {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

#check-keywords:hover, #end-task:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

#results {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 200px;
    overflow-y: scroll;
    margin-top: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

#results p {
    color: #000000!important;
}

mark {
    background-color: yellow;
    color: black;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 3px;
}
