{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{# {% block content_title %}{{ block('page_title') }}{% endblock %}

{% block main %}{{ block('page_content') }}{% endblock %} #}
{% block main %}
{# {{dump(invoices)}} #}

  <main class="container-fluid">
    <div class="row px-3">
      <div class="col-md-6">
        <h2>Recent Invoices</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Invoice Number</th>
              <th>Client Name</th>
              <th>Total Amount</th>
              <th>Date Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for invoice in invoices %}
            <tr>
              <td>{{invoice.invoiceNumber}}</td>
              <td>{{invoice.client.name}}</td>
              <td>{{invoice.totalAmount}}</td>
              <td>{{invoice.date|date('d-m-Y')}}</td>
              <td>
                <a href="{{path('invoice_generator', {'i-n': invoice.invoiceNumber })}}" class="btn btn-sm btn-info">Invoice Editor</a>
                {# <a href="#" class="btn btn-sm btn-danger">Delete</a> #}
              </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {# {{ render_chart(chart) }} #}
      </div>
    </div>

  </main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe1mKYuCWbKdEzZrLlMrg85gM1mthGkGfwTqUHS3ybo9xD5YvQv/QZ" crossorigin=""

{% endblock %}

{# popular theme #}
{# history of invoices created by logged in user #}