@media print {
    

  @page {
    /* Set headers and footers to be blank */
    @top-center { content: ""; }
    @top-left { content: ""; }
    @top-right { content: ""; }
    @bottom-center { content: ""; }
    @bottom-left { content: ""; }
    @bottom-right { content: ""; }
    size: auto; /* Choose the paper size you want */
    margin: 0mm; /* Adjust margins as needed */

  }

  /*.invoice-container-wrap {
      page-break-before: always; /* Force the entire content to start on a new page 
      page-break-after: avoid; /* Avoid page breaks after the content 
  }*/

  .invoice-container {
      width: 100%; /* Ensure the content spans the full width of the page */
      padding:0;
  }

  .download-inner {
      /* Adjust styles as needed */
      padding: 10px;
  }

  .invoice-table th,
  .invoice-table td {
      /* Adjust styles as needed */
      padding: 5px;
  }

  /* body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  } */
  
  /* .invoice-container {
    height: 100%;
  } */
  /* .invoice-container-wrap{
    height: 100%;
  } */

  .th-invoice .download-inner {
    padding:50px;
  }

  .no-print {
    display: none!important;
  }

  .invoice-table th {
    color:white!important;
  }
}
