{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

<style>

.blog-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    margin: 0;
}

.blog-post {
    background-color: #ffffff;
    padding: 25px;
    margin: 20px auto;
    max-width: 850px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.blog-header {
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
}

.blog-date {
    background-color: #ff6347;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
}

.blog-title {
    font-size: 36px;
    color: #333;
    margin: 20px 0 10px;
    font-weight: 600;
}

.blog-author {
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-content h2 {
    font-size: 26px;
    color: #ff6347;
    margin-top: 30px;
    font-weight: 600;
}

.blog-content ul {
    padding-left: 25px;
    margin-top: 15px;
}

.blog-content ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.blog-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.blog-content p strong {
    font-weight: 600;
}

a {
    color: #ff6347;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

</style>
{%  endblock %}
{% block page %}

        <!-- Page Title -->
        <div class="page-title animatedBackground">
            <div class="container">
                <h1>{{post.title}}</h1>
                <ul>
                    <li><a href="{{path('app_index')}}">Home</a></li>
                    <li class="dot-divider"></li>
                    <li>Blog</li>
                </ul>
            </div>
            
            <div class="bg-pattern"><img src="/img/joeseo.jpg" alt="pattern"></div>
        </div>
        <!-- End Page Title -->
        
        <!-- Blog Details Area -->
        <section class="blog-details-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="blog-details">
                            <div class="thumb">
                                {% if post.videoEmbed is not null %}
                                {{post.videoEmbed|raw}}
                                {% else %}
                                <img style="width:100%" src="/site/images/blog_images/{{post.imageUrl}}" alt="details">
                                {% endif %}
                                
                                <div class="date">
                                    <span>{{post.publicationDate|date('jS M Y')}}</span>
                                </div>
                            </div>
                            
                            <div class="blog-details-heading">
                                <h3>Joe SEO Blog.</h3>
                                <ul>
                                    <li>Posted By: <a href="#">{{post.author}}</a></li>
                                    {# <li><a href="#"><i class="icofont-comment"></i> 05</a></li>
                                    <li><a href="#"><i class="icofont-thumbs-up"></i> 15</a></li> #}
                                </ul>
                            </div>
                            
                            <div class="blog-details-content blog-content">
                                <div id="table-of-contents"></div>
                                {{post.content|raw}}
                                <div class="blog-details-meta">
                                    <div class="tags">
                                        <ul>
                                            <li class="title">Tags:</li>
                                            <li><a href="#">{{post.tags}}</a></li>
                                        </ul>
                                    </div>
                                    
                                    <div class="share">
                                        <ul>
                                            <li class="title">Share:</li>
                                            <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                                {# <div class="blog-details-comments">
                                    <h3 class="title">Comments (03)</h3>
                                    <div class="single-comments">
                                        <div class="thumb">
                                            <img src="assets/img/client-avatar1.jpg" alt="client">
                                        </div>
                                        
                                        <div class="content">
                                            <h4>Steven Smith</h4>
                                            <span>December 30, 2022</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                            <a href="#">Reply <i class="icofont-reply"></i></a>
                                        </div>
                                    </div>
                                    
                                    <div class="single-comments left-mr">
                                        <div class="thumb">
                                            <img src="assets/img/client-avatar1.jpg" alt="client">
                                        </div>
                                        
                                        <div class="content">
                                            <h4>Eva Smith</h4>
                                            <span>December 30, 2022</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                            <a href="#">Reply <i class="icofont-reply"></i></a>
                                        </div>
                                    </div>
                                    
                                    <div class="border"></div>
                                    
                                    <div class="single-comments">
                                        <div class="thumb">
                                            <img src="assets/img/client-avatar1.jpg" alt="client">
                                        </div>
                                        
                                        <div class="content">
                                            <h4>John Doe</h4>
                                            <span>December 30, 2022</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                            <a href="#">Reply <i class="icofont-reply"></i></a>
                                        </div>
                                    </div>
                                    
                                    <div class="border"></div>
                                    
                                    <div class="single-comments">
                                        <div class="thumb">
                                            <img src="assets/img/client-avatar1.jpg" alt="client">
                                        </div>
                                        
                                        <div class="content">
                                            <h4>David Warner</h4>
                                            <span>December 30, 2022</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                            <a href="#">Reply <i class="icofont-reply"></i></a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="blog-details-comments-form">
                                    <h3 class="title">Leave a Reply</h3>
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Name">
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <textarea cols="30" rows="6" class="form-control" placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-12 col-md-12">
                                                <button class="btn btn-primary" type="submit">Submit <i class="fa fa-angle-double-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div> #}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="side-bar mb-0">
                            <div class="widget-box search-box">
                                <form>
                                    <input type="text" placeholder="Search here..." class="form-control">
                                    <button type="submit"><i class="icofont-search-2"></i></button>
                                </form>
                            </div>

                            <div class="widget-box categories-box">
                                <h3 class="title">Categories</h3>

                                <ul>
                                {% for category in blogCategories %}
                                    <li><a href="{{path('app_blog_category', {'category': category.categoryName })}}"><i class="icofont-dotted-right"></i> {{category.categoryName|replace({'_': ' '})}}</a></li>
                                {% endfor %}
                                </ul>
                            </div>

                            {# <div class="widget-box tags-box">
                                <h3 class="title">Tags</h3>

                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Branding</a></li>
                                    <li><a href="#">Entertainment</a></li>
                                    <li><a href="#">Arts</a></li>
                                    <li><a href="#">Blog Post</a></li>
                                    <li><a href="#">Seo Analysis</a></li>
                                    <li><a href="#">Marketing</a></li>
                                    <li><a href="#">Email Marketing</a></li>
                                </ul>
                            </div> #}

                            <div class="widget-box recent-post-box mb-0">
                                <h3 class="title">Recent Post</h3>

                                <ul>
                                    {% for blog in recentBlogs %}
                                    <li>
                                        <div class="recent-post-thumb">
                                            <a href="#"><img src="/site/images/blog_images/{{blog.imageUrl}}" alt="pic"></a>
                                        </div>

                                        <div class="recent-post-desc">
                                            <h3><a href="#">{{blog.title}}</a></h3>
                                            <span class="date">{{blog.publicationDate|date('jS M Y')}}</span>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Blog Details Area -->
        
{% endblock %}
