{% extends 'base.html.twig' %}
{% block stylesheets %}  {% endblock %}

{% block page %}
        <!-- Page Title -->
        <div class="page-title animatedBackground">
            <div class="container">
                <h1>Updates And Tips From JoeSEO</h1>
                <ul>
                    <li><a href="{{path('app_index')}}">Home</a></li>
                    <li class="dot-divider"></li>
                    <li>Blog</li>
                </ul>
            </div>
            
            <div class="bg-pattern"><img src="/img/joeseo.jpg" alt="pattern"></div>
        </div>
        <!-- End Page Title -->

        <!-- Blog Area -->
        <section class="blog-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="row">
                            {% for post in posts|reverse %}
                            <div class="col-lg-6 col-md-6">
                                <div class="single-blog-post">
                                    <a href="{{path('blog_detail', {'slug': post.slug})}}" class="blog-image"><img src="/site/images/blog_images/{{post.imageUrl}}" alt="blog"></a>
                                    
                                    <div class="blog-post-content">
                                        <h2 style="font-size:1.1em"><span>{% for category in post.categories %} {{ category|replace({'_': ' '}) ~ ' ' }} {% endfor %}</span><h2>
                                        <h4><a href="{{path('blog_detail', {'slug': post.slug})}}">{{post.title}}</a></h4>
                                        <p>{{post.content|striptags|slice(0,200)|raw|nl2br}}...</p>
                                        <a href="{{path('blog_detail', {'slug': post.slug })}}" class="read-more-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="side-bar mb-0">
                            <div class="widget-box search-box">
                                <form>
                                    <input type="text" placeholder="Search here..." class="form-control">
                                    <button type="submit"><i class="icofont-search-2"></i></button>
                                </form>
                            </div>

                            <div class="widget-box categories-box">
                                <h3 class="title">Categories</h3>

                                <ul>
                                {% for category in blogCategories %}
                                    <li><a href="{{path('app_blog_category', {'category': category.categoryName })}}"><i class="icofont-dotted-right"></i> {{category.categoryName|replace({'_': ' '})}}</a></li>
                                {% endfor %}
                                </ul>
                            </div>

                            {# <div class="widget-box tags-box">
                                <h3 class="title">Tags</h3>

                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Branding</a></li>
                                    <li><a href="#">Entertainment</a></li>
                                    <li><a href="#">Arts</a></li>
                                    <li><a href="#">Blog Post</a></li>
                                    <li><a href="#">Seo Analysis</a></li>
                                    <li><a href="#">Marketing</a></li>
                                    <li><a href="#">Email Marketing</a></li>
                                </ul>
                            </div> #}

                            <div class="widget-box recent-post-box mb-0">
                                <h3 class="title">Recent Post</h3>

                                <ul>
                                    {% for blog in recentBlogs %}
                                    <li>
                                        <div class="recent-post-thumb">
                                            <a href="#"><img src="/site/images/blog_images/{{blog.imageUrl}}" alt="pic"></a>
                                        </div>

                                        <div class="recent-post-desc">
                                            <h3><a href="#">{{blog.title}}</a></h3>
                                            <span class="date">{{blog.publicationDate|date('jS M Y')}}</span>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area -->
        
{% endblock %}
