.h-1-text{
    font-size: 60px!important;
    font-weight: 700!important;
    line-height: 1.1!important;
}
.normal-text{
    margin-bottom: 35px!important;
    margin-top: 25px!important;
    font-size: 19px!important;
    line-height: 1.8!important;
}
.h-1-text span{
    color: #ff6d34;
    position: relative;
    z-index: 1;
}
.theme-dark .hero-content .h-1-text span::after {
    background: #ffffff;
}
.hero-content .h-1-text span::after {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    height: 15px;
    z-index: -1;
    background: #283a5e;
}
#whatsapp-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999; /* Adjust the z-index as needed */
    color: white; /* Change the text color */
    padding:5px;
    border-radius: 50%;
    cursor: pointer;
    /* Add other styles as needed */
}
.colored-underline {
    border-bottom: 4px solid #FF6D34; /* You can change 'red' to any color you prefer */
    display: inline;
    padding-bottom: 2px; /* Adjust the padding as needed */
}
.theme-dark div {
    color: #cacaca;
}
.grecaptcha-badge { visibility: hidden!important; }
.project-details h2 {
    font-size: 1.5rem!important; /* Adjust size based on how large you want the heading */
    font-weight: bold!important; /* Ensures a strong visual difference from the body text */
    color: #FFFFFF!important; /* Matching the white color from your screenshot */
    margin-bottom: 1rem!important; /* Adds spacing below the heading */
    line-height: 1.2!important; /* Ensures good spacing between lines if the heading is multi-line */
}

.project-details p {
    font-size: 1.1rem!important; /* Body text size for better readability */
    color: #CCCCCC!important; /* Lighter gray text color */
    line-height: 1.6!important; /* Improves readability by adding space between lines */
    margin-bottom: 1.5rem!important; /* Adds spacing between paragraphs */
}
.project-details h3 {
    font-size: 1.3rem!important; /* Slightly smaller than h2 */
    font-weight: bold!important; /* Maintain boldness for emphasis */
    color: #FFFFFF!important; /* Same color as h2 */
    margin-bottom: 0.75rem!important; /* A bit less spacing compared to h2 */
    line-height: 1.3!important; /* Good spacing between lines for readability */
}

.project-details ul, .project-details ol {
    padding-left: 1.5rem; /* Indent the list for better structure */
    margin-bottom: 1.5rem; /* Space below the list for separation */
}

.project-details li {
    font-size: 1rem; /* Match the body text size */
    color: #FFFFFF; /* White text for contrast on dark background */
    line-height: 1.6; /* Improved readability */
    margin-bottom: 0.5rem; /* Space between list items */
}

.project-details li::marker { /* For unordered lists */
    color: #ff6d34; /* Gold color for bullet points */
}

.project-details ol {
    list-style-type: decimal; /* Use numbers for ordered lists */
}

.project-details ul {
    list-style-type: disc; /* Use bullets for unordered lists */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    margin: 0;

}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    margin: 0;

}

.blog-content {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
line-height: 1.8;
margin: 0;
}

.blog-post {
background-color: #ffffff;
padding: 25px;
margin: 20px auto;
max-width: 850px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
border-radius: 8px;
}

.blog-header {
border-bottom: 2px solid #eee;
padding-bottom: 15px;
}

.blog-date {
background-color: #ff6347;
color: white;
padding: 5px 10px;
text-align: center;
font-size: 14px;
display: inline-block;
border-radius: 5px;
}

.blog-title {
font-size: 36px;
color: #333;
margin: 20px 0 10px;
font-weight: 600;
}

.blog-author {
font-size: 16px;
color: #555;
margin-bottom: 20px;
}

.blog-content h2 {
font-size: 26px;
color: #ff6347;
margin-top: 30px;
font-weight: 600;
}

.blog-content ul {
padding-left: 25px;
margin-top: 15px;
}

.blog-content ul li {
margin-bottom: 10px;
font-size: 18px;
}

.blog-content p {
font-size: 18px;
margin-bottom: 20px;
color: #555;
}

.blog-content p strong {
font-weight: 600;
}

a {
color: #ff6347;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.joeseo-support-person__img img {
    width:70px; 
    border-radius:50%;
}
