@media only screen and (max-width: 767px) {
  .spinner {
    margin: -70px auto 0 -40px;
  }
  .ptb-100 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  p {
    font-size: 14px;
  }
  .btn {
    font-size: 13px;
    padding: 13px 30px;
  }
  .section-title {
    margin-bottom: 35px;
  }
  .section-title span {
    font-size: 15px;
  }
  .section-title h3 {
    font-size: 23px;
    max-width: 100%;
    line-height: 31px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section-title .read-more-btn {
    display: none;
  }
  .form-control {
    height: 45px;
    font-size: 14px;
    padding: 11px 14px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .header-area {
    text-align: center;
  }
  .header-area .header-info {
    display: none;
  }
  .header-area .social-links li a {
    margin-left: 6px;
    font-size: 14px;
  }
  .main-banner {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-content h1 {
    font-size: 30px;
    line-height: 1.3;
  }
  .hero-content h1 span::after {
    bottom: 7px;
    height: 8px;
  }
  .hero-content p {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 16px;
  }
  .hero-content .btn {
    margin-right: 10px;
  }
  .video-btn {
    padding-right: 35px;
    font-size: 13px;
  }
  .video-btn i {
    margin-left: 10px;
    font-size: 27px;
    bottom: -4px;
  }
  .hero-image {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 35px;
    padding: 0 15px;
  }
  .main-banner-two {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-banner-two .hero-content {
    margin-top: 40px;
  }
  .main-banner-two .banner-image {
    margin-top: 0;
  }
  .banner-image {
    margin-top: 50px;
  }
  .main-banner-three {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 110px;
  }
  .main-banner-three .banner-image {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    top: auto;
    bottom: 35px;
  }
  .main-banner-four {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 110px;
  }
  .main-banner-four .banner-image {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .single-box {
    padding: 15px;
    margin-bottom: 30px;
  }
  .single-box .icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
  .single-box h3 {
    font-size: 19px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .about-image {
    margin-top: 30px;
  }
  .about-text {
    margin-top: 50px;
    padding-left: 0;
  }
  .about-text span {
    font-size: 14px;
  }
  .about-text h3 {
    font-size: 23px;
    margin: 15px 0 20px;
    line-height: 30px;
  }
  .about-text p {
    margin-bottom: 15px;
  }
  .circle-pattern-2 {
    top: -10px;
    bottom: auto;
  }
  .rocket {
    display: none;
  }
  .vector {
    display: none;
  }
  .page-title {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .page-title h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .page-title ul li {
    font-size: 15px;
  }
  .services-area {
    padding-bottom: 25px;
  }
  .single-services {
    padding: 15px;
  }
  .single-services .icon {
    width: 70px;
    height: 70px;
    font-size: 35px;
    line-height: 71px;
  }
  .single-services h3 {
    font-size: 19px;
    margin-bottom: 15px;
    margin-top: 25px;
  }
  .read-more-btn {
    font-size: 14px;
  }
  .services-box {
    padding: 15px;
  }
  .services-box .icon {
    width: 70px;
    height: 70px;
    line-height: 71px;
    font-size: 35px;
    margin: 18px 0 18px;
  }
  .services-box .icon::before {
    width: 106px;
    height: 106px;
    top: -19px;
    left: -19px;
  }
  .services-box h3 {
    font-size: 19px;
  }
  .features-text {
    margin-top: 0;
  }
  .features-text h3 {
    font-size: 23px;
    margin-bottom: 18px;
    line-height: 1.3;
  }
  .features-text ul {
    margin: 20px 0 25px;
  }
  .features-text ul li {
    margin-bottom: 12px;
    padding-left: 29px;
    font-size: 14px;
  }
  .features-area .ptb-100 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .features-area .img {
    margin-bottom: 35px;
  }
  .features-text {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .features-area-two {
    padding-bottom: 25px;
  }
  .single-features {
    margin-bottom: 30px;
  }
  .single-features i {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 72px;
  }
  .single-features h3 {
    font-size: 19px;
  }
  .features-area-three {
    padding-bottom: 25px;
  }
  .check-your-website .text h3 {
    font-size: 23px;
    margin-bottom: 15px;
  }
  .check-your-website .text p {
    font-size: 15px;
  }
  .check-your-website .text .form-control {
    border-radius: 40px;
    height: 50px;
    margin-bottom: 15px;
  }
  .check-your-website .text .btn {
    margin-top: 0;
    padding: 15px 40px;
    display: block;
    width: 100%;
  }
  .box {
    height: 90px;
  }
  .box span {
    font-size: 85px;
  }
  .box h3 {
    font-size: 15px;
    line-height: 24px;
  }
  .features-box {
    margin-bottom: 30px;
    padding-left: 70px;
  }
  .features-box i {
    width: 50px;
    height: 50px;
    font-size: 26px;
    line-height: 53px;
  }
  .features-box h3 {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .features-box p {
    margin-bottom: 10px;
  }
  .working-process-area {
    padding-bottom: 25px;
  }
  .single-work-process {
    padding: 15px;
    margin-bottom: 30px;
  }
  .single-work-process::before {
    display: none;
  }
  .single-work-process h3 {
    font-size: 19px;
    margin-top: 25px;
  }
  .single-work-process .icon {
    width: 70px;
    height: 70px;
    font-size: 35px;
    line-height: 74px;
  }
  .analysis-form {
    padding: 15px;
  }
  .analysis-form h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .analysis-form form .btn {
    padding: 11px 40px;
  }
  .analysis-text {
    margin-top: 40px;
  }
  .analysis-text span {
    font-size: 15px;
  }
  .analysis-text h3 {
    font-size: 22px;
    margin: 15px 0 15px;
    line-height: 31px;
  }
  .analysis-text ul li {
    font-size: 14px;
  }
  .shorting-menu {
    display: block;
    padding: 10px 10px 5px;
    margin-bottom: 35px;
    border-radius: 5px;
    text-align: center;
  }
  .shorting-menu .filter {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .single-work {
    margin-top: 5px;
  }
  .single-work .work-content h4 {
    font-size: 19px;
    margin-bottom: 8px;
  }
  .single-work .work-content ul li {
    font-size: 14px;
  }
  .single-work .popup-btn, .single-work .link-btn {
    right: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
  }
  .single-work:hover .popup-btn, .single-work:hover .link-btn {
    top: 20px;
  }
  .single-work:hover .link-btn {
    left: 20px;
  }
  .single-feedback {
    padding: 20px 15px;
    margin-top: 24px;
  }
  .single-feedback .client-info {
    padding-left: 117px;
    margin-bottom: 25px;
  }
  .single-feedback .client-info h4 {
    font-size: 19px;
  }
  .single-feedback .client-info span {
    font-size: 14px;
    margin-top: 8px;
  }
  .owl-theme .owl-dots {
    margin-top: 10px !important;
  }
  .team-area {
    padding-bottom: 25px;
  }
  .single-team {
    padding: 15px;
  }
  .single-team .team-content h3 {
    font-size: 19px;
  }
  .single-team .team-content span {
    font-size: 14px;
  }
  .single-team .team-content ul li a {
    font-size: 14px;
  }
  .funfacts-area {
    padding-bottom: 25px;
  }
  .fun-fact {
    margin-bottom: 30px;
    padding-left: 55px;
  }
  .fun-fact i {
    font-size: 35px;
    top: 5px;
  }
  .fun-fact p {
    font-size: 15px;
  }
  .fun-fact h3 {
    font-size: 30px;
    margin-top: 10px;
    line-height: 26px;
  }
  .tab-slider-trigger {
    padding: 10px 25px;
    font-size: 14px;
  }
  .tab-slider-container .row {
    width: auto;
  }
  .tab-slider-nav {
    margin-bottom: 10px;
  }
  .pricingTable {
    padding-bottom: 25px;
    margin-top: 30px;
  }
  .pricingTable .pricingTable-header {
    padding: 25px 15px 35px;
    z-index: 1;
  }
  .pricingTable .pricingTable-header::before {
    z-index: -1;
  }
  .pricingTable .title {
    font-size: 19px;
  }
  .pricingTable .price-value {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .pricingTable .price-value span {
    font-size: 13px;
    margin-left: -5px;
  }
  .pricingTable .pricing-content li {
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .pricing-plan {
    margin-top: 30px;
    padding-bottom: 25px;
  }
  .pricing-plan h3 {
    font-size: 19px;
    padding-top: 25px;
  }
  .pricing-plan h3 span {
    height: 85px;
    width: 85px;
    margin: 20px auto -65px;
    line-height: 90px;
    font-size: 25px;
  }
  .pricing-plan ul {
    margin: 70px 0 25px;
  }
  .pricing-plan li {
    padding: 10px 0;
    font-size: 14px;
  }
  .pricing-plan#most-popular {
    top: 0;
    padding: 25px 0 25px;
  }
  .single-blog-item span {
    font-size: 14px;
  }
  .single-blog-item h4 {
    font-size: 19px;
  }
  .newsletter {
    max-width: 100%;
    padding: 20px 15px;
    border-radius: 5px;
  }
  .newsletter form .form-control {
    height: 70px;
    border-radius: 5px;
    padding-left: 18px;
    font-size: 16px;
  }
  .newsletter form .btn {
    position: relative;
    right: 0;
    top: 0;
    height: 55px;
    width: 100%;
    margin-top: 10px;
  }
  .newsletter h4 {
    margin-bottom: 25px;
    font-size: 23px;
  }
  .timeline::before {
    left: 10px;
  }
  .timeline > li {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    float: left;
    clear: left;
  }
  .timeline > li > .timeline-panel {
    width: calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
  }
  .timeline > li > .timeline-badge {
    left: -2px;
    margin-left: 0;
    top: 25px;
  }
  .timeline > li > .timeline-panel {
    float: right;
    padding: 20px 15px;
    text-align: left;
  }
  .timeline > li > .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li > .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .timeline > li.timeline-inverted .timeline-footer {
    text-align: right;
  }
  .timeline > li.timeline-inverted > .timeline-badge {
    left: -2px;
  }
  .timeline-heading h4 {
    font-size: 19px;
  }
  .timeline-body > p {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .blog-area .section-title {
    z-index: 1;
  }
  .single-blog-item {
    padding: 15px;
  }
  .single-blog-post .blog-post-content {
    padding: 15px;
  }
  .single-blog-post .blog-post-content span {
    font-size: 14px;
  }
  .single-blog-post .blog-post-content h4 {
    font-size: 19px;
  }
  .blog-details .date {
    padding: 9px 19px;
    font-size: 19px;
  }
  .blog-details-heading h3 {
    font-size: 19px;
    line-height: 26px;
  }
  .blog-details-content p {
    font-size: 14px;
  }
  .blog-details-content .blockquote {
    padding: 20px;
  }
  .blog-details-content .blockquote p {
    font-size: 16px;
  }
  .blog-details-content .blockquote .blockquote-footer {
    font-size: 16px;
  }
  .blog-details-content .title {
    font-size: 19px;
    margin-bottom: 30px;
  }
  .blog-details-meta ul .title {
    font-size: 16px;
  }
  .blog-details-meta .tags li a {
    padding: 4px 13px;
    font-size: 14px;
  }
  .blog-details-meta .share {
    float: none;
    margin-top: 20px;
  }
  .blog-details-meta .share li a {
    width: 30px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }
  .blog-details-comments .single-comments {
    padding-left: 120px;
  }
  .blog-details-comments .single-comments .content h4 {
    font-size: 17px;
  }
  .blog-details-comments .single-comments .content span {
    font-size: 14px;
    margin: 8px 0 15px;
  }
  .single-comments.left-mr {
    margin-left: 20px;
    margin-top: 35px;
  }
  .blog-details-comments-form .btn {
    margin-top: 10px;
  }
  .contact-box {
    padding: 20px 15px 20px 80px;
    margin-bottom: 30px;
  }
  .contact-box .icon {
    left: 15px;
    top: 20px;
    width: 45px;
    height: 45px;
    line-height: 44px;
    font-size: 20px;
  }
  .contact-box .content h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .contact-box .content p {
    font-size: 14px;
  }
  .contact-text h3 {
    font-size: 19px;
  }
  .contact-text .social-links {
    margin-bottom: 30px;
  }
  #map {
    margin-top: 0;
    margin-bottom: 30px;
  }
  #contactForm .btn {
    padding: 13px 40px;
    font-size: 13px;
  }
  .accordion .accordion-title {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
  }
  .error {
    max-width: 100%;
  }
  .error h1 {
    font-size: 130px;
  }
  .error p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .project-details h3 {
    font-size: 19px;
  }
  .project-details p {
    font-size: 14px;
  }
  .project-details .features {
    margin-top: 25px;
  }
  .project-details ul.features li {
    margin-bottom: 12px;
    padding-left: 24px;
    font-size: 14px;
  }
  .project-info {
    margin-top: 30px;
  }
  .project-info ul li {
    padding-left: 40px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .project-info ul li i {
    font-size: 25px;
  }
  .project-info ul li span {
    font-size: 17px;
  }
  .pagination-area {
    margin-top: 25px;
  }
  .page-link {
    padding: 10px 18px;
    font-size: 14px;
  }
  .side-bar {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .side-bar .widget-box {
    padding: 25px 20px;
  }
  .side-bar .widget-box .title {
    font-size: 19px;
    margin-bottom: 30px;
  }
  .side-bar .categories-box ul li a {
    margin-bottom: 12px;
    font-size: 14px;
  }
  .side-bar .tags-box ul li a {
    padding: 4px 14px;
    font-size: 14px;
  }
  .side-bar .tags-box .title {
    margin-bottom: 24px;
  }
  .recent-post-desc {
    margin-top: -5px;
  }
  .repair-main-banner {
    padding-top: 155px;
    padding-bottom: 245px;
  }
  .repair-banner-content p {
    font-size: 15px;
  }
  .repair-banner-content h2 {
    line-height: 1.2;
    font-size: 30px;
  }
  .repair-boxes-area::before {
    -webkit-transform: skewY(170deg);
            transform: skewY(170deg);
  }
  .single-repair-box h3 {
    font-size: 18px;
  }
  .single-repair-box img {
    width: unset;
  }
  .repair-about-image {
    padding-bottom: 30px;
  }
  .repair-about-image img:last-child {
    position: relative;
    bottom: 0;
    border: none;
    right: 0;
    margin-top: 20px;
  }
  .single-repair-services {
    padding: 20px;
  }
  .single-repair-services h3 {
    font-size: 19px;
  }
  .repair-services-inner {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .repair-services-inner .col-lg-4:nth-child(2) {
    border-left: none;
    border-right: none;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .single-repair-feedback {
    padding: 20px;
  }
  .single-repair-feedback .client-info span {
    font-size: 14px;
  }
  .gallery-area {
    padding-bottom: 25px;
  }
  .repair-blog-area {
    padding-bottom: 25px;
  }
  .single-repair-blog-post {
    margin-bottom: 30px;
  }
  .single-repair-blog-post .blog-content h3 {
    font-size: 19px;
    line-height: 1.4;
  }
  .repair-subscribe-area {
    margin-top: -55px;
    margin-bottom: 55px;
  }
  .repair-subscribe-content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .repair-subscribe-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .repair-subscribe-content form .form-group {
    float: unset;
    margin-bottom: 10px;
    width: 100%;
    padding-right: 0;
  }
  .repair-subscribe-content form .btn {
    float: unset;
    width: 100%;
  }
  .woocommerce-topbar {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .woocommerce-topbar .woocommerce-result-count {
    margin-bottom: 10px;
  }
  .woocommerce-topbar .woocommerce-topbar-ordering .form-control {
    height: 40px;
    padding: 6px 14px;
  }
  .single-products .products-content h3 {
    font-size: 19px;
  }
  .productsQuickView .modal-content .products-content {
    padding: 20px;
  }
  .productsQuickView .modal-content .products-content h3 {
    font-size: 19px;
    margin-bottom: 12px;
    line-height: 1.4;
  }
  .products-details {
    margin-top: 20px;
  }
  .products-details .payment-methods img {
    width: auto;
  }
  .cart-table table thead tr th {
    padding: 15px 15px;
    font-size: 15px;
    white-space: nowrap;
  }
  .cart-buttons .continue-shopping-box {
    text-align: center;
    margin-bottom: 15px;
  }
  .cart-buttons .text-end {
    text-align: center !important;
  }
  .cart-totals {
    padding: 20px;
  }
  .cart-totals h3 {
    font-size: 19px;
  }
  .checkout-area .title {
    font-size: 19px;
  }
  .order-details {
    margin-top: 30px;
  }
  .single-repair-blog-post .blog-content ul {
    overflow: hidden;
  }
  .footer-area {
    padding-top: 55px;
  }
  .single-footer-widget {
    margin-bottom: 30px;
  }
  .single-footer-widget .logo a {
    font-size: 25px;
  }
  .single-footer-widget h3 {
    font-size: 19px;
    margin-bottom: 25px;
  }
  .single-footer-widget .services-list li a {
    margin-bottom: 12px;
    font-size: 14px;
  }
  .single-footer-widget .usefull-links li a {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .single-footer-widget .contact-list li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .copyright-area {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 25px;
  }
  .copyright-area ul li a {
    font-size: 14px;
  }
  .copyright-area .text-end {
    text-align: center !important;
    margin-top: 15px;
  }
  .go-top {
    bottom: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .marketing-agency-banner {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .marketing-agency-banner-content {
    max-width: 100%;
    text-align: center;
  }
  .marketing-agency-banner-content h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .marketing-agency-banner-content p {
    margin-bottom: 20px;
    font-weight: 600;
  }
  .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8 {
    display: none;
  }
  .partner-area.ptb-70 {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .featured-services-area {
    padding-bottom: 25px;
  }
  .single-featured-services-box h3 {
    font-size: 20px;
  }
  .creative-area {
    padding-top: 55px;
  }
  .creative-content {
    max-width: 100%;
    text-align: center;
    padding: 20px;
  }
  .creative-content::after {
    display: none;
  }
  .creative-content h2 {
    margin-bottom: 15px;
    font-size: 23px;
  }
  .solutions-area {
    padding-bottom: 25px;
  }
  .solutions-area .section-title h3 {
    max-width: 100%;
  }
  .single-solutions-box {
    padding: 20px 15px;
  }
  .single-solutions-box .icon {
    width: 65px;
    height: 65px;
    line-height: 70px;
    font-size: 33px;
    margin-bottom: 20px;
  }
  .single-solutions-box h3 {
    font-size: 20px;
  }
  .single-solutions-box .link-btn {
    font-size: 13px;
  }
  .growth-image {
    height: auto;
    background-image: unset !important;
  }
  .growth-image img {
    display: inline-block;
  }
  .growth-content {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .growth-content .content {
    max-width: 100%;
  }
  .growth-content .content h2 {
    margin-bottom: 12px;
    font-size: 23px;
  }
  .growth-content .content .list li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .growth-content .content .list li span {
    font-size: 23px;
    display: block;
    margin-right: 0;
    margin-bottom: 8px;
  }
  .growth-content .content .list li .d-flex {
    display: block !important;
  }
  .testimonials-slider {
    max-width: 100%;
  }
  .single-testimonials-box {
    margin-bottom: 17px;
  }
  .single-testimonials-box p {
    font-size: 15px;
  }
  .single-testimonials-box .user-info h3 {
    font-size: 17px;
  }
  .single-testimonials-box::before {
    font-size: 68px;
  }
  .company-strategy-area .single-company-strategy-box {
    margin-top: 30px;
  }
  .company-strategy-area .col-lg-4:nth-child(1) .single-company-strategy-box {
    margin-top: -50px;
  }
  .single-company-strategy-box {
    padding: 25px;
    text-align: center;
  }
  .single-company-strategy-box h3 {
    font-size: 20px;
  }
  .single-company-strategy-box h3 br {
    display: none;
  }
  .single-team-box .content h3 {
    font-size: 19px;
  }
  .single-blog-post-item {
    padding: 20px 15px 0;
  }
  .single-blog-post-item h4 {
    font-size: 19px;
  }
  .single-blog-post-item .btn {
    margin-left: -15px;
    margin-right: -15px;
  }
  /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
  .ptb-100 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .pt-100 {
    padding-top: 55px;
  }
  .pb-100 {
    padding-bottom: 55px;
  }
  .pt-75 {
    padding-top: 55px;
  }
  .pb-75 {
    padding-bottom: 30px;
  }
  .default-btn {
    padding: 10px 22px;
    font-size: 12px;
  }
  .section-title-with-border span {
    font-size: 12px;
  }
  .section-title-with-border h2 {
    font-size: 24.5px;
  }
  .section-title-with-border h2 b::before {
    display: none;
  }
  .navbar-area-with-white-color .container-fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: 540px;
  }
  .navbar-area-with-white-color .others-options {
    margin-left: 0;
  }
  .digital-solutions-banner {
    padding-top: 65px;
    padding-bottom: 55px;
  }
  .digital-solutions-banner .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 540px;
  }
  .digital-solutions-banner-content {
    padding-right: 0;
  }
  .digital-solutions-banner-content span {
    font-size: 12.5px;
    margin-bottom: 15px;
  }
  .digital-solutions-banner-content h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .digital-solutions-banner-content h1 b::before {
    display: none;
  }
  .digital-solutions-banner-content .banner-btn {
    margin-top: 20px;
  }
  .digital-solutions-banner-image {
    text-align: center;
    margin-top: 35px;
  }
  .ds-banner-shape-1, .ds-banner-shape-2, .ds-banner-shape-3 {
    display: none;
  }
  .single-global-card {
    padding: 20px;
  }
  .single-global-card .global-content h3 {
    font-size: 18px;
  }
  .ds-about-content {
    padding-left: 0;
    margin-top: 30px;
  }
  .ds-about-content span {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .ds-about-content h3 {
    font-size: 22.5px;
  }
  .ds-about-content h3 b::before {
    display: none;
  }
  .ds-about-content .list li {
    font-size: 14.5px;
  }
  .fun-fact-wrap-card h3 {
    font-size: 30px;
  }
  .fun-fact-wrap-card h3 .plus {
    font-size: 22px;
  }
  .fun-fact-wrap-card h3 .percentage {
    font-size: 22px;
  }
  .fun-fact-wrap-card p {
    font-size: 14px;
  }
  .single-team-wrap-box .content h3 {
    font-size: 20px;
  }
  .features-wrap-content span {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .features-wrap-content h3 {
    font-size: 22.5px;
  }
  .features-wrap-content h3 b::before {
    display: none;
  }
  .features-wrap-content .features-inner-card {
    padding: 20px;
  }
  .features-wrap-content .features-inner-card .content {
    padding-left: 0;
  }
  .features-wrap-content .features-inner-card .content .icon {
    position: relative;
  }
  .features-wrap-content .features-inner-card .content h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .features-wrap-image {
    padding-left: 0;
    margin-top: 30px;
    text-align: center;
  }
  .services-wrap-card {
    padding: 20px;
  }
  .services-wrap-card .services-image .image-icon {
    width: auto;
  }
  .services-wrap-card .services-content h3 {
    font-size: 20px;
  }
  .services-wrap-card .services-content p {
    margin-bottom: 14.8px;
  }
  .services-wrap-card .services-content .services-btn {
    font-size: 12.5px;
  }
  .reviews-single-card {
    padding: 20px;
  }
  .reviews-single-card .client-info .title h3 {
    font-size: 18px;
  }
  .reviews-single-card .client-info .title span {
    font-size: 12.5px;
  }
  .reviews-single-card .rating li i {
    font-size: 15px;
  }
  .reviews-single-card .quote-icon {
    display: none;
  }
  .overview-wrap-inner-content .overview-card {
    padding: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin-top: 25px;
    border: 1px solid #f5f5f5;
  }
  .overview-wrap-inner-content .overview-card .content {
    padding-right: 0;
  }
  .overview-wrap-inner-content .overview-card .content .image img {
    width: auto;
  }
  .overview-wrap-inner-content .overview-card .content h3 {
    font-size: 20px;
  }
  .overview-wrap-inner-content .overview-card .content .icon {
    position: relative;
    margin-top: 15px;
  }
  .overview-wrap-inner-content .overview-card .content .icon a i {
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 25px;
  }
  .blog-wrap-card {
    padding: 20px;
  }
  .blog-wrap-card h3 {
    font-size: 20.8px;
  }
  .blog-wrap-card .info .title h4 {
    margin-bottom: 0;
    font-size: 15.5px;
  }
  .subscribe-wrap-inner-box {
    padding: 45px 25px;
  }
  .subscribe-wrap-inner-box .subscribe-content h2 {
    font-size: 25.5px;
  }
  .subscribe-wrap-inner-box .subscribe-content .newsletter-form button {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 15px;
  }
  .footer-wrap-area .single-footer-widget {
    margin-bottom: 25px;
  }
  .footer-wrap-area .single-footer-widget.ps-5 {
    padding-left: 0 !important;
  }
  .footer-wrap-area .single-footer-widget h3 {
    font-size: 18px;
  }
  .footer-wrap-area .copyright-area {
    margin-top: 30px;
  }
  .social-media-marketing-banner .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 540px;
  }
  .social-media-marketing-banner-content span {
    padding: 5px 10px;
    font-size: 11.5px;
  }
  .social-media-marketing-banner-content h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .social-media-marketing-banner-content .free-analysis-form {
    margin-top: 25px;
  }
  .social-media-marketing-banner-content .free-analysis-form .form-control {
    height: 52px;
  }
  .social-media-marketing-banner-content .free-analysis-form button {
    position: relative;
    right: 0;
    top: 0;
    font-size: 14px;
    margin-top: 10px;
    height: 52px;
  }
  .social-media-marketing-banner-form {
    margin: 35px auto 0 auto;
    padding: 25px;
    max-width: 100%;
  }
  .social-media-marketing-banner-form h3 {
    font-size: 17.8px;
    margin-bottom: 20px;
  }
  .social-media-banner-shape-1, .social-media-banner-shape-2, .social-media-banner-shape-3, .social-media-banner-shape-4 {
    display: none;
  }
  .single-features-card {
    padding: 20px;
  }
  .single-features-card .features-content h3 {
    font-size: 18px;
  }
  .agency-wrap-content {
    padding-left: 0;
    margin-top: 35px;
  }
  .agency-wrap-content span {
    font-size: 12px;
  }
  .agency-wrap-content h3 {
    font-size: 22.5px;
  }
  .agency-wrap-content .list li {
    font-size: 14.5px;
  }
  .agency-wrap-content .list li.left {
    left: 0;
  }
  .companies-inner-box {
    padding-left: 20px;
    padding-right: 20px;
  }
  .companies-item span {
    font-size: 15px;
  }
  .creative-solutions-content {
    padding-right: 0;
  }
  .creative-solutions-content span {
    font-size: 12px;
  }
  .creative-solutions-content h3 {
    font-size: 22.5px;
  }
  .creative-solutions-content .creative-list-tabs .nav .nav-item {
    margin-right: 0;
    width: 100%;
  }
  .creative-solutions-content .creative-list-tabs .tab-content .tab-pane .creative-inner-card {
    padding: 20px;
  }
  .creative-solutions-content .creative-list-tabs .tab-content .tab-pane .creative-inner-card .content {
    padding-left: 0;
  }
  .creative-solutions-content .creative-list-tabs .tab-content .tab-pane .creative-inner-card .content .icon {
    position: relative;
  }
  .creative-solutions-content .creative-list-tabs .tab-content .tab-pane .creative-inner-card .content h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .creative-solutions-image {
    text-align: center;
    margin-top: 30px;
  }
  .strategies-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .strategies-content-card {
    padding: 20px;
    margin-left: 0;
  }
  .strategies-content-card .content {
    padding-left: 0;
  }
  .strategies-content-card .content .icon {
    position: relative;
  }
  .strategies-content-card .content h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .navbar-area-with-black-color {
    border-bottom: none;
  }
  .navbar-area-with-black-color .container-fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: 540px;
  }
  .navbar-area-with-black-color .others-options {
    margin-left: 0;
  }
  .cryptocurrency-banner-area {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .cryptocurrency-banner-area .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 540px;
  }
  .cryptocurrency-banner-content {
    top: 0;
  }
  .cryptocurrency-banner-content span {
    font-size: 11.5px;
    margin-bottom: 12px;
  }
  .cryptocurrency-banner-content h1 {
    font-size: 32px;
    margin-bottom: 14px;
  }
  .cryptocurrency-banner-content .banner-btn {
    margin-top: 20px;
  }
  .cryptocurrency-banner-image {
    text-align: center;
    margin-top: 35px;
  }
  .cryptocurrency-banner-image.ps-5 {
    padding-left: 0 !important;
  }
  .cryptocurrency-app-image {
    text-align: center;
    margin-top: 35px;
  }
  .cryptocurrency-banner-shape-1, .cryptocurrency-banner-shape-2, .cryptocurrency-banner-shape-3, .cryptocurrency-banner-shape-4 {
    display: none;
  }
  .trade-over-table {
    padding: 35px 25px;
  }
  .trade-over-table table thead tr th {
    padding: 0 100px 0 0;
  }
  .trade-over-table table thead tr th:last-child {
    padding: 0 0 0 0;
  }
  .trade-over-table table tbody tr td {
    padding: 30px 100px 30px 0;
  }
  .trade-over-table table tbody tr td:last-child {
    padding: 0 0 0 0;
  }
  .platform-card {
    padding: 20px;
  }
  .platform-card .platform-image {
    margin-bottom: 25px;
  }
  .platform-card .platform-image img {
    width: auto;
  }
  .platform-card .platform-content h3 {
    font-size: 18px;
  }
  .investing-image {
    text-align: center;
    margin-bottom: 35px;
  }
  .investing-content {
    padding-left: 0;
    margin-left: 0;
  }
  .investing-content .icon {
    position: relative;
    margin-bottom: 20px;
  }
  .investing-content .icon i {
    height: 65px;
    width: 65px;
    line-height: 65px;
    font-size: 35px;
  }
  .investing-content h3 {
    font-size: 18px;
  }
  .rates-wrap-card {
    margin-bottom: 25px;
  }
  .rates-wrap-card h3 {
    font-size: 18px;
  }
  .rates-wrap-content {
    padding-left: 0;
    margin-top: 15px;
  }
  .rates-wrap-content span {
    font-size: 12px;
  }
  .rates-wrap-content h3 {
    font-size: 22.5px;
  }
  .rates-wrap-content .list li {
    font-size: 14.5px;
  }
  .mobile-app-content h3 {
    font-size: 22.5px;
  }
  .mobile-app-content .app-list li a img {
    max-width: 135px;
  }
  .mobile-app-image {
    text-align: center;
    margin-top: 35px;
  }
  .cyber-security-banner-area {
    padding-top: 55px;
    padding-bottom: 65px;
  }
  .cyber-security-banner-area .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 540px;
  }
  .cyber-security-banner-content span {
    font-size: 12px;
  }
  .cyber-security-banner-content h1 {
    font-size: 32px;
    margin-bottom: 14px;
  }
  .cyber-security-banner-content .banner-btn .default-btn {
    padding: 10px 15px;
    font-size: 12px;
  }
  .cyber-security-shape-1, .cyber-security-shape-2, .cyber-security-shape-3 {
    display: none;
  }
  .cyber-security-banner-image {
    margin-top: 30px;
    text-align: center;
  }
  .cs-features-card {
    padding: 20px;
  }
  .cs-features-card .features-image .image-icon {
    width: auto;
    margin-bottom: 15px;
  }
  .cs-features-card .features-content h3 {
    font-size: 20px;
  }
  .cs-features-card .features-content .features-btn {
    font-size: 14px;
  }
  .cs-about-content {
    padding-left: 0;
    margin-top: 35px;
  }
  .cs-about-content span {
    font-size: 12px;
  }
  .cs-about-content h3 {
    font-size: 22.5px;
  }
  .cs-about-content .about-card h4 {
    font-size: 20px;
  }
  .premium-security-content .content span {
    font-size: 12px;
  }
  .premium-security-content .content h3 {
    font-size: 22.5px;
  }
  .premium-security-content .skill-bar .progress-title {
    font-size: 15px;
  }
  .premium-security-image {
    padding-left: 0;
    margin-top: 35px;
  }
  .cs-services-card {
    padding: 20px;
  }
  .cs-services-card .services-image {
    margin-bottom: 25px;
  }
  .cs-services-card .services-image .image-icon {
    width: auto;
  }
  .cs-services-card .services-content h3 {
    font-size: 20px;
  }
  .cs-services-card .services-content .services-btn {
    font-size: 14px;
  }
  .cs-pricing-card {
    padding: 20px;
  }
  .cs-pricing-card .pricing-header h3 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .cs-pricing-card .pricing-price {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .cs-pricing-card .pricing-list {
    padding: 15px;
  }
  .cs-pricing-card .pricing-list li {
    font-size: 14.5px;
  }
  .cs-funfacts-inner-box {
    padding: 30px 30px 5px;
  }
  .cs-funfacts-card {
    padding-left: 80px;
  }
  .cs-funfacts-card .icon {
    height: 65px;
    width: 65px;
    line-height: 65px;
    font-size: 30px;
  }
  .cs-funfacts-card h3 {
    font-size: 30px;
  }
  .cs-funfacts-card h3 .plus {
    font-size: 22px;
  }
  .cs-funfacts-card h3 .percentage {
    font-size: 22px;
  }
  .cs-funfacts-shape1, .cs-funfacts-shape2 {
    display: none;
  }
  .cs-reviews-form {
    padding: 30px 20px;
    max-width: 100%;
  }
  .cs-reviews-form h3 {
    font-size: 20.8px;
  }
  .cs-reviews-item {
    padding-left: 0;
    margin-top: 35px;
  }
  .cs-reviews-item .content {
    margin-bottom: 30px;
  }
  .cs-reviews-item .content span {
    font-size: 12px;
  }
  .cs-reviews-item .content h3 {
    font-size: 22.5px;
  }
  .cs-reviews-single-card {
    padding: 20px;
  }
  .cs-reviews-single-card .rating {
    margin-bottom: 15px;
  }
  .cs-reviews-single-card .rating li i {
    font-size: 15px;
  }
  .cs-reviews-single-card .client-info .title h3 {
    font-size: 18px;
  }
  .cs-reviews-single-card .client-info .title span {
    font-size: 12px;
  }
  .cs-reviews-slides.owl-theme .owl-nav {
    display: none;
  }
  .features-wrap-content {
    padding-right: 0;
  }
  .social-media-marketing-banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .navbar-area-with-black-color {
    padding: 25px 15px;
  }
  .mobile-app-area .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 540px;
  }
  .mobile-app-content {
    max-width: 100%;
  }
  .cs-about-image {
    margin-left: 0;
  }
  .premium-security-image {
    margin-right: 0;
  }
  /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .marketing-agency-banner-content {
    max-width: 285px;
    text-align: left;
  }
  .company-strategy-area .single-company-strategy-box {
    margin-top: 0;
  }
  .company-strategy-area .col-lg-4:nth-child(2) .single-company-strategy-box {
    margin-top: -50px;
  }
  /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
  .subscribe-wrap-inner-box .subscribe-content .newsletter-form button {
    position: absolute;
    right: 5px;
    top: 5px;
    margin-top: 0;
  }
  .social-media-marketing-banner-content .free-analysis-form .form-control {
    height: 62px;
  }
  .social-media-marketing-banner-content .free-analysis-form button {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14px;
    margin-top: 0;
    height: 52px;
  }
  .creative-solutions-content {
    padding-right: 0;
  }
  .creative-solutions-content span {
    font-size: 12px;
  }
  .creative-solutions-content h3 {
    font-size: 22.5px;
  }
  .creative-solutions-content .creative-list-tabs .nav .nav-item {
    margin-right: 5px;
    width: auto;
  }
  /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-title .read-more-btn {
    display: none;
  }
  .header-area .header-info li:last-child {
    display: none;
  }
  .navbar .row {
    width: 102%;
  }
  .main-banner {
    height: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .hero-image {
    display: none;
  }
  .hero-content h1 {
    font-size: 45px;
    line-height: 1.3;
  }
  .hero-content p {
    font-size: 17px;
  }
  .circle-pattern-2 {
    display: none;
  }
  .main-banner-two {
    height: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .main-banner-two .hero-content {
    margin-top: 50px;
  }
  .main-banner-two .banner-image {
    margin-top: 0;
  }
  .banner-image img {
    width: 60% !important;
  }
  .main-banner-three {
    height: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .main-banner-three .banner-image {
    margin-bottom: 40px;
  }
  .features-area-two {
    padding-bottom: 50px;
  }
  .single-features {
    margin-bottom: 30px;
  }
  .features-area-three {
    padding-bottom: 35px;
  }
  .main-banner-four {
    padding-top: 110px;
    padding-bottom: 110px;
    height: 100%;
  }
  .main-banner-four .banner-image {
    margin-bottom: 40px;
  }
  .features-text {
    margin-top: 0;
    position: relative;
    z-index: 1;
  }
  .features-text h3 {
    font-size: 25px;
    line-height: 34px;
  }
  .features-text ul li {
    font-size: 15px;
  }
  .features-area .img {
    position: relative;
    z-index: 1;
    margin-top: 60px;
  }
  .single-work-process::before {
    display: none;
  }
  .single-work-process .icon {
    width: 65px;
    height: 65px;
    font-size: 30px;
    line-height: 70px;
  }
  .single-work-process h3 {
    font-size: 20px;
  }
  .team-area {
    padding-bottom: 50px;
  }
  .services-area {
    padding-bottom: 50px;
  }
  .single-box {
    margin-bottom: 30px;
  }
  .about-image {
    margin-top: 40px;
  }
  .about-text {
    margin-top: 50px;
    padding-left: 0;
    position: relative;
    z-index: 1;
  }
  .analysis-text {
    margin-top: 40px;
  }
  .funfacts-area {
    padding-bottom: 40px;
  }
  .fun-fact {
    margin-bottom: 40px;
  }
  .pricingTable {
    margin-top: 30px;
  }
  .tab-slider-nav {
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
  }
  .timeline > li > .timeline-badge {
    right: -26px;
  }
  .timeline > li.timeline-inverted > .timeline-badge {
    left: -26px;
  }
  .pricing-plan {
    margin-top: 30px;
  }
  .pricing-plan#most-popular {
    top: 0;
    padding: 0 0 20px;
    z-index: 2;
  }
  .pricing-plan#most-popular h3 {
    margin-top: 0;
    padding-top: 20px;
  }
  .side-bar {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .repair-banner-content h2 {
    font-size: 45px;
  }
  .repair-about-content {
    margin-top: 40px;
  }
  .repair-services-inner .col-lg-4:nth-child(2) {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .gallery-area {
    padding-bottom: 50px;
  }
  .repair-blog-area {
    padding-bottom: 50px;
  }
  .single-repair-blog-post {
    margin-bottom: 30px;
  }
  .repair-subscribe-content form .form-group {
    float: left;
    margin-bottom: 0;
    width: 33%;
    padding-right: 15px;
  }
  .repair-subscribe-content form .btn {
    width: 25%;
    margin-top: 15px;
  }
  .products-details {
    margin-top: 20px;
  }
  .footer-area {
    padding-top: 80px;
  }
  .single-footer-widget {
    margin-bottom: 30px;
  }
  .copyright-area {
    margin-top: 50px;
  }
  .copyright-area ul li a {
    font-size: 15px;
  }
  .copyright-area p {
    font-size: 15px;
  }
  .marketing-agency-banner {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .marketing-agency-banner-content {
    max-width: 410px;
  }
  .marketing-agency-banner-content h1 {
    font-size: 45px;
  }
  .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8 {
    display: none;
  }
  .featured-services-area {
    padding-bottom: 50px;
  }
  .creative-content {
    padding: 50px;
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
  }
  .solutions-area {
    padding-bottom: 50px;
  }
  .growth-image {
    height: 100%;
    background-image: unset !important;
  }
  .growth-image img {
    display: inline-block;
  }
  .growth-content {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .growth-content .content {
    max-width: 100%;
  }
  .growth-content .content .list li {
    font-size: 22px;
  }
  .growth-content .content .list li span {
    font-size: 45px;
  }
  .testimonials-slider {
    max-width: 720px;
  }
  .company-strategy-area .single-company-strategy-box {
    margin-top: 30px;
  }
  .company-strategy-area .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .company-strategy-area .row .col-lg-4 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .company-strategy-area .row .col-lg-4:nth-child(1), .company-strategy-area .row .col-lg-4:nth-child(2) {
    margin-top: -100px;
  }
  .single-company-strategy-box {
    padding: 25px;
  }
  .contact-box {
    margin-bottom: 30px;
  }
  /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }
  .pt-75 {
    padding-top: 80px;
  }
  .pb-75 {
    padding-bottom: 55px;
  }
  .section-title-with-border h2 {
    font-size: 32.5px;
  }
  .section-title-with-border h2 b::before {
    display: none;
  }
  .header-area-with-white-color .container-fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: 720px;
  }
  .navbar-area-with-white-color .container-fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: 720px;
  }
  .navbar-area-with-white-color .others-options {
    margin-left: 0;
  }
  .digital-solutions-banner .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 720px;
  }
  .digital-solutions-banner-content {
    padding-right: 0;
  }
  .digital-solutions-banner-content h1 {
    font-size: 55px;
  }
  .digital-solutions-banner-content h1 b::before {
    display: none;
  }
  .digital-solutions-banner-image {
    text-align: center;
    margin-top: 35px;
  }
  .ds-banner-shape-1, .ds-banner-shape-2, .ds-banner-shape-3 {
    display: none;
  }
  .single-global-card .global-content h3 {
    font-size: 20px;
  }
  .ds-about-content {
    padding-left: 0;
    margin-top: 30px;
  }
  .ds-about-content h3 {
    font-size: 25.5px;
  }
  .ds-about-content h3 b::before {
    display: none;
  }
  .fun-fact-wrap-card h3 {
    font-size: 35px;
  }
  .fun-fact-wrap-card h3 .plus {
    font-size: 22px;
  }
  .fun-fact-wrap-card h3 .percentage {
    font-size: 25px;
  }
  .single-team-wrap-box .content h3 {
    font-size: 20px;
  }
  .features-wrap-content h3 {
    font-size: 25.5px;
  }
  .features-wrap-content h3 b::before {
    display: none;
  }
  .features-wrap-content .features-inner-card .content h4 {
    font-size: 20px;
  }
  .features-wrap-image {
    padding-left: 0;
    margin-top: 30px;
    text-align: center;
  }
  .services-wrap-card .services-image .image-icon {
    width: auto;
  }
  .services-wrap-card .services-content h3 {
    font-size: 22px;
  }
  .reviews-single-card {
    padding: 20px;
  }
  .reviews-single-card .client-info .title h3 {
    font-size: 20px;
  }
  .reviews-single-card .quote-icon {
    display: none;
  }
  .overview-wrap-inner-content .overview-card {
    padding: 25px;
    left: 20px;
    bottom: 20px;
  }
  .overview-wrap-inner-content .overview-card .content h3 {
    font-size: 22px;
  }
  .blog-wrap-card h3 {
    font-size: 22.8px;
  }
  .blog-wrap-card .info .title h4 {
    margin-bottom: 0;
    font-size: 15.5px;
  }
  .subscribe-wrap-inner-box {
    padding: 45px 25px;
  }
  .subscribe-wrap-inner-box .subscribe-content h2 {
    font-size: 32.5px;
  }
  .footer-wrap-area .single-footer-widget {
    margin-bottom: 25px;
  }
  .footer-wrap-area .single-footer-widget.ps-5 {
    padding-left: 0 !important;
  }
  .footer-wrap-area .single-footer-widget h3 {
    font-size: 20px;
  }
  .footer-wrap-area .copyright-area {
    margin-top: 55px;
  }
  .social-media-marketing-banner .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 720px;
  }
  .social-media-marketing-banner-content h1 {
    font-size: 55px;
  }
  .social-media-marketing-banner-form {
    margin: 35px auto 0 auto;
    max-width: 100%;
  }
  .social-media-banner-shape-1, .social-media-banner-shape-2, .social-media-banner-shape-3, .social-media-banner-shape-4 {
    display: none;
  }
  .single-features-card .features-content h3 {
    font-size: 20px;
  }
  .agency-wrap-content {
    padding-left: 0;
    margin-top: 35px;
  }
  .agency-wrap-content h3 {
    font-size: 25.5px;
  }
  .companies-inner-box {
    padding-left: 20px;
    padding-right: 20px;
  }
  .companies-item span {
    font-size: 15px;
  }
  .creative-solutions-content {
    padding-right: 0;
  }
  .creative-solutions-content h3 {
    font-size: 25.5px;
  }
  .creative-solutions-image {
    text-align: center;
    margin-top: 30px;
  }
  .strategies-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .strategies-content-card {
    margin-left: 0;
  }
  .strategies-content-card .content h4 {
    font-size: 20px;
  }
  .navbar-area-with-black-color {
    border-bottom: none;
  }
  .navbar-area-with-black-color .container-fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: 720px;
  }
  .navbar-area-with-black-color .others-options {
    margin-left: 0;
  }
  .cryptocurrency-banner-area {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .cryptocurrency-banner-area .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 720px;
  }
  .cryptocurrency-banner-content {
    top: 0;
  }
  .cryptocurrency-banner-content h1 {
    font-size: 55px;
  }
  .cryptocurrency-banner-image {
    text-align: center;
    margin-top: 35px;
  }
  .cryptocurrency-banner-image.ps-5 {
    padding-left: 0 !important;
  }
  .cryptocurrency-app-image {
    text-align: center;
    margin-top: 35px;
  }
  .cryptocurrency-banner-shape-1, .cryptocurrency-banner-shape-2, .cryptocurrency-banner-shape-3, .cryptocurrency-banner-shape-4 {
    display: none;
  }
  .trade-over-table table thead tr th {
    padding: 0 100px 0 0;
  }
  .trade-over-table table thead tr th:last-child {
    padding: 0 0 0 0;
  }
  .trade-over-table table tbody tr td {
    padding: 30px 100px 30px 0;
  }
  .trade-over-table table tbody tr td:last-child {
    padding: 0 0 0 0;
  }
  .platform-card {
    padding: 20px;
  }
  .platform-card .platform-image {
    margin-bottom: 25px;
  }
  .platform-card .platform-image img {
    width: auto;
  }
  .platform-card .platform-content h3 {
    font-size: 20px;
  }
  .investing-image {
    text-align: center;
    margin-bottom: 35px;
  }
  .investing-content {
    margin-left: 0;
    padding-left: 75px;
  }
  .investing-content h3 {
    font-size: 20px;
  }
  .investing-content .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 28px;
  }
  .rates-wrap-card {
    margin-bottom: 25px;
  }
  .rates-wrap-card h3 {
    font-size: 20px;
  }
  .rates-wrap-content {
    padding-left: 0;
    margin-top: 15px;
  }
  .rates-wrap-content h3 {
    font-size: 25.5px;
  }
  .mobile-app-content h3 {
    font-size: 25.5px;
  }
  .mobile-app-image {
    text-align: center;
    margin-top: 35px;
  }
  .cyber-security-banner-area {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .cyber-security-banner-area .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 720px;
  }
  .cyber-security-banner-content h1 {
    font-size: 55px;
  }
  .cyber-security-shape-1, .cyber-security-shape-2, .cyber-security-shape-3 {
    display: none;
  }
  .cyber-security-banner-image {
    margin-top: 30px;
    text-align: center;
  }
  .cs-features-card .features-content h3 {
    font-size: 22px;
  }
  .cs-about-content {
    padding-left: 0;
    margin-top: 35px;
  }
  .cs-about-content h3 {
    font-size: 25.5px;
  }
  .cs-about-content .about-card h4 {
    font-size: 20px;
  }
  .premium-security-content .content h3 {
    font-size: 25.5px;
  }
  .premium-security-content .skill-bar .progress-title {
    font-size: 15px;
  }
  .premium-security-image {
    padding-left: 0;
    margin-top: 35px;
  }
  .cs-services-card {
    padding: 20px;
  }
  .cs-services-card .services-content h3 {
    font-size: 22px;
  }
  .cs-pricing-card {
    padding: 20px;
  }
  .cs-pricing-card .pricing-header h3 {
    font-size: 20px;
  }
  .cs-pricing-card .pricing-price {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .cs-pricing-card .pricing-list {
    padding: 15px;
  }
  .cs-funfacts-inner-box {
    padding: 30px 30px 5px;
  }
  .cs-funfacts-card {
    padding-left: 80px;
  }
  .cs-funfacts-card .icon {
    height: 65px;
    width: 65px;
    line-height: 65px;
    font-size: 30px;
  }
  .cs-funfacts-card h3 {
    font-size: 30px;
  }
  .cs-funfacts-card h3 .plus {
    font-size: 22px;
  }
  .cs-funfacts-card h3 .percentage {
    font-size: 22px;
  }
  .cs-funfacts-shape1, .cs-funfacts-shape2 {
    display: none;
  }
  .cs-reviews-form {
    padding: 30px 20px;
    max-width: 100%;
  }
  .cs-reviews-item {
    padding-left: 0;
    margin-top: 35px;
  }
  .cs-reviews-item .content {
    margin-bottom: 30px;
  }
  .cs-reviews-item .content h3 {
    font-size: 25.5px;
  }
  .cs-reviews-single-card {
    padding: 20px;
  }
  .cs-reviews-single-card .rating {
    margin-bottom: 15px;
  }
  .cs-reviews-single-card .rating li i {
    font-size: 15px;
  }
  .cs-reviews-single-card .client-info .title h3 {
    font-size: 18px;
  }
  .cs-reviews-single-card .client-info .title span {
    font-size: 12px;
  }
  .cs-reviews-slides.owl-theme .owl-nav {
    display: none;
  }
  .mobile-app-area .container-fluid {
    max-width: 720px;
  }
  .mobile-app-content {
    max-width: 100%;
  }
  .cs-about-image {
    margin-left: 0;
  }
  .premium-security-image {
    margin-right: 0;
  }
  /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar .col-lg-8 {
    -ms-flex: 0 0 80%;
    -webkit-box-flex: 0;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .navbar .col-lg-4 {
    -ms-fles: 0 0 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .navbar-right-side .lang {
    display: none;
  }
  .navbar-right-side h5 {
    display: none;
  }
  .main-banner-three .hero-content {
    margin-top: 0;
  }
  .main-banner-four .hero-content {
    margin-top: 0;
  }
  .main-banner-two .hero-content {
    margin-top: 70px;
  }
  .hero-image {
    right: -195px;
    bottom: 30px;
    width: 660px;
  }
  .hero-content h1 {
    font-size: 50px;
  }
  .services-box h3 {
    font-size: 21px;
  }
  .single-services h3 {
    font-size: 21px;
  }
  .circle-pattern-2 {
    display: none;
  }
  .about-text {
    margin-top: 80px;
    padding-left: 0;
    position: relative;
    z-index: 1;
  }
  .features-area .about-text {
    margin-top: 0;
  }
  .features-box h3 {
    line-height: 28px;
  }
  .contact-box {
    padding: 20px 20px 20px 80px;
  }
  .contact-box .icon {
    left: 15px;
  }
  .box h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .timeline > li > .timeline-badge {
    right: -31px;
  }
  .timeline > li.timeline-inverted > .timeline-badge {
    left: -31px;
  }
  .repair-subscribe-content form .form-group {
    width: 33%;
    padding-right: 15px;
  }
  .repair-subscribe-content form .btn {
    width: 18%;
    margin-top: 20px;
  }
  .marketing-agency-banner-content {
    max-width: 500px;
  }
  .marketing-agency-banner-content h1 {
    font-size: 50px;
  }
  .shape3 {
    display: none;
  }
  .growth-content {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
  }
  .growth-content .content {
    max-width: 450px;
  }
  /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
  .header-area-with-white-color .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .navbar-area-with-white-color .container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .navbar-area-with-white-color .others-options .option-item {
    margin-right: 20px;
  }
  .navbar-area-with-white-color .others-options .option-item .default-btn {
    padding: 12px 15px;
    font-size: 14px;
  }
  .digital-solutions-banner-content h1 {
    font-size: 55px;
  }
  .ds-about-content h3 b::before {
    right: -10px;
    left: auto;
  }
  .features-wrap-content h3 b::before {
    right: -10px;
    left: auto;
  }
  .social-media-marketing-banner-form {
    padding: 35px 25px;
  }
  .social-media-marketing-banner-form h3 {
    font-size: 22.8px;
  }
  .creative-solutions-content {
    padding-right: 0;
  }
  .creative-solutions-content .creative-list-tabs .nav .nav-item .nav-link {
    padding: 12px 15px;
    font-size: 16px;
  }
  .creative-solutions-content .creative-list-tabs .tab-content .tab-pane .list li {
    font-size: 15px;
  }
  .services-wrap-card {
    padding: 20px;
  }
  .services-wrap-card .services-content h3 {
    font-size: 20px;
  }
  .services-wrap-card .services-content .services-btn {
    font-size: 14px;
  }
  .strategies-content-card {
    margin-left: 0;
  }
  .navbar-area-with-black-color .others-options .option-item {
    margin-right: 0;
  }
  .navbar-area-with-black-color .others-options .option-item:last-child {
    display: none;
  }
  .navbar-area-with-black-color .others-options .option-item:nth-child(1) {
    display: none;
  }
  .cryptocurrency-banner-area {
    padding-top: 15px;
  }
  .cryptocurrency-banner-content span {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .cryptocurrency-banner-content h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .cryptocurrency-banner-content p {
    font-size: 15px;
  }
  .cryptocurrency-banner-content .banner-btn {
    margin-top: 20px;
  }
  .cryptocurrency-banner-shape-1 {
    max-width: 30px;
  }
  .cryptocurrency-banner-shape-3 {
    max-width: 265px;
  }
  .platform-card {
    padding: 22px;
  }
  .platform-card .platform-content h3 {
    font-size: 22px;
  }
  .investing-content {
    margin-left: 0;
    padding-left: 75px;
  }
  .investing-content .icon {
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 30px;
  }
  .rates-wrap-card {
    padding: 20px 12px;
  }
  .rates-wrap-card h3 {
    font-size: 17.2px;
    margin-bottom: 12px;
  }
  .mobile-app-content h3 {
    font-size: 35.5px;
  }
  .cyber-security-banner-content h1 {
    font-size: 45px;
  }
  .cs-reviews-item {
    padding-left: 0;
  }
  .cs-reviews-item .content h3 {
    font-size: 33.5px;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
  }
  .features-wrap-content {
    padding-right: 0;
  }
  .footer-wrap-area .single-footer-widget.ps-5 {
    padding-left: 0 !important;
  }
  .cs-pricing-card {
    padding: 30px;
  }
  /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .overview-wrap-inner-content .overview-card .content {
    padding-right: 75px;
  }
  .overview-wrap-inner-content .overview-card .content .icon {
    position: absolute;
  }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
  .creative-solutions-content {
    padding-right: 0;
  }
  .services-wrap-card {
    padding: 20px;
  }
  .services-wrap-card .content h3 {
    font-size: 22px;
  }
  .strategies-content-card {
    margin-left: 0;
  }
  .cryptocurrency-banner-area {
    padding-top: 15px;
  }
  .cryptocurrency-banner-content span {
    font-size: 14.5px;
    margin-bottom: 15px;
  }
  .cryptocurrency-banner-content h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }
  .cryptocurrency-banner-content .banner-btn {
    margin-top: 20px;
  }
  .cryptocurrency-banner-shape-1 {
    max-width: 30px;
  }
  .cryptocurrency-banner-shape-3 {
    max-width: 265px;
  }
  .rates-wrap-card {
    padding: 20px;
  }
  .rates-wrap-card h3 {
    font-size: 20px;
  }
  .cs-funfacts-card h3 {
    font-size: 38px;
  }
  .cs-reviews-item {
    padding-left: 20px;
  }
  /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {
  /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
  .header-area-with-white-color .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1900px;
  }
  .navbar-area-with-white-color .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1900px;
  }
  .navbar-area-with-black-color .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1900px;
  }
  .digital-solutions-banner .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1900px;
  }
  .social-media-marketing-banner .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1900px;
  }
  .cryptocurrency-banner-area .container-fluid {
    padding-left: 100px;
    padding-right: 50px;
    max-width: 1900px;
  }
  .cryptocurrency-banner-content h1 {
    font-size: 70px;
  }
  .cyber-security-banner-area .container-fluid {
    padding-left: 100px;
    padding-right: 50px;
    max-width: 1900px;
  }
  /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}
/*# sourceMappingURL=responsive.css.map */