$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 767px;
$value_two: 768px;
$value_three: 991px;
$value_four: 992px;
$value_five: 1199px;
$value_six: 576px;

@media only #{$media} and ($feature_max : $value_one) {

    .spinner {
		margin: -70px auto 0 -40px;
    }
    .ptb-100 {
        padding: {
            top: 55px;
            bottom: 55px;
        }
    }
    p {
		font-size: 14px;
	}
	.btn {
		font-size: 13px;
		padding: 13px 30px;
	}
    .section-title {
        margin-bottom: 35px;

        span {
            font-size: 15px;
        }
        h3 {
            font-size: 23px;
            max-width: 100%;
            line-height: 31px;
            margin: {
                top: 10px;
                bottom: 10px;
            }
        }
        .read-more-btn {
            display: none;
        }
    }
    .form-control {
		height: 45px;
		font-size: 14px;
		padding: 11px 14px;
	}
	.form-group {
		margin-bottom: 10px;
    }
    .header-area {
        text-align: center;
        .header-info {
            display: none;
        }
        .social-links {
            li a {
                margin-left: 6px;
                font-size: 14px;
            }
        }
    }
    .main-banner {
		height: 100%;
        padding: {
            top: 50px;
            bottom: 50px;
        }
    }
    .hero-content {
        h1 {
            font-size: 30px;
            line-height: 1.3;
            span{
                &::after {
                    bottom: 7px;
                    height: 8px;
                }
            }
        }
        p {
            margin: {
                bottom: 30px;
                top: 20px;
            }
            font-size: 16px;
        }
        .btn {
            margin-right: 10px;
        }
    }
    .video-btn {
		padding-right: 35px;
        font-size: 13px;
        i {
            margin-left: 10px;
            font-size: 27px;
            bottom: -4px;
        }
    }
    .hero-image {
		position: relative;
		right: 0;
		bottom: 0;
		width: 100%;
		margin-top: 35px;
		padding: 0 15px;
    }
    .main-banner-two {
        height: 100%;
        padding: {
            top: 50px;
            bottom: 50px;
        }
        .hero-content {
            margin-top: 40px;
        }
        .banner-image {
            margin-top: 0;
        }
    }
    .banner-image {
		margin-top: 50px;
    }
    .main-banner-three {
        height: 100%;
        padding: {
            top: 50px;
            bottom: 110px;
        }
        .banner-image {
            margin: {
                top: 0;
                bottom: 40px;
            }
        }
    }
    .owl-theme {
        .owl-nav [class*="owl-"] {
            top: auto;
            bottom: 35px;
        }
    }
    .main-banner-four {
        height: 100%;
        padding: {
            top: 50px;
            bottom: 110px;
        }
        .banner-image {
            margin: {
                top: 0;
                bottom: 40px;
            }
        }
    }
    .single-box {
		padding: 15px;
        margin-bottom: 30px;
        .icon {
            width: 70px;
            height: 70px;
            font-size: 30px;
            line-height: 70px;
        }
        h3 {
            font-size: 19px;
            margin: {
                top: 25px;
                bottom: 15px;
            }
        }
    }
    .about-image {
		margin-top: 30px;
	}
	.about-text {
		margin-top: 50px;
        padding-left: 0;
        span {
            font-size: 14px;
        }
        h3 {
            font-size: 23px;
            margin: 15px 0 20px;
            line-height: 30px;
        }
        p {
            margin-bottom: 15px;
        }
    }
    .circle-pattern-2 {
		top: -10px;
		bottom: auto;
	}
	.rocket {
		display: none;
	}
	.vector {
		display: none;
	}
	.page-title {
        padding: {
            top: 60px;
            bottom: 60px;
        }
        h3 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        ul li {
            font-size: 15px;
        }
    }
    .services-area {
		padding-bottom: 25px;
	}
	.single-services {
        padding: 15px;
        .icon {
            width: 70px;
            height: 70px;
            font-size: 35px;
            line-height: 71px;
        }
        h3 {
            font-size: 19px;
            margin: {
                bottom: 15px;
                top: 25px;
            }
        }
    }
    .read-more-btn {
		font-size: 14px;
	}
	.services-box {
        padding: 15px;
        .icon {
            width: 70px;
            height: 70px;
            line-height: 71px;
            font-size: 35px;
            margin: 18px 0 18px;
            &::before {
                width: 106px;
                height: 106px;
                top: -19px;
                left: -19px;
            }
        }
        h3 {
            font-size: 19px;
        }
    }
    .features-text {
        margin-top: 0;
        h3 {
            font-size: 23px;
            margin-bottom: 18px;
            line-height: 1.3;
        }
        ul {
            margin: 20px 0 25px;
            li {
                margin-bottom: 12px;
                padding-left: 29px;
                font-size: 14px;
            }
        }
    }
    .features-area{
        .ptb-100 {
            padding: {
                top: 40px;
                bottom: 40px;
            }
        }
        .img {
            margin-bottom: 35px;
        }
    }
    .features-text {
        margin: {
            top: 0;
            bottom: 40px;
        }
    }
    .features-area-two {
		padding-bottom: 25px;
	}
	.single-features {
        margin-bottom: 30px;
        i {
            width: 70px;
            height: 70px;
            font-size: 30px;
            line-height: 72px;
        }
        h3 {
            font-size: 19px;
        }
    }
	.features-area-three {
		padding-bottom: 25px;
    }
    .check-your-website {
        .text {
            h3 {
                font-size: 23px;
                margin-bottom: 15px;
            }
            p {
                font-size: 15px;
            }
            .form-control {
                border-radius: 40px;
                height: 50px;
                margin-bottom: 15px;
            }
            .btn {
                margin-top: 0;
                padding: 15px 40px;
                display: block;
                width: 100%;
            }
        }
    }
    .box {
        height: 90px;
        span {
            font-size: 85px;
        }
        h3 {
            font-size: 15px;
            line-height: 24px;
        }
    }
    .features-box {
		margin-bottom: 30px;
        padding-left: 70px;
        i {
            width: 50px;
            height: 50px;
            font-size: 26px;
            line-height: 53px;
        }
        h3 {
            font-size: 19px;
            line-height: 22px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 10px;
        }
    }
    .working-process-area {
		padding-bottom: 25px;
	}
	.single-work-process {
		padding: 15px;
        margin-bottom: 30px;
        &::before {
            display: none;
        }
        h3 {
            font-size: 19px;
            margin-top: 25px;
        }
        .icon {
            width: 70px;
            height: 70px;
            font-size: 35px;
            line-height: 74px;
        }
    }
    .analysis-form {
        padding: 15px;
        h3 {
            font-size: 20px;
            margin-bottom: 25px;
        }
        form .btn {
            padding: 11px 40px;
        }
    }
    .analysis-text {
        margin-top: 40px;
        span {
            font-size: 15px;
        }
        h3 {
            font-size: 22px;
            margin: 15px 0 15px;
            line-height: 31px;
        }
        ul li {
            font-size: 14px;
        }
    }
	.shorting-menu {
		display: block;
		padding: 10px 10px 5px;
		margin-bottom: 35px;
		border-radius: 5px;
        text-align: center;
        .filter {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
    .single-work {
        margin-top: 5px;
        .work-content{
            h4 {
                font-size: 19px;
                margin-bottom: 8px;
            }
            ul li {
                font-size: 14px;
            }
        }
        .popup-btn, .link-btn{
            right: 20px;
            width: 35px;
            height: 35px;
            line-height: 35px;
            font-size: 15px;
        }
        &:hover{
            .popup-btn, .link-btn{
                top: 20px;
            }
            .link-btn {
                left: 20px;
            }
        }
    }
    .single-feedback {
		padding: 20px 15px;
        margin-top: 24px;
        .client-info {
            padding-left: 117px;
            margin-bottom: 25px;
            h4 {
                font-size: 19px;
            }
            span {
                font-size: 14px;
                margin-top: 8px;
            }
        }
    }
    .owl-theme .owl-dots {
		margin-top: 10px !important;
	}
	.team-area {
		padding-bottom: 25px;
    }
    .single-team {
        padding: 15px;
        .team-content {
            h3 {
                font-size: 19px;
            }
            span {
                font-size: 14px;
            }
            ul li a {
                font-size: 14px;
            }
        }
    }
    .funfacts-area {
		padding-bottom: 25px;
	}
	.fun-fact {
		margin-bottom: 30px;
        padding-left: 55px;
        i {
            font-size: 35px;
            top: 5px;
        }
        p {
            font-size: 15px;
        }
        h3 {
            font-size: 30px;
            margin-top: 10px;
            line-height: 26px;
        }
    }
    .tab-slider-trigger {
		padding: 10px 25px;
		font-size: 14px;
	}
	.tab-slider-container .row {
		width: auto;
	}
	.tab-slider-nav {
		margin-bottom: 10px;
	}
	.pricingTable {
		padding-bottom: 25px;
        margin-top: 30px;
        .pricingTable-header {
            padding: 25px 15px 35px;
            z-index: 1;
            &::before {
                z-index: -1;
            }
        }
        .title {
            font-size: 19px;
        }
        .price-value {
            font-size: 30px;
            margin-bottom: 25px;
            span {
                font-size: 13px;
                margin-left: -5px;
            }
        }
        
        .pricing-content{
            li {
                font-size: 14px;
                margin-bottom: 10px;
                padding-bottom: 10px;
            }
        }
    }
    .pricing-plan {
		margin-top: 30px;
        padding-bottom: 25px;
        h3 {
            font-size: 19px;
            padding-top: 25px;
            span {
                height: 85px;
                width: 85px;
                margin: 20px auto -65px;
                line-height: 90px;
                font-size: 25px;
            }
        }
        ul {
            margin: 70px 0 25px;
        }
        li {
            padding: 10px 0;
            font-size: 14px;
        }
        &#most-popular {
            top: 0;
            padding: 25px 0 25px;
        }
    }
    .single-blog-item {
        span {
            font-size: 14px;
        }
        h4 {
            font-size: 19px;
        }
    }
    .newsletter {
		max-width: 100%;
		padding: 20px 15px;
        border-radius: 5px;
        form {
            .form-control {
                height: 70px;
                border-radius: 5px;
                padding-left: 18px;
                font-size: 16px;
            }
            .btn {
                position: relative;
                right: 0;
                top: 0;
                height: 55px;
                width: 100%;
                margin-top: 10px;
            }
        }
        h4 {
            margin-bottom: 25px;
            font-size: 23px;
        }
    }
    .timeline{
        &::before {
            left: 10px;
        }
        > li {
            margin-bottom: 0;
            position: relative;
            width: 100%;
            float: left;
            clear: left;
            > .timeline-panel {
                width: calc(100% - 50px);
                width: -moz-calc(100% - 50px);
                width: -webkit-calc(100% - 50px);
            }
            > .timeline-badge {
                left: -2px;
                margin-left: 0;
                top: 25px;
            }
            > .timeline-panel {
                float: right;
                padding: 20px 15px;
                text-align: left;
                &::before {
                    border-left-width: 0;
                    border-right-width: 15px;
                    left: -15px;
                    right: auto;
                }
                &::after {
                    border-left-width: 0;
                    border-right-width: 14px;
                    left: -14px;
                    right: auto;
                }
            }
            &.timeline-inverted {
                float: left;
                clear: left;
                margin-top: 30px;
                margin-bottom: 30px;
                .timeline-footer {
                    text-align: right;
                }
                > .timeline-badge {
                    left: -2px;
                }
            }
        }
    }
    .timeline-heading {
        h4 {
            font-size: 19px;
        }
    }
    .timeline-body{
        > p {
            font-size: 14px;
            margin-bottom: 40px;
        }
    }
    .blog-area{
        .section-title {
            z-index: 1;
        }
    }
    .single-blog-item {
        padding: 15px;
    }
	.single-blog-post {
        .blog-post-content {
            padding: 15px;
            span {
                font-size: 14px;
            }
            h4 {
                font-size: 19px;
            }
        }
    }
    .blog-details{
        .date {
            padding: 9px 19px;
            font-size: 19px;
        }
    }
    .blog-details-heading {
        h3 {
            font-size: 19px;
            line-height: 26px;
        }
    }
    .blog-details-content {
        p {
            font-size: 14px;
        }
        .blockquote {
            padding: 20px;
            p {
                font-size: 16px;
            }
            .blockquote-footer {
                font-size: 16px;
            }
        }
        .title {
            font-size: 19px;
            margin-bottom: 30px;
        }
    }
    .blog-details-meta {
        ul {
            .title {
                font-size: 16px;
            }
        }
        .tags{
            li {
                a {
                    padding: 4px 13px;
                    font-size: 14px;
                }
            }
        }
        .share {
            float: none;
            margin-top: 20px;
            li {
                a {
                    width: 30px;
                    font-size: 14px;
                    height: 30px;
                    line-height: 30px;
                }
            }
        }
    }
    .blog-details-comments {
        .single-comments {
            padding-left: 120px;
            .content {
                h4 {
                    font-size: 17px;
                }
                span {
                    font-size: 14px;
                    margin: 8px 0 15px;
                }
            }
        }
    }
    .single-comments{
        &.left-mr {
            margin: {
                left: 20px;
                top: 35px;
            }
        }
    }
    .blog-details-comments-form {
        .btn {
            margin-top: 10px;
        }
    }
	
	.contact-box {
		padding: 20px 15px 20px 80px;
        margin-bottom: 30px;
        .icon {
            left: 15px;
            top: 20px;
            width: 45px;
            height: 45px;
            line-height: 44px;
            font-size: 20px;
        }
        .content {
            h4 {
                font-size: 18px;
                margin-bottom: 15px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .contact-text {
        h3 {
            font-size: 19px;
        }
        .social-links {
            margin-bottom: 30px;
        }
    }
	#map {
        margin: {
            top: 0;
            bottom: 30px;
        }
    }
    #contactForm {
        .btn {
            padding: 13px 40px;
            font-size: 13px;
        }
    }
	
	.accordion {
        .accordion-title {
            padding: 10px 15px;
            border-radius: 5px;
            font-size: 14px;
        }
    }
    .error {
        max-width: 100%;
        h1 {
            font-size: 130px;
        }
        p {
            font-size: 18px;
            margin: {
                top: 15px;
                bottom: 25px;
            }
        }
    }
    .project-details{
        h3 {
            font-size: 19px;
        }
        p {
            font-size: 14px;
        }
        .features {
            margin-top: 25px;
        }
        ul{
            &.features {
                li {
                    margin-bottom: 12px;
                    padding-left: 24px;
                    font-size: 14px;
                }
            }
        }
    }
    .project-info {
        margin-top: 30px;
        ul {
            li {
                padding-left: 40px;
                margin-bottom: 15px;
                font-size: 14px;
                i {
                    font-size: 25px;
                }
                span {
                    font-size: 17px;
                }
            }
        }
    }
    .pagination-area {
		margin-top: 25px;
	}
	.page-link {
		padding: 10px 18px;
		font-size: 14px;
	}
	
	.side-bar {
        margin: {
            top: 40px;
            bottom: 40px;
        }
        .widget-box {
            padding: 25px 20px;
            .title {
                font-size: 19px;
                margin-bottom: 30px;
            }
        }
        .categories-box{
            ul{
                li{
                    a {
                        margin-bottom: 12px;
                        font-size: 14px;
                    }
                }
            }
        }
        .tags-box{
            ul {
                li {
                    a {
                        padding: 4px 14px;
                        font-size: 14px;
                    }
                }
            }
            .title {
                margin-bottom: 24px;
            }
        }
    }
    .recent-post-desc {
		margin-top: -5px;
    }
    
    .repair-main-banner {
        padding: {
            top: 155px;
            bottom: 245px;
        }
    }
    .repair-banner-content {
        p {
            font-size: 15px;
        }
        h2 {
            line-height: 1.2;
            font-size: 30px;
        }
    }
    .repair-boxes-area {
        &::before {
            transform: skewY(170deg);
        }
    }
    .single-repair-box {
        h3 {
            font-size: 18px;
        }
        img {
            width: unset;
        }
    }
    .repair-about-image {
        padding-bottom: 30px;

        img {
            &:last-child {
                position: relative;
                bottom: 0;
                border: none;
                right: 0;
                margin-top: 20px;
            }
        }
    }
    .single-repair-services {
        padding: 20px;

        h3 {
            font-size: 19px;
        }
    }
    .repair-services-inner {
        margin-top: 50px;
        padding: {
            top: 30px;
            bottom: 30px;
            left: 15px;
            right: 15px;
        }
        .col-lg-4:nth-child(2) {
            border-left: none;
            border-right: none;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
    .single-repair-feedback {
        padding: 20px;

        .client-info {
            span {
                font-size: 14px;
            }
        }
    }
    .gallery-area {
        padding-bottom: 25px;
    }
    .repair-blog-area {
        padding-bottom: 25px;
    }
    .single-repair-blog-post {
        margin-bottom: 30px;

        .blog-content {
            h3 {
                font-size: 19px;
                line-height: 1.4;
            }
        }
    }
    .repair-subscribe-area {
        margin: {
            top: -55px;
            bottom: 55px;
        }
    }
    .repair-subscribe-content {
        padding: {
            top: 30px;
            bottom: 30px;
            left: 15px;
            right: 15px;
        }
        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        form {
            .form-group {
                float: unset;
                margin-bottom: 10px;
                width: 100%;
                padding-right: 0;
            }
            .btn {
                float: unset;
                width: 100%;
            }
        }
    }
    .woocommerce-topbar {
        text-align: center;
        padding: {
            top: 15px;
            bottom: 15px;
        }
        .woocommerce-result-count {
            margin-bottom: 10px;
        }
        .woocommerce-topbar-ordering {
            .form-control {
                height: 40px;
                padding: 6px 14px;
            }
        }
    }
    .single-products {
        .products-content {
            h3 {
                font-size: 19px;
            }
        }
    }
    .productsQuickView {
        .modal-content {
            .products-content {
                padding: 20px;

                h3 {
                    font-size: 19px;
                    margin-bottom: 12px;
                    line-height: 1.4;
                }
            }
        }
    }
    .products-details {
        margin-top: 20px;

        .payment-methods img {
            width: auto;
        }
    }
    .cart-table {
        table {
            thead {
                tr {
                    th {
                        padding: 15px 15px;
                        font-size: 15px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    .cart-buttons {
        .continue-shopping-box {
            text-align: center;
            margin-bottom: 15px;
        }
        .text-end {
            text-align: center!important;
        }
    }
    .cart-totals {
        padding: 20px;
        
        h3 {
            font-size: 19px;
        }
    }
    .checkout-area {
        .title {
            font-size: 19px;
        }
    }
    .order-details {
        margin-top: 30px;
    }
    .single-repair-blog-post {
        .blog-content {
            ul {
                overflow: hidden;
            }
        }
    }
	
	.footer-area {
		padding-top: 55px;
    }
    .single-footer-widget {
        margin-bottom: 30px;
        .logo{
            a {
                font-size: 25px;
            }
        }
        h3 {
            font-size: 19px;
            margin-bottom: 25px;
        }
        .services-list {
            li {
                a {
                    margin-bottom: 12px;
                    font-size: 14px;
                }
            }
        }
        .usefull-links{
            li {
                a {
                    margin-bottom: 10px;
                    font-size: 14px;
                }
            }
        }
        .contact-list {
            li {
                margin-bottom: 10px;
                font-size: 14px;
            }
        }
    }
    .copyright-area {
        text-align: center;
        padding: {
            top: 30px;
            bottom: 30px;
        }
        margin-top: 25px;
        ul {
            li{
                a {
                    font-size: 14px;
                }
            }
        }
        .text-end {
            text-align: center !important;
            margin-top: 15px;
        } 
    }
    .go-top {
		bottom: 20px;
		font-size: 20px;
		width: 40px;
		height: 40px;
		line-height: 40px;
    }
    
    .marketing-agency-banner {
        padding: {
            top: 100px;
            bottom: 100px;
        };
    }
    .marketing-agency-banner-content {
        max-width: 100%;
        text-align: center;

        h1 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 20px;
            font-weight: 600;
        }
    }
    .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8 {
        display: none;
    }

    .partner-area.ptb-70 {
        padding: {
            top: 40px;
            bottom: 10px;
        };
    }

    .featured-services-area {
        padding-bottom: 25px;
    }
    .single-featured-services-box {
        h3 {
            font-size: 20px;
        }
    }
    
    .creative-area {
        padding-top: 55px;
    }
    .creative-content {
        max-width: 100%;
        text-align: center;
        padding: 20px;

        &::after {
            display: none;
        }
        h2 {
            margin-bottom: 15px;
            font-size: 23px;
        }
    }

    .solutions-area {
        padding-bottom: 25px;
        
        .section-title {
            h3 {
                max-width: 100%;
            }
        }
    }
    .single-solutions-box {
        padding: 20px 15px;

        .icon {
            width: 65px;
            height: 65px;
            line-height: 70px;
            font-size: 33px;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 20px;
        }
        .link-btn {
            font-size: 13px;
        }
    }

    .growth-image {
        height: auto;
        background-image: unset !important;

        img {
            display: inline-block;
        }
    }
    .growth-content {
        text-align: center;
        padding: {
            top: 35px;
            bottom: 35px;
            left: 15px;
            right: 15px;
        };
        .content {
            max-width: 100%;

            h2 {
                margin-bottom: 12px;
                font-size: 23px;
            }
            .list {
                li {
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    font: {
                        size: 16px;
                    };
                    span {
                        font-size: 23px;
                        display: block;
                        margin-right: 0;
                        margin-bottom: 8px;
                    }
                    .d-flex {
                        display: block !important;
                    }
                }
            }
        }
    }

    .testimonials-slider {
        max-width: 100%;
    }
    .single-testimonials-box {
        margin-bottom: 17px;

        p {
            font-size: 15px;
        }
        .user-info {
            h3 {
                font-size: 17px;
            }
        }
        &::before {
            font-size: 68px;
        }
    }

    .company-strategy-area {
        .single-company-strategy-box {
            margin-top: 30px;
        }
        .col-lg-4 {
            &:nth-child(1) {
                .single-company-strategy-box {
                    margin-top: -50px;
                }
            }
        }
    }
    .single-company-strategy-box {
        padding: 25px;
        text-align: center;

        h3 {
            font-size: 20px;

            br {
                display: none;
            }
        }
    }

    .single-team-box {
        .content {
            h3 {
                font-size: 19px;
            }
        }
    }

    .single-blog-post-item {
        padding: 20px 15px 0;

        h4 {
            font-size: 19px;
        }
        .btn {
            margin: {
                left: -15px;
                right: -15px;
            };
        }
    }

    /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */

    .ptb-100 {
        padding: {
            top: 55px;
            bottom: 55px;
        }
    }
    .pt-100 {
        padding-top: 55px;
    }
    .pb-100 {
        padding-bottom: 55px;
    }
    .pt-75 {
        padding-top: 55px;
    }
    .pb-75 {
        padding-bottom: 30px;
    }

    .default-btn {
        padding: 10px 22px;
        font-size: 12px;
    }

    .section-title-with-border {
        span {
            font-size: 12px;
        }
        h2 {
            font-size: 24.5px;

            b {
                &::before {
                    display: none;
                }
            }
        }
    }

    .navbar-area-with-white-color {
        .container-fluid {
            padding: {
                left: 0;
                right: 0;
            };
            max-width: 540px;
        }
        .others-options {
            margin-left: 0;
        }
    }

    .digital-solutions-banner {
        padding: {
            top: 65px;
            bottom: 55px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .digital-solutions-banner-content {
        padding-right: 0;

        span {
            font-size: 12.5px;
            margin-bottom: 15px;
        }
        h1 {
            font-size: 32px;
            margin-bottom: 15px;

            b {
                &::before {
                    display: none;
                }
            }
        }
        .banner-btn {
            margin-top: 20px;
        }
    }
    .digital-solutions-banner-image {
        text-align: center;
        margin-top: 35px;
    }
    .ds-banner-shape-1, .ds-banner-shape-2, .ds-banner-shape-3 {
        display: none;
    }

    .single-global-card {
        padding: 20px;

        .global-content {
            h3 {
                font-size: 18px;
            }
        }
    }

    .ds-about-content {
        padding-left: 0;
        margin-top: 30px;

        span {
            font-size: 12px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 22.5px;
            
            b {
                &::before {
                    display: none;
                }
            }
        }
        .list {
            li {
                font-size: 14.5px;
            }
        }
    }

    .fun-fact-wrap-card {
        h3 {
            font-size: 30px;

            .plus {
                font-size: 22px;
            }
            .percentage {
                font-size: 22px;
            }
        }
        p {
            font-size: 14px;
        }
    }

    .single-team-wrap-box {
        .content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .features-wrap-content {
        span {
            font-size: 12px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 22.5px;
            
            b {
                &::before {
                    display: none;
                }
            }
        }
        .features-inner-card {
            padding: 20px;
            
            .content {
                padding-left: 0;

                .icon {
                    position: relative;
                }
                h4 {
                    font-size: 18px;
                    margin-bottom: 12px;
                }
            }
        }
    }
    .features-wrap-image {
        padding-left: 0;
        margin-top: 30px;
        text-align: center;
    }

    .services-wrap-card {
        padding: 20px;

        .services-image {
            .image-icon {
                width: auto;
            }
        }
        .services-content {
            h3 {
                font-size: 20px;
            }
            p {
                margin-bottom: 14.8px;
            }
            .services-btn {
                font-size: 12.5px;
            }
        }
    }

    .reviews-single-card {
        padding: 20px;

        .client-info {
            .title {
                h3 {
                    font-size: 18px;
                }
                span {
                    font-size: 12.5px;
                }
            }
        }
        .rating {
            li {
                i {
                    font-size: 15px;
                }
            }
        }
        .quote-icon {
            display: none;
        }
    }

    .overview-wrap-inner-content {
        .overview-card {
            padding: 20px;
            position: relative;
            left: 0;
            bottom: 0;
            transition: 0.4s;
            margin-top: 25px;
            border: 1px solid #f5f5f5;

            .content {
                padding-right: 0;

                .image {
                    img {
                        width: auto;
                    }
                }
                h3 {
                    font-size: 20px;
                }
                .icon {
                    position: relative;
                    margin-top: 15px;

                    a {
                        i {
                            height: 45px;
                            width: 45px;
                            line-height: 45px;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }

    .blog-wrap-card {
        padding: 20px;

        h3 {
            font-size: 20.8px;
        }
        .info {
            .title {
                h4 {
                    margin-bottom: 0;
                    font-size: 15.5px;
                }
            }
        }
    }

    .subscribe-wrap-inner-box {
        padding: 45px 25px;

        .subscribe-content {
            h2 {
                font-size: 25.5px;
            }
            .newsletter-form {
                button {
                    position: relative;
                    right: 0;
                    top: 0;
                    margin-top: 15px;
                }
            }
        }
    }

    .footer-wrap-area {
        .single-footer-widget {
            margin-bottom: 25px;

            &.ps-5 {
                padding-left: 0 !important;
            }
            h3 {
                font-size: 18px;
            }
        }
        .copyright-area {
            margin-top: 30px;
        }
    }

    .social-media-marketing-banner {
        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            max-width: 540px;
        }
    }
    .social-media-marketing-banner-content {
        span {
            padding: 5px 10px;
            font-size: 11.5px;
        }
        h1 {
            font-size: 32px;
            margin-bottom: 15px;
        }
        .free-analysis-form {
            margin-top: 25px;

            .form-control {
                height: 52px;
            }
            button {
                position: relative;
                right: 0;
                top: 0;
                font-size: 14px;
                margin-top: 10px;
                height: 52px;
            }
        }
    }
    .social-media-marketing-banner-form {
        margin: 35px auto 0 auto;
        padding: 25px;
        max-width: 100%;

        h3 {
            font-size: 17.8px;
            margin-bottom: 20px;
        }
    }
    .social-media-banner-shape-1, .social-media-banner-shape-2, .social-media-banner-shape-3, .social-media-banner-shape-4 {
        display: none;
    }

    .single-features-card {
        padding: 20px;

        .features-content {
            h3 {
                font-size: 18px;
            }
        }
    }

    .agency-wrap-content {
        padding-left: 0;
        margin-top: 35px;

        span {
            font-size: 12px;
        }
        h3 {
            font-size: 22.5px;
        }
        .list {
            li {
                font-size: 14.5px;

                &.left {
                    left: 0;
                }
            }
        }
    }

    .companies-inner-box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .companies-item {
        span {
            font-size: 15px;
        }
    }

    .creative-solutions-content {
        padding-right: 0;

        span {
            font-size: 12px;
        }
        h3 {
            font-size: 22.5px;
        }
        .creative-list-tabs {
            .nav {
                .nav-item {
                    margin-right: 0;
                    width: 100%;
                }
            }
            .tab-content {
                .tab-pane {
                    .creative-inner-card {
                        padding: 20px;
            
                        .content {
                            padding-left: 0;

                            .icon {
                                position: relative;
                            }
                            h4 {
                                font-size: 18px;
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .creative-solutions-image {
        text-align: center;
        margin-top: 30px;
    }

    .strategies-image {
        text-align: center;
        margin-bottom: 30px;
    }
    .strategies-content-card {
        padding: 20px;
        margin-left: 0;

        .content {
            padding-left: 0;

            .icon {
                position: relative;
            }
            h4 {
                font-size: 18px;
                margin-bottom: 12px;
            }
        }
    }

    .navbar-area-with-black-color {
        border-bottom: none;

        .container-fluid {
            padding: {
                left: 0;
                right: 0;
            };
            max-width: 540px;
        }
        .others-options {
            margin-left: 0;
        }
    }

    .cryptocurrency-banner-area {
        padding: {
            top: 55px;
            bottom: 55px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .cryptocurrency-banner-content {
        top: 0;

        span {
            font-size: 11.5px;
            margin-bottom: 12px;
        }
        h1 {
            font-size: 32px;
            margin-bottom: 14px;
        }
        .banner-btn {
            margin-top: 20px;
        }
    }
    .cryptocurrency-banner-image {
        text-align: center;
        margin-top: 35px;

        &.ps-5 {
            padding-left: 0 !important;
        }
    }
    .cryptocurrency-app-image {
        text-align: center;
        margin-top: 35px;
    }
    .cryptocurrency-banner-shape-1, .cryptocurrency-banner-shape-2, .cryptocurrency-banner-shape-3, .cryptocurrency-banner-shape-4 {
        display: none;
    }

    .trade-over-table {
        padding: 35px 25px;

        table {
            thead {
                tr {
                    th {
                        padding: 0 100px 0 0;

                        &:last-child {
                            padding: 0 0 0 0;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 30px 100px 30px 0;

                        &:last-child {
                            padding: 0 0 0 0;
                        }
                    }
                }
            }
        }
    }

    .platform-card {
        padding: 20px;

        .platform-image {
            margin-bottom: 25px;

            img {
                width: auto;
            }
        }
        .platform-content {
            h3 {
                font-size: 18px;
            }
        }
    }

    .investing-image {
        text-align: center;
        margin-bottom: 35px;
    }
    .investing-content {
        padding-left: 0;
        margin-left: 0;

        .icon {
            position: relative;
            margin-bottom: 20px;

            i {
                height: 65px;
                width: 65px;
                line-height: 65px;
                font-size: 35px;
            }
        }
        h3 {
            font-size: 18px;
        }
    }

    .rates-wrap-card {
        margin-bottom: 25px;

        h3 {
            font-size: 18px;
        }
    }
    .rates-wrap-content {
        padding-left: 0;
        margin-top: 15px;

        span {
            font-size: 12px;
        }
        h3 {
            font-size: 22.5px;
        }
        .list {
            li {
                font-size: 14.5px;
            }
        }
    }

    .mobile-app-content {
        h3 {
            font-size: 22.5px;
        }
        .app-list {
            li {
                a {
                    img {
                        max-width: 135px;
                    }
                }
            }
        }
    }
    .mobile-app-image {
        text-align: center;
        margin-top: 35px;
    }

    .cyber-security-banner-area {
        padding: {
            top: 55px;
            bottom: 65px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .cyber-security-banner-content {
        span {
            font-size: 12px;
        }
        h1 {
            font-size: 32px;
            margin-bottom: 14px;
        }
        .banner-btn {
            .default-btn {
                padding: 10px 15px;
                font-size: 12px;
            }
        }
    }
    .cyber-security-shape-1, .cyber-security-shape-2, .cyber-security-shape-3 {
        display: none;
    }
    .cyber-security-banner-image {
        margin-top: 30px;
        text-align: center;
    }

    .cs-features-card {
        padding: 20px;

        .features-image {
            .image-icon {
                width: auto;
                margin-bottom: 15px;
            }
        }
        .features-content {
            h3 {
                font-size: 20px;
            }
            .features-btn {
                font-size: 14px;
            }
        }
    }

    .cs-about-content {
        padding-left: 0;
        margin-top: 35px;

        span {
            font-size: 12px;
        }
        h3 {
            font-size: 22.5px;
        }
        .about-card {
            h4 {
                font-size: 20px;
            }
        }
    }

    .premium-security-content {
        .content {
            span {
                font-size: 12px;
            }
            h3 {
                font-size: 22.5px;
            }
        }
        .skill-bar {
            .progress-title {
                font-size: 15px;
            }
        }
    }
    .premium-security-image {
        padding-left: 0;
        margin-top: 35px;
    }

    .cs-services-card {
        padding: 20px;

        .services-image {
            margin-bottom: 25px;

            .image-icon {
                width: auto;
            }
        }
        .services-content {
            h3 {
                font-size: 20px;
            }
            .services-btn {
                font-size: 14px;
            }
        }
    }

    .cs-pricing-card {
        padding: 20px;

        .pricing-header {
            h3 {
                font-size: 18px;
                margin-bottom: 12px;
            }
        }
        .pricing-price {
            font-size: 30px;
            margin-bottom: 8px;
        }
        .pricing-list {
            padding: 15px;

            li {
                font-size: 14.5px;
            }
        }
    }

    .cs-funfacts-inner-box {
        padding: 30px 30px 5px;
    }
    .cs-funfacts-card {
        padding-left: 80px;

        .icon {
            height: 65px;
            width: 65px;
            line-height: 65px;
            font-size: 30px;
        }
        h3 {
            font-size: 30px;

            .plus {
                font-size: 22px;
            }
            .percentage {
                font-size: 22px;
            }
        }
    }
    .cs-funfacts-shape1, .cs-funfacts-shape2 {
        display: none;
    }

    .cs-reviews-form {
        padding: 30px 20px;
        max-width: 100%;

        h3 {
            font-size: 20.8px;
        }
    }
    .cs-reviews-item {
        padding-left: 0;
        margin-top: 35px;

        .content {
            margin-bottom: 30px;

            span {
                font-size: 12px;
            }
            h3 {
                font-size: 22.5px;
            }
        }
    }
    .cs-reviews-single-card {
        padding: 20px;

        .rating {
            margin-bottom: 15px;

            li {
                i {
                    font-size: 15px;
                }
            }
        }
        .client-info {
            .title {
                h3 {
                    font-size: 18px;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    }
    .cs-reviews-slides {
        &.owl-theme {
            .owl-nav {
                display: none;
            }
        }
    }

    .features-wrap-content {
        padding-right: 0;
    }

    .social-media-marketing-banner {
        padding: {
            top: 50px;
            bottom: 50px;
        };
    }

    .navbar-area-with-black-color {
        padding: 25px 15px;
    }

    .mobile-app-area {
        .container-fluid {
            padding-left: 10px;
            padding-right: 10px;
            max-width: 540px;
        }
    }

    
    .mobile-app-content {
        max-width: 100%;
    }

    .cs-about-image {
        margin-left: 0;
    }
    .premium-security-image {
        margin-right: 0;
    }

    /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}

@media only #{$media} and ($feature_min : $value_six) and ($feature_max : $value_one) {

    .marketing-agency-banner-content {
        max-width: 285px;
        text-align: left;
    }

    .company-strategy-area {
        .single-company-strategy-box {
            margin-top: 0;
        }
        .col-lg-4 {
            &:nth-child(2) {
                .single-company-strategy-box {
                    margin-top: -50px;
                }
            }
        }
    }

    /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */

    .subscribe-wrap-inner-box {
        .subscribe-content {
            .newsletter-form {
                button {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    margin-top: 0;
                }
            }
        }
    }

    .social-media-marketing-banner-content {
        .free-analysis-form {
            .form-control {
                height: 62px;
            }
            button {
                position: absolute;
                right: 5px;
                top: 5px;
                font-size: 14px;
                margin-top: 0;
                height: 52px;
            }
        }
    }

    .creative-solutions-content {
        padding-right: 0;

        span {
            font-size: 12px;
        }
        h3 {
            font-size: 22.5px;
        }
        .creative-list-tabs {
            .nav {
                .nav-item {
                    margin-right: 5px;
                    width: auto;
                }
            }
        }
    }



    /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}

@media only #{$media} and ($feature_min : $value_two) and ($feature_max : $value_three) {

    .ptb-100 {
        padding: {
            top: 80px;
            bottom: 80px;
        }
    }
    .section-title{
        .read-more-btn {
            display: none;
        }
    }
    .header-area {
        .header-info {
            li{
                &:last-child {
                    display: none;
                }
            }
        }
    }
    .navbar{
        .row {
            width: 102%;
        }
    }
	
	.main-banner {
        height: 100%;
        padding: {
            top: 110px;
            bottom: 110px;
        }
	}
	.hero-image {
		display: none;
    }
    .hero-content{
        h1 {
            font-size: 45px;
            line-height: 1.3;
        }
        p {
            font-size: 17px;
        }
    }
    .circle-pattern-2 {
		display: none;
	}
	
	.main-banner-two {
        height: 100%;
        padding: {
            top: 110px;
            bottom: 110px;
        }
        .hero-content {
            margin-top: 50px;
        }
        .banner-image {
            margin-top: 0;
        }
    }
    .banner-image {
        img {
            width: 60% !important;
        }
    }
    .main-banner-three {
        height: 100%;
        padding: {
            top: 110px;
            bottom: 110px;
        }
        .banner-image {
            margin-bottom: 40px;
        }
    }
    .features-area-two {
		padding-bottom: 50px;
	}
	.single-features {
		margin-bottom: 30px;
	}
	
	.features-area-three {
		padding-bottom: 35px;
	}
	
	.main-banner-four {
        padding: {
            top: 110px;
            bottom: 110px;
        }
        height: 100%;
        .banner-image {
            margin-bottom: 40px;
        }
    }
    .features-text {
		margin-top: 0;
		position: relative;
        z-index: 1;
        h3 {
            font-size: 25px;
            line-height: 34px;
        }
        ul li {
            font-size: 15px;
        }
    }
    .features-area {
        .img {
            position: relative;
            z-index: 1;
            margin-top: 60px;
        }
    }
    .single-work-process{
        &::before {
            display: none;
        }
        .icon {
            width: 65px;
            height: 65px;
            font-size: 30px;
            line-height: 70px;
        }
        h3 {
            font-size: 20px;
        }
    }
    .team-area {
		padding-bottom: 50px;
	}
	
	.services-area {
		padding-bottom: 50px;
	}
	
	.single-box {
		margin-bottom: 30px;
	}
	.about-image {
		margin-top: 40px;
	}
	.about-text {
		margin-top: 50px;
		padding-left: 0;
		position: relative;
		z-index: 1;
	}
	
	.analysis-text {
		margin-top: 40px;
    }
    .funfacts-area {
		padding-bottom: 40px;
	}
	.fun-fact {
		margin-bottom: 40px;
	}
	
	.pricingTable {
		margin-top: 30px;
	}
	.tab-slider-nav {
		margin-bottom: 10px;
		position: relative;
		z-index: 1;
    }
    .timeline{
        > li {
            > .timeline-badge {
                right: -26px;
            }
            &.timeline-inverted{
                > .timeline-badge {
                    left: -26px;
                }
            }
        }
    }
    .pricing-plan {
        margin-top: 30px;
        &#most-popular {
            top: 0;
            padding: 0 0 20px;
            z-index: 2;
            h3 {
                margin-top: 0;
                padding-top: 20px;
            }
        }
	}
    .side-bar {
        margin: {
            top: 40px;
            bottom: 40px;
        }
    }
    
    .repair-banner-content {
        h2 {
            font-size: 45px;
        }
    }
    .repair-about-content {
        margin-top: 40px;
    }
    .repair-services-inner .col-lg-4:nth-child(2) {
        border: none;
        margin: {
            top: 20px;
            bottom: 20px;
        }
    }
    .gallery-area {
        padding-bottom: 50px;
    }
    .repair-blog-area {
        padding-bottom: 50px;
    }
    .single-repair-blog-post {
        margin-bottom: 30px;
    }
    .repair-subscribe-content {
        form {
            .form-group {
                float: left;
                margin-bottom: 0;
                width: 33%;
                padding-right: 15px;
            }
            .btn {
                width: 25%;
                margin-top: 15px;
            }
        }
    }
    .products-details {
        margin-top: 20px;
    }
	
	.footer-area {
		padding-top: 80px;
	}
	.single-footer-widget {
		margin-bottom: 30px;
	}
	.copyright-area {
        margin-top: 50px;
        ul {
            li a {
                font-size: 15px;
            }
        }
        p {
            font-size: 15px;
        }
    }
    
    .marketing-agency-banner {
        padding: {
            top: 150px;
            bottom: 150px;
        };
    }
    .marketing-agency-banner-content {
        max-width: 410px;

        h1 {
            font-size: 45px;
        }
    }
    .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8 {
        display: none;
    }

    .featured-services-area {
        padding-bottom: 50px;
    }

    .creative-content {
        padding: 50px;
        max-width: 615px;
        margin: {
            left: auto;
            right: auto;
        };
    }

    .solutions-area {
        padding-bottom: 50px;
    }

    .growth-image {
        height: 100%;
        background-image: unset !important;

        img {
            display: inline-block;
        }
    }
    .growth-content {
        padding: {
            top: 80px;
            bottom: 80px;
            left: 80px;
            right: 80px;
        };
        .content {
            max-width: 100%;

            .list {
                li {
                    font-size: 22px;

                    span {
                        font-size: 45px;
                    }
                }
            }
        }
    }

    .testimonials-slider {
        max-width: 720px;
    }

    .company-strategy-area {
        .single-company-strategy-box {
            margin-top: 30px;
        }
        .row {
            margin: {
                left: -15px;
                right: -15px;
            };
            .col-lg-4 {
                padding: {
                    left: 15px;
                    right: 15px;
                };
                &:nth-child(1), &:nth-child(2) {
                    margin: {
                        top: -100px;
                    };
                }
            }
        }
    }
    .single-company-strategy-box {
        padding: 25px;
    }

    .contact-box {
        margin-bottom: 30px;
    }

    /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */

    .ptb-100 {
        padding: {
            top: 80px;
            bottom: 80px;
        }
    }
    .pt-100 {
        padding-top: 80px;
    }
    .pb-100 {
        padding-bottom: 80px;
    }
    .pt-75 {
        padding-top: 80px;
    }
    .pb-75 {
        padding-bottom: 55px;
    }

    .section-title-with-border {
        h2 {
            font-size: 32.5px;

            b {
                &::before {
                    display: none;
                }
            }
        }
    }

    .header-area-with-white-color {
        .container-fluid {
            padding: {
                left: 0;
                right: 0;
            };
            max-width: 720px;
        }
    }

    .navbar-area-with-white-color {
        .container-fluid {
            padding: {
                left: 0;
                right: 0;
            };
            max-width: 720px;
        }
        .others-options {
            margin-left: 0;
        }
    }

    .digital-solutions-banner {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .digital-solutions-banner-content {
        padding-right: 0;
        
        h1 {
            font-size: 55px;

            b {
                &::before {
                    display: none;
                }
            }
        }
    }
    .digital-solutions-banner-image {
        text-align: center;
        margin-top: 35px;
    }
    .ds-banner-shape-1, .ds-banner-shape-2, .ds-banner-shape-3 {
        display: none;
    }

    .single-global-card {
        .global-content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .ds-about-content {
        padding-left: 0;
        margin-top: 30px;
        
        h3 {
            font-size: 25.5px;
            
            b {
                &::before {
                    display: none;
                }
            }
        }
    }

    .fun-fact-wrap-card {
        h3 {
            font-size: 35px;

            .plus {
                font-size: 22px;
            }
            .percentage {
                font-size: 25px;
            }
        }
    }

    .single-team-wrap-box {
        .content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .features-wrap-content {
        h3 {
            font-size: 25.5px;
            
            b {
                &::before {
                    display: none;
                }
            }
        }
        .features-inner-card {
            .content {
                h4 {
                    font-size: 20px;
                }
            }
        }
    }
    .features-wrap-image {
        padding-left: 0;
        margin-top: 30px;
        text-align: center;
    }

    .services-wrap-card {
        .services-image {
            .image-icon {
                width: auto;
            }
        }
        .services-content {
            h3 {
                font-size: 22px;
            }
        }
    }

    .reviews-single-card {
        padding: 20px;

        .client-info {
            .title {
                h3 {
                    font-size: 20px;
                }
            }
        }
        .quote-icon {
            display: none;
        }
    }

    .overview-wrap-inner-content {
        .overview-card {
            padding: 25px;
            left: 20px;
            bottom: 20px;

            .content {
                h3 {
                    font-size: 22px;
                }
            }
        }
    }

    .blog-wrap-card {
        h3 {
            font-size: 22.8px;
        }
        .info {
            .title {
                h4 {
                    margin-bottom: 0;
                    font-size: 15.5px;
                }
            }
        }
    }

    .subscribe-wrap-inner-box {
        padding: 45px 25px;

        .subscribe-content {
            h2 {
                font-size: 32.5px;
            }
        }
    }

    .footer-wrap-area {
        .single-footer-widget {
            margin-bottom: 25px;

            &.ps-5 {
                padding-left: 0 !important;
            }
            h3 {
                font-size: 20px;
            }
        }
        .copyright-area {
            margin-top: 55px;
        }
    }

    .social-media-marketing-banner {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .social-media-marketing-banner-content {
        h1 {
            font-size: 55px;
        }
    }
    .social-media-marketing-banner-form {
        margin: 35px auto 0 auto;
        max-width: 100%;
    }
    .social-media-banner-shape-1, .social-media-banner-shape-2, .social-media-banner-shape-3, .social-media-banner-shape-4 {
        display: none;
    }

    .single-features-card {
        .features-content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .agency-wrap-content {
        padding-left: 0;
        margin-top: 35px;
        
        h3 {
            font-size: 25.5px;
        }
    }

    .companies-inner-box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .companies-item {
        span {
            font-size: 15px;
        }
    }

    .creative-solutions-content {
        padding-right: 0;
        
        h3 {
            font-size: 25.5px;
        }
    }
    .creative-solutions-image {
        text-align: center;
        margin-top: 30px;
    }

    .strategies-image {
        text-align: center;
        margin-bottom: 30px;
    }
    .strategies-content-card {
        margin-left: 0;

        .content {

            h4 {
                font-size: 20px;
            }
        }
    }

    .navbar-area-with-black-color {
        border-bottom: none;

        .container-fluid {
            padding: {
                left: 0;
                right: 0;
            };
            max-width: 720px;
        }
        .others-options {
            margin-left: 0;
        }
    }

    .cryptocurrency-banner-area {
        padding: {
            top: 75px;
            bottom: 75px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .cryptocurrency-banner-content {
        top: 0;
        
        h1 {
            font-size: 55px;
        }
    }
    .cryptocurrency-banner-image {
        text-align: center;
        margin-top: 35px;

        &.ps-5 {
            padding-left: 0 !important;
        }
    }
    .cryptocurrency-app-image {
        text-align: center;
        margin-top: 35px;
    }
    .cryptocurrency-banner-shape-1, .cryptocurrency-banner-shape-2, .cryptocurrency-banner-shape-3, .cryptocurrency-banner-shape-4 {
        display: none;
    }

    .trade-over-table {
        table {
            thead {
                tr {
                    th {
                        padding: 0 100px 0 0;

                        &:last-child {
                            padding: 0 0 0 0;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 30px 100px 30px 0;

                        &:last-child {
                            padding: 0 0 0 0;
                        }
                    }
                }
            }
        }
    }

    .platform-card {
        padding: 20px;

        .platform-image {
            margin-bottom: 25px;

            img {
                width: auto;
            }
        }
        .platform-content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .investing-image {
        text-align: center;
        margin-bottom: 35px;
    }
    .investing-content {
        margin-left: 0;
        padding-left: 75px;

        h3 {
            font-size: 20px;
        }
        .icon {
            height: 55px;
            width: 55px;
            line-height: 55px;
            font-size: 28px;
        }
    }

    .rates-wrap-card {
        margin-bottom: 25px;

        h3 {
            font-size: 20px;
        }
    }
    .rates-wrap-content {
        padding-left: 0;
        margin-top: 15px;

        h3 {
            font-size: 25.5px;
        }
    }

    .mobile-app-content {
        h3 {
            font-size: 25.5px;
        }
    }
    .mobile-app-image {
        text-align: center;
        margin-top: 35px;
    }

    .cyber-security-banner-area {
        padding: {
            top: 80px;
            bottom: 90px;
        };
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .cyber-security-banner-content {
        h1 {
            font-size: 55px;
        }
    }
    .cyber-security-shape-1, .cyber-security-shape-2, .cyber-security-shape-3 {
        display: none;
    }
    .cyber-security-banner-image {
        margin-top: 30px;
        text-align: center;
    }

    .cs-features-card {
        .features-content {
            h3 {
                font-size: 22px;
            }
        }
    }

    .cs-about-content {
        padding-left: 0;
        margin-top: 35px;
        
        h3 {
            font-size: 25.5px;
        }
        .about-card {
            h4 {
                font-size: 20px;
            }
        }
    }

    .premium-security-content {
        .content {
            h3 {
                font-size: 25.5px;
            }
        }
        .skill-bar {
            .progress-title {
                font-size: 15px;
            }
        }
    }
    .premium-security-image {
        padding-left: 0;
        margin-top: 35px;
    }

    .cs-services-card {
        padding: 20px;
        
        .services-content {
            h3 {
                font-size: 22px;
            }
        }
    }

    .cs-pricing-card {
        padding: 20px;

        .pricing-header {
            h3 {
                font-size: 20px;
            }
        }
        .pricing-price {
            font-size: 35px;
            margin-bottom: 10px;
        }
        .pricing-list {
            padding: 15px;
        }
    }

    .cs-funfacts-inner-box {
        padding: 30px 30px 5px;
    }
    .cs-funfacts-card {
        padding-left: 80px;

        .icon {
            height: 65px;
            width: 65px;
            line-height: 65px;
            font-size: 30px;
        }
        h3 {
            font-size: 30px;

            .plus {
                font-size: 22px;
            }
            .percentage {
                font-size: 22px;
            }
        }
    }
    .cs-funfacts-shape1, .cs-funfacts-shape2 {
        display: none;
    }

    .cs-reviews-form {
        padding: 30px 20px;
        max-width: 100%;
    }
    .cs-reviews-item {
        padding-left: 0;
        margin-top: 35px;

        .content {
            margin-bottom: 30px;
            
            h3 {
                font-size: 25.5px;
            }
        }
    }
    .cs-reviews-single-card {
        padding: 20px;

        .rating {
            margin-bottom: 15px;

            li {
                i {
                    font-size: 15px;
                }
            }
        }
        .client-info {
            .title {
                h3 {
                    font-size: 18px;
                }
                span {
                    font-size: 12px;
                }
            }
        }
    }
    .cs-reviews-slides {
        &.owl-theme {
            .owl-nav {
                display: none;
            }
        }
    }

    .mobile-app-area {
        .container-fluid {
            max-width: 720px;
        }
    }
    .mobile-app-content {
        max-width: 100%;
    }

    .cs-about-image {
        margin-left: 0;
    }
    .premium-security-image {
        margin-right: 0;
    }

    /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}

@media only #{$media} and ($feature_min : $value_four) and ($feature_max : $value_five) {

    .navbar {
        .col-lg-8 {
            -ms-flex: 0 0 80%;
            flex: 0 0 80%;
            max-width: 80%;
        }
        .col-lg-4 {
            -ms-fles: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .navbar-right-side {
        .lang {
            display: none;
        }
        h5 {
            display: none;
        }
    }
    .main-banner-three{
        .hero-content {
            margin-top: 0;
        }
    }
	
	.main-banner-four {
        .hero-content {
            margin-top: 0;
        }
    }
	
	.main-banner-two {
        .hero-content {
            margin-top: 70px;
        }
    }
	.hero-image {
		right: -195px;
		bottom: 30px;
		width: 660px;
    }
    .hero-content {
        h1 {
            font-size: 50px;
        }
    }
	
	.services-box {
        h3 {
            font-size: 21px;
        }
    }
	
	.single-services {
        h3 {
            font-size: 21px;
        }
    }
	
	.circle-pattern-2 {
		display: none;
    }
    .about-text {
		margin-top: 80px;
		padding-left: 0;
		position: relative;
		z-index: 1;
	}
	
	.features-area {
        .about-text {
            margin-top: 0;
        }
    }
    .features-box {
        h3 {
            line-height: 28px;
        }
    }
	
	.contact-box {
        padding: 20px 20px 20px 80px;
        .icon {
            left: 15px;
        }
    }
    .box h3 {
		font-size: 20px;
		line-height: 28px;
    }
    .timeline {
        > li{
            > .timeline-badge {
                right: -31px;
            }
            &.timeline-inverted {
                > .timeline-badge {
                    left: -31px;
                }
            }
        }
    }
    
    .repair-subscribe-content {
        form {
            .form-group {
                width: 33%;
                padding-right: 15px;
            }
            .btn {
                width: 18%;
                margin-top: 20px;
            }
        }
    }
    
    .marketing-agency-banner-content {
        max-width: 500px;

        h1 {
            font-size: 50px;
        }
    }
    .shape3 {
        display: none;
    }

    .growth-content {
        padding: {
            top: 70px;
            bottom: 70px;
            left: 30px;
        };
        .content {
            max-width: 450px;
        }
    }

    /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */

    .header-area-with-white-color {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
        }
    }

    .navbar-area-with-white-color {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
        }
        .others-options {
            .option-item {
                margin-right: 20px;

                .default-btn {
                    padding: 12px 15px;
                    font-size: 14px;
                }
            }
        }
    }

    .digital-solutions-banner-content {
        h1 {
            font-size: 55px;
        }
    }

    .ds-about-content {
        h3 {
            b {
                &::before {
                    right: -10px;
                    left: auto;
                }
            }
        }
    }

    .features-wrap-content {
        h3 {
            b {
                &::before {
                    right: -10px;
                    left: auto;
                }
            }
        }
    }

    .social-media-marketing-banner-form {
        padding: 35px 25px;

        h3 {
            font-size: 22.8px;
        }
    }

    .creative-solutions-content {
        padding-right: 0;

        .creative-list-tabs {
            .nav {
                .nav-item {
                    .nav-link {
                        padding: 12px 15px;
                        font-size: 16px;
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    .list {
                        li {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .services-wrap-card {
        padding: 20px;

        .services-content {
            h3 {
                font-size: 20px;
            }
            .services-btn {
                font-size: 14px;
            }
        }
    }

    .strategies-content-card {
        margin-left: 0;
    }

    .navbar-area-with-black-color {
        .others-options {
            .option-item {
                margin-right: 0;

                &:last-child {
                    display: none;
                }
                &:nth-child(1) {
                    display: none;
                }
            }
        }
    }

    .cryptocurrency-banner-area {
        padding-top: 15px;
    }
    .cryptocurrency-banner-content {
        span {
            font-size: 12px;
            margin-bottom: 15px;
        }
        h1 {
            font-size: 40px;
            margin-bottom: 15px;
        }
        p {
            font-size: 15px;
        }
        .banner-btn {
            margin-top: 20px;
        }
    }
    .cryptocurrency-banner-shape-1 {
        max-width: 30px;
    }
    .cryptocurrency-banner-shape-3 {
        max-width: 265px;
    }

    .platform-card {
        padding: 22px;

        .platform-content {
            h3 {
                font-size: 22px;
            }
        }
    }

    .investing-content {
        margin-left: 0;
        padding-left: 75px;

        .icon {
            height: 60px;
            width: 60px;
            line-height: 60px;
            font-size: 30px;
        }
    }
    
    .rates-wrap-card {
        padding: 20px 12px;

        h3 {
            font-size: 17.2px;
            margin-bottom: 12px;
        }
    }

    .mobile-app-content {
        h3 {
            font-size: 35.5px;
        }
    }

    .cyber-security-banner-content {
        h1 {
            font-size: 45px;
        }
    }

    .cs-reviews-item {
        padding-left: 0;

        .content {
            h3 {
                font-size: 33.5px;
            }
        }
    }

    .navbar-light {
        .navbar-nav {
            .nav-link {
                font-size: 16px;
            }
        }
    }
    .features-wrap-content {
        padding-right: 0;
    }

    .footer-wrap-area {
        .single-footer-widget {
            &.ps-5 {
                padding-left: 0 !important;
            }
        }
    }

    .cs-pricing-card {
        padding: 30px;
    }

    /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */

}

// New Add

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .overview-wrap-inner-content {
        .overview-card {
            .content {
                padding-right: 75px;

                .icon {
                    position: absolute;
                }
            }
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */

    .creative-solutions-content {
        padding-right: 0;
    }

    .services-wrap-card {
        padding: 20px;

        .content {
            h3 {
                font-size: 22px;
            }
        }
    }

    .strategies-content-card {
        margin-left: 0;
    }

    .cryptocurrency-banner-area {
        padding-top: 15px;
    }
    .cryptocurrency-banner-content {
        span {
            font-size: 14.5px;
            margin-bottom: 15px;
        }
        h1 {
            font-size: 50px;
            margin-bottom: 15px;
        }
        .banner-btn {
            margin-top: 20px;
        }
    }
    .cryptocurrency-banner-shape-1 {
        max-width: 30px;
    }
    .cryptocurrency-banner-shape-3 {
        max-width: 265px;
    }

    .rates-wrap-card {
        padding: 20px;

        h3 {
            font-size: 20px;
        }
    }

    .cs-funfacts-card {
        h3 {
            font-size: 38px;
        }
    }

    .cs-reviews-item {
        padding-left: 20px;
    }

    /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    /* Start "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */

    .header-area-with-white-color {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
            max-width: 1900px;
        }
    }

    .navbar-area-with-white-color {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
            max-width: 1900px;
        }
    }
    .navbar-area-with-black-color {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
            max-width: 1900px;
        }
    }

    .digital-solutions-banner {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
            max-width: 1900px;
        }
    }

    .social-media-marketing-banner {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
            max-width: 1900px;
        }
    }

    .cryptocurrency-banner-area {
        .container-fluid {
            padding: {
                left: 100px;
                right: 50px;
            };
            max-width: 1900px;
        }
    }
    .cryptocurrency-banner-content {
        h1 {
            font-size: 70px;
        }
    }

    .cyber-security-banner-area {
        .container-fluid {
            padding: {
                left: 100px;
                right: 50px;
            };
            max-width: 1900px;
        }
    }

    /* End "Digital Solutions", "Cryptocurrency", "Social Media Marketing" & "Cyber Security" "Demo Responsive" */
}