{% extends 'emails/emailBase.html.twig' %}
{% block content %}

  <row>
    <columns>
      
      <h1>Hi, {{name}}</h1>
      <p class="lead">We have received your order and we will give you a call shortly. Your order and shipping amounts to KSh {{cartAndShipping}}.</p>
      <p>You can call us on working days during working hours on +254 757 066500. </p>
      <p>Thank you for choosing Baby Blossom Kenya. </p>
      <callout class="primary">
        <p>Sit back and relax as we work on your order.</a></p>
      </callout>

    </columns>
  </row>

{% endblock %}