        <!-- About Area -->
        <section class="about-area ptb-100 pt-0 bg-fbf9f8">

           
            <div class="circle-pattern-2"></div>
            
            <div class="container">
                <div class="section-title">
                    <h2><span>{{ render_content('about-page-title', 'Start with SEO Services from The Onset.') }}</span></h2>
                    <p>{{ render_content('about-page-text', 'Welcome to Joe SEO, a company in nairobi Kenya. Experience the convenience of having all your services centralized in one place. Begin ranking even as your website is in the process of taking shape, with our tested and proved Local SEO solutions.') }}</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-box">
                            <div class="icon">
                                <i class="icofont-rocket-alt-1"></i>
                            </div>
                            <h3>{{ render_content('about-page-first-title', 'Affordable SEO Services') }}</h3>
                            <p>{{ render_content('about-page-first-text', 'We help <a href="https://joeseo.co.ke">increase your income</a> by ensuring that people searching for your products or services find you.') }}</p>
                            <a href="#" class="read-more-btn">{{ render_content('about-page-first-cta', 'Read More') }}</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="single-box">
                            <div class="icon">
                                <i class="icofont-google-map"></i>
                            </div>
                            <h3>{{ render_content('about-page-second-title', 'GBP(GMB) Optimization') }}</h3>
                            <p>{{ render_content('about-page-second-text', 'We help you appear in Google Business Profile map pack when people search for your products or services.') }}</p>
                            <a href="#" class="read-more-btn">{{ render_content('about-page-second-cta', 'Read More') }}</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="single-box">
                            <div class="icon">
                                <i class="icofont-web"></i>
                            </div>
                            <h3>{{ render_content('about-page-third-title', 'Web Development') }}</h3>
                            <p>{{ render_content('about-page-third-text', 'We help you <a href="https://joeseo.co.ke/seo-friendly-web-development">build your website from scratch</a> with SEO, Google Business Profile, site speed and ROI in consideration.') }}</p>
                            <a href="#" class="read-more-btn">{{ render_content('about-page-third-cta', 'Read More') }}</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="row about-image">
                            <div class="col-6 col-lg-6 col-md-6">
                                <div class="image">
                                    {{ render_image('about-first-image', 'site/assets/img/njiani-music-in-progress.jpg', 'About Us Image') }}
                                </div>
                            </div>

                            <div class="col-6 col-lg-6 col-md-6">
                                <div class="image">
                                    {{ render_image('about-second-image', 'site/assets/img/baby-blossom-in-progress.jpg', 'About Us Image') }}
                                </div>
                            </div>

                            <div class="col-6 col-lg-6 col-md-6">
                                <div class="image mt-30">
                                    {{ render_image('about-third-image', 'site/assets/img/optimized-gbp.jpg', 'About Us Image') }}
                                </div>
                            </div>

                            <div class="col-6 col-lg-6 col-md-6">
                                <div class="image mt-30">
                                    {{ render_image('about-fourth-image', 'site/assets/img/content-ranking.jpg', 'About Us Image') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="about-text">
                            <h2><span>{{ render_content('seo-importance-title', 'Professional SEO Services') }}</span></h2>
                            {{ render_content('seo-importance-text', '
                            <p>Get in front of users who are already searching for the products you sell</p>
                            <h3 style="font-size:1.3em">93% of global traffic comes from Google Search</h3>
                            <p>Imagine: You\'re on the hunt for the perfect product or service. 93% of people like you go straight to Google. But guess what? 75% of them never scroll past the first page of search engine results.</p>
                            <p>Ouch!. If your business isn\'t there, you\'re practically invisible. Your competitors, though? They\'re shining bright, scooping up all those prime customers.</p>
                            <p>But there\'s a secret weapon: Search engine optimization (SEO). It\'s like a rocket booster for your online presence, launching you to the top of Google search results. Suddenly, you\'re front and center, where those eager-to-buy customers can finally find you.</p>
                            <h3 style="font-size:1.3em">What Our Agency offers through our SEO strategies: </h3>
                            <h4 style="font-size:1.1em;display:inline;">More website traffic:</h4> <p style="display:inline;">SEO brings a steady stream of visitors.</p><br/>
                            <h4 style="font-size:1.1em;display:inline;">Happier customers:</h4> <p style="display:inline;">Pop up for exactly what people are searching for.</p><br/>
                            <h4 style="font-size:1.1em;display:inline;">More leads and sales:</h4> <p style="display:inline;">SEO attracts customers ready to buy, boosting your sales.</p><br/>
                            <h4 style="font-size:1.1em;display:inline;">Beat the competition:</h4> <p style="display:inline;">SEO puts you ahead of the game, attracting the best customers.</p><br/><br/>
                            <p>It\'s all about reaching the right people at the right time, turning clicks into loyal customers.</p>
                            <p>Ready to discover the power of SEO for your business? <a href="tel:0765356000" class="read-more-btn">Call Us Today</a> and make your online dreams a reality!</p>
                            ') }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="rocket">{{ render_image('rocket-image', 'site/assets/img/rocket.png', 'Rocket') }}</div>
            
            <div class="vector">{{ render_image('vector-image', 'site/assets/img/vector-bg.png', 'Vector') }}</div>
            
        </section>
        <!-- End About Area -->
