<!-- Analysis Area -->
    <div class="container">
        <div class="analysis-form">
            <h2><span>{{ render_content('audit-request-title', 'Free SEO Analysis') }}</span></h2>
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'name'}}) }}
                </div>
                
                <div class="form-group">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'email'}}) }} 
                </div>
                
                <div class="form-group">
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder':'phone'}}) }} 
                </div>
                
                <div class="form-group">
                    {{ form_widget(form.website, {'attr': {'class': 'form-control', 'placeholder':'website'}}) }}  
                </div>
                
                <div class="form-group">
                    {{ form_widget(form.company_name, {'attr': {'class': 'form-control', 'placeholder':'company_name'}}) }}
                </div>
                <button type="submit" class="btn btn-primary">{{ render_content('audit-request-form-cta', 'Get Free Report') }}</button>
            {{ form_end(form) }}
        </div>

        <div class="analysis-text">
            <span>{{ render_content('audit-request-pre-title', 'Free SEO Analysis') }}</span>
            <h3 style="font-size:1.3em">{{ render_content('audit-request-h3', 'Get a free video of an SEO audit for <a class="colored-underline">your website</a>.') }}</h3>
            {{ render_content('audit-request-text', '<p>Complete the form to receive a complimentary video guide detailing the essential steps to optimize your website for superior SEO performance. Unlock actionable insights and boost your online visibility!:<p>') }}
        </div>
        <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            {{ render_content('what-you-get', 'What You Will Get') }}
        </a>
        </p>
        <div class="collapse" id="collapseExample">
        <div class="card card-body">
            {{ render_content('what-you-get-list', ' 
            <ul>
                <li style="color:black">Personalized Analysis: Learn about the specific strengths and weaknesses of your website with a personalized SEO analysis.</li>
                <li style="color:black">Tailored Recommendations: Receive tailored recommendations based on your website\'s current status to enhance its SEO performance.</li>
                <li style="color:black">Technical SEO Guidance: Receive guidance on technical aspects to ensure your website meets search engine standards.</li>
                <li style="color:black">Competitor Comparison: Understand how your website stacks up against competitors and identify opportunities for improvement.</li>
                <li style="color:black">User Experience Recommendations: Get tips on improving the overall user experience to keep visitors engaged and satisfied.</li>
            </ul>
            ') }}
        </div>
        </div>

    </div>
<!-- End Analysis Area -->