        <!-- Blog Area -->
        <section class="blog-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2><span>{{ render_content('blog-area-title', 'Our News') }}</span></h2>
                    <h3>{{ render_content('blog-area-subtitle', 'Latest Blog Posts') }}</h3>
                    <p>{{ render_content('blog-area-text', 'Get tips on how to keep on top of search results, and manage your Google Business Profile.') }}</p>
                    <a href="{{path('app_blog')}}" class="read-more-btn">{{ render_content('blog-area-cta', 'View More News.') }}</a>
                </div>
                
                <div class="row">
                    <div class="blog-slider owl-carousel owl-theme">
                        {% for blog in blogs %}
                        <div class="col-lg-12 col-md-12">
                            <div class="single-blog-item" style="background-image: url(/site/images/blog_images/{{blog.imageUrl}});">
                                <h2 style="font-size:1.1em"><span>{% for category in blog.categories %} {{ category|replace({'_': ' '}) ~ ' ' }} {% endfor %}</span></h2>
                                <h4><a href="#">{{blog.title}}</a></h4>
                                <p> {{blog.content|striptags|slice(0,200)|raw|nl2br}}...</p>
                                
                                <a href="{{path('blog_detail', {'slug': blog.slug})}}" title="Read More" class="link-btn"><i class="icofont-stylish-right"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->
