        <!-- CTA Area -->
        <section class="funfacts-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="fun-fact">
                            <h3><span class="count">{{ render_content('cta-title', 'We Are Ready. <br/><br/> Are You?') }}</span></h3>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="fun-fact">
                            <a href="tel:0765356000" class="btn mt-5 btn-secondary btn-lg">{{ render_content('cta-cta', 'Call Us Now') }}</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- End CTA Area -->