        <footer class="footer-area bg-fbf9f8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <a href="{{ path('app_index') }}">{{ render_content('biz-name-footer', '.Joe<span>SEO.</span>') }}</a>
                            </div>
                            <p>{{ render_content('footer-cta-text', 'Very few people think about SEO. People just let their website sit somewhere in search results and they end up getting nothing from their investments. That\'s why you should take advantage and rank.') }}</p>
                            <ul class="social-links">
                                <li><a href="{{ setting is not null and setting.facebookLink is not empty ? setting.facebookLink : '#' }}" target="_blank"><i class="icofont-facebook"></i></a></li>
                                <li><a href="{{ setting is not null and setting.twitterLink is not empty ? setting.twitterLink : '#' }}" target="_blank"><i class="icofont-twitter"></i></a></li>
                                <li><a href="{{ setting is not null and setting.instagramLink is not empty ? setting.instagramLink : '#' }}" target="_blank"><i class="icofont-instagram"></i></a></li>
                                <li><a href="{{ setting is not null and setting.linkedinLink is not empty ? setting.linkedinLink : '#' }}" target="_blank"><i class="icofont-linkedin"></i></a></li>
                                <li><a href="{{ setting is not null and setting.tiktokLink is not empty ? setting.tiktokLink : '#' }}" target="_blank"><i class="icofont-tiktok"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>{{ render_content('footer-services-title', 'Popular Services') }}</h3>
                            <ul class="services-list">
                                <li><a href="{{ render_link_href('footer-first-service-url', '#', false) }}">{{ render_link_content('footer-first-service', 'Local SEO', false) }}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <span class="text-light">{{ render_link_href('footer-first-service-url', '#') }}</span>
                                    <span class="text-light">{{ render_link_content('footer-first-service', 'Local SEO') }}</span>
                                {% endif %}

                                <li><a href="{{ render_link_href('footer-second-service-url', '#', false) }}">{{ render_link_content('footer-second-service', 'National SEO', false) }}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <span class="text-light">{{ render_link_href('footer-second-service-url', '#') }}</span>
                                    <span class="text-light">{{ render_link_content('footer-second-service', 'National SEO') }}</span>
                                {% endif %}

                                <li><a href="{{ render_link_href('footer-third-service-url', '#', false) }}">{{ render_link_content('footer-third-service', 'WordPress SEO', false) }}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <span class="text-light">{{ render_link_href('footer-third-service-url', '#') }}</span>
                                    <span class="text-light">{{ render_link_content('footer-third-service', 'WordPress SEO') }}</span>
                                {% endif %}

                                <li><a href="{{ render_link_href('footer-fourth-service-url', '#', false) }}">{{ render_link_content('footer-fourth-service', 'Technical SEO', false) }}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <span class="text-light">{{ render_link_href('footer-fourth-service-url', '#') }}</span>
                                    <span class="text-light">{{ render_link_content('footer-fourth-service', 'Technical SEO') }}</span>
                                {% endif %}

                                <li><a href="{{ render_link_href('footer-fifth-service-url', '#', false) }}">{{ render_link_content('footer-fifth-service', 'SEO Auditing', false) }}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <span class="text-light">{{ render_link_href('footer-fifth-service-url', '#') }}</span>
                                    <span class="text-light">{{ render_link_content('footer-fifth-service', 'SEO Auditing') }}</span>
                                {% endif %}

                                <li><a href="{{ render_link_href('footer-sixth-service-url', '#', false) }}">{{ render_link_content('footer-sixth-service', 'SEO Consulting', false) }}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <span class="text-light">{{ render_link_href('footer-sixth-service-url', '#') }}</span>
                                    <span class="text-light">{{ render_link_content('footer-sixth-service', 'SEO Consulting') }}</span>
                                {% endif %}

                                <li><a href="{{ render_link_href('footer-seventh-service-url', '#', false) }}">{{ render_link_content('footer-seventh-service', 'Our Approach to SEO', false) }}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <span class="text-light">{{ render_link_href('footer-seventh-service-url', '#') }}</span>
                                    <span class="text-light">{{ render_link_content('footer-seventh-service', 'Our Approach to SEO') }}</span>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Joe SEO</h3>
                            <ul class="usefull-links">
                                <li><a href="{{path('app_page', {'page': 'about-us'})}}">About Us</a></li>
                                <li><a href="{{path('app_page', {'page': 'services'})}}">Our Services</a></li>
                                <li><a href="{{ path('app_blog') }}">Blog</a></li>
                                <li><a href="{{path('app_page', {'page': 'contact'})}}">Contact Us</a></li>
                                <li><a href="{{path('app_page', {'page': 'faq'})}}">FAQ</a></li>
                                <li><a href="{{path('app_page', {'page': 'team'})}}">Team</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Contacts</h3>
                            <ul class="contact-list">
                                <li><span>Adress:</span> {{ setting is not null and setting.businessLocation is not empty ? setting.businessLocation : 'Harry Thuku Rd, Nairobi' }}</li>
                                <li><span>Website:</span> <a href="/">joeseo.co.ke</a></li>
                                <li><span>Email:</span> <a href="#">{{ setting is not null and setting.emailAddress is not empty ? setting.emailAddress : 'contact@joeseo.co.ke' }}</a></li>
                                <li><span>Phone:</span> <a href="#">{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '+254 765 356000' }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 text-end">
                            <p>© Website designed by <a href="https://joeseo.co.ke" target="_blank">Joe SEO</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
