		<header class="header-area">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-5 col-md-5">
		                <ul class="social-links">
                            <li>Follow Us:</li>
                            <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-pinterest"></i></a></li>
                        </ul>
		            </div>
		            
		            <div class="col-lg-7 col-md-7">
		                <ul class="header-info">
		                    <li><a href="{{path('app_page', {'page': 'about-us'})}}">About</a></li>
		                    <li><a href="#">FAQ</a></li>
		                    <li><a href="#">Privacy Policy</a></li>
		                    <li>{{ render_content('header-text', 'Increase your revenue by being visible') }}</li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</header>
