        <!-- History Area -->
        <section class="history-area ptb-100 bg-fbf9f8">
            <div class="container">
                <div class="section-title">
                    <span>Our Story</span>
                    <h3>The Story of Turacos</h3>
                    <p>We enjoy adapting our strategies to offer every client the best solutions that are at the forefront of the industry.</p>
                    
                    <a href="about.html" class="read-more-btn">Read About Us</a>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>A Brief History</h4>
                                    </div>
                                    
                                    <div class="timeline-body">
                                        <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                                    </div>
                                    
                                    <div class="timeline-footer">
                                        <p>1988 - 1992</p>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>A Brief History</h4>
                                    </div>
                                    
                                    <div class="timeline-body">
                                        <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                                    </div>
                                    
                                    <div class="timeline-footer">
                                        <p>1993 - 1997</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>A Brief History</h4>
                                    </div>
                                    
                                    <div class="timeline-body">
                                        <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                                    </div>
                                    
                                    <div class="timeline-footer">
                                        <p>1998 - 2001</p>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>A Brief History</h4>
                                    </div>
                                    
                                    <div class="timeline-body">
                                        <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                                    </div>
                                    
                                    <div class="timeline-footer">
                                        <p>2001 - 2005</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>A Brief History</h4>
                                    </div>
                                    
                                    <div class="timeline-body">
                                        <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                                    </div>
                                    
                                    <div class="timeline-footer">
                                        <p>2005 - 2010</p>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>A Brief History</h4>
                                    </div>
                                    
                                    <div class="timeline-body">
                                        <p>Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.</p>
                                    </div>
                                    
                                    <div class="timeline-footer">
                                        <p>2010 - 2022</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End History Area -->
