<style>
#keyword-tool {
    position: fixed;
    bottom: 320px;
    right: 20px;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

#open-tool {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#open-tool:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#tool-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    position: absolute;
    bottom: 60px;
    right: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#keyword-input {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

#check-keywords, #end-task {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

#check-keywords:hover, #end-task:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

#results {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 200px;
    overflow-y: scroll;
    margin-top: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

#results p {
    color: #000000!important;
}

mark {
    background-color: yellow;
    color: black;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 3px;
}
</style>

<div id="keyword-tool" style="display:none;">
    <button id="open-tool">Keyword Tool</button>
    <div id="tool-container" style="display:none;">
        <textarea id="keyword-input" placeholder="Paste keywords here..."></textarea>
        <button id="check-keywords">Check for Keywords</button>
        <div id="results"></div>
        <button id="end-task">End Task</button>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const adminRole = true;  // Replace this with your Symfony logic to check for ROLE_ADMIN
    const keywordTool = document.getElementById('keyword-tool');
    const openToolBtn = document.getElementById('open-tool');
    const toolContainer = document.getElementById('tool-container');
    const keywordInput = document.getElementById('keyword-input');
    const checkBtn = document.getElementById('check-keywords');
    const resultsDiv = document.getElementById('results');
    const endTaskBtn = document.getElementById('end-task');

    // Show the tool only if the user has admin role
    if (adminRole) {
        keywordTool.style.display = 'block';
    }

    // Open/close tool
    openToolBtn.addEventListener('click', function () {
        toolContainer.style.display = toolContainer.style.display === 'none' ? 'block' : 'none';
    });

    // Check for keywords
    checkBtn.addEventListener('click', function () {
        let keywords = keywordInput.value.trim().replace(/\n/g, ',').split(',').map(k => k.trim()).filter(k => k);
        let pageContent = document.body.innerText.toLowerCase();
        let usedKeywords = [];
        let unusedKeywords = [];

        // Highlight keywords and check if they exist on the page
        keywords.forEach(keyword => {
            let regex = new RegExp(`\\b${keyword}\\b`, 'gi');
            let matches = pageContent.match(regex);
            if (matches) {
                usedKeywords.push(`${keyword} (${matches.length})`); // Add count of occurrences
                highlightKeyword(keyword);
            } else {
                unusedKeywords.push(keyword);
            }
        });

        // Display results
        resultsDiv.innerHTML = `<h4>Results:</h4>
                                <p><strong>Used keywords:</strong> ${usedKeywords.join(', ') || 'None'}</p>
                                <p><strong>Unused keywords:</strong> ${unusedKeywords.join(', ') || 'None'}</p>`;

        // Store keywords in localStorage to persist across refresh
        localStorage.setItem('keywords', JSON.stringify(keywords));
    });

    // Load saved keywords on page load
    const savedKeywords = JSON.parse(localStorage.getItem('keywords'));
    if (savedKeywords) {
        keywordInput.value = savedKeywords.join('\n');
    }

    // End task
    endTaskBtn.addEventListener('click', function () {
        localStorage.removeItem('keywords');
        resultsDiv.innerHTML = '';
        keywordInput.value = '';
    });

    // Function to highlight keywords in the page
    function highlightKeyword(keyword) {
        const resultsDiv = document.getElementById('results');
        const regex = new RegExp(`(${keyword})`, 'gi');

        // Loop through all relevant elements to highlight keywords
        document.querySelectorAll('h1, h2, h3, h4, h5, p, span, div:not(#keyword-tool)').forEach(function (element) {
            if (element.innerHTML && !element.closest('#keyword-tool')) {
                element.innerHTML = element.innerHTML.replace(regex, '<mark>$1</mark>');
            }
        });
    }
});

</script>
