      <style>.navbar-brand img {height:30px;}</style>
      {% set projects = global_vars('projects') %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <a class="navbar-brand" href="{{ path('app_index') }}">
                            {{ render_image('nav-logo', '/site/assets/img/joeseo-logo-light.png', 'Joe SEO logo') }}
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto">                                
                                <li class="nav-item dropdown active">
                                    <a class="nav-link" href="{{path('app_index')}}" role="button">
                                        Home
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{{path('app_page', {'page': 'services'})}}" role="button" data-bs-toggle="dropdown">
                                        Services
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{path('app_page', {'page': 'about-us'})}}">About Joe</a>
                                        <a class="dropdown-item" href="{{path('app_page', {'page': 'services'})}}">View Services</a>
                                        <a class="dropdown-item" href="{{path('app_page', {'page': 'local-seo-nairobi-kenya'})}}">Local SEO</a>
                                        <a class="dropdown-item" href="#">National SEO</a>
                                        <a class="dropdown-item" href="#">WordPress SEO</a>
                                        <a class="dropdown-item" href="{{path('app_page', {'page': 'technical-seo-in-kenya'})}}">Technical SEO</a>
                                        <a class="dropdown-item" href="#">SEO Auditing</a>
                                        <a class="dropdown-item" href="#">SEO Consulting</a>
                                        {# <a class="dropdown-item" href="#">Our Approach to SEO</a> #}
                                        {# <a class="dropdown-item" href="{{path('seo_services_nairobi')}}">Our SEO Services in Nairobi</a> #}
                                        <a class="dropdown-item" href="{{path('app_invoice_index')}}">Free Invoice Generator</a>
                                        <a class="dropdown-item" href="{{path('keywords_add')}}">Article Keywords Checker</a>
                                        {# update footer too #}
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                        Projects
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{{path('app_page', {'page': 'projects'})}}">View Projects</a>
                                        {% for project in projects %}
                                        <a class="dropdown-item" href="{{ path('project_detail', {'name': project.projectName })}}">{{project.projectName}}</a>
                                        {% endfor %}
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{{path('app_blog')}}">
                                        Blog
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                        Connect
                                    </a>
                                    <div class="dropdown-menu">
                                    {% set admin_url = admin_url|default('admin') %}
                                    {% if app.user is defined and app.user is not null %}
                                    {% set usertype = app.user.usertype %}
                                        <a class="dropdown-item" href="{{path(admin_url)}}">Dashboard</a>
                                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{{path(admin_url)}}">Register</a>
                                        <a class="dropdown-item" href="{{ path(admin_url) }}">Login</a>
                                    {% endif %}
                                    </div>
                                </li>
                                
                                <li class="nav-item"><a class="nav-link" href="{{path('app_page', {'page': 'contact'})}}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-12">
                        <div class="navbar-right-side">
                            <div class="lang">
                                <select>
                                    <option>En</option>
                                    <option>Fr</option>
                                </select>
                            </div>
                            
                            <div style="margin:0 25px;">Call us: <a href="tel:0765356000">{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '+254 765 356000' }}</a></div>
                            
                            <div class="modal-taggle-button">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#myModal2"><span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
