                <div class="sidebar mt-5">
                    <h3>{{ render_content('sidebar-title', 'Explore Our Services') }}</h3>
                    <ul>
                        <li><a href="{{ path('local_seo') }}">Local SEO Services</a></li>
                        <li><a href="{{path('app_invoice_index')}}">Free Invoice Builder</a></li>
                        <li><a href="{{path('keywords_add')}}">Free Content Keyword Density Checker</a></li>
                        <li><a href="#">Content Marketing</a></li>
                        <li><a href="{{path('app_page', {'page': 'technical-seo-in-kenya'})}}">Technical SEO</a></li>
                        <li><a href="#">SEO Audit Services</a></li>
                    </ul>

                    <h3>Learn More</h3>
                    <ul>
                        <li><a href="{{ path('app_blog') }}">Our Blog</a></li>
                        <li><a href="{{ path('app_project') }}">Projects</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>

                    <h3>{{ render_content('sidebar-contact-heading', 'Contact Us') }}</h3>
                    <p>{{ render_content('side-bar-text', 'Have questions or need further assistance? Reach out to us:') }}</p>
                    <p>Email: <a href="mailto:contact@joeseo.co.ke">{{ setting is not null and setting.emailAddress is not empty ? setting.emailAddress : 'contact@joeseo.co.ke' }}</a></p>
                    <p>Phone: <a href="tel:0765356000">{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '0765356000' }}</a></p>

                    <a href="{{path('app_page', {'page': 'contact'})}}" class="btn btn-primary mt-3">{{ render_content('sidebar-cta-text', 'Contact Us') }}</a>
                </div>
