        <!-- Partner Area -->
        <div class="partner-area ptb-100 bg-fbf9f8">
            <div class="container">
                <div class="row">
                    <div class="partner-slider owl-carousel owl-theme">
                    {% for partner in partners %}
                        <div class="col-lg-12 col-md-12">
                            <div class="item">
                                <a href="{{ partner.url }}"><img src="{{ asset('site/web_images/' ~ partner.logo ) }}" alt="{{ partner.name }}"></a>
                            </div>
                        </div>
                    {% endfor %}
                        
                    </div>
                </div>
            </div>
            
            <div class="vector">
                {{ render_image('partners-vector', '/site/assets/img/vector-bg.png', 'Improve your traffic, invest in SEO') }}
            </div>
            
        </div>
        <!-- End Partner Area -->