        <!-- Pricing Area -->
        <section class="pricing-area ptb-100 bg-fbf9f8">
            <div class="container">
                <div class="section-title">
                    <h2><span>{{ render_content('pricing-heading', 'Our SEO Services Pricing In Nairobi') }}</span></h2>
                    <h3 style="font-size:1.3em">{{ render_content('pricing-subheading', 'No hidden charges, choose your plan') }}</h3>
                    <p>{{ render_content('pricing-text', 'We enjoy adapting our strategies to offer you the best solutions according to your unique needs.') }}</p>
                    <a href="tel:{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '0765356000' }}" class="read-more-btn">{{ render_content('pricing-first-cta', 'Call Us Now.') }}</a>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="tab-slider-nav">
                            <ul class="tab-slider-tabs">
                                <li class="tab-slider-trigger active" rel="monthly">Monthly</li>
                                <li class="tab-slider-trigger" rel="yearly">Yearly</li>
                            </ul>
                        </div>
                    
                        <div class="tab-slider-container">
                            <div id="monthly" class="tab-slider-body">
                                <div class="row">
                                  {% for pricing in pricings %}
                                    <div class="col-lg-4 col-md-6">
                                        <div class="pricingTable">
                                            <div class="pricingTable-header">
                                                <h3 class="title">{{pricing.pricingCategory}}</h3>
                                                <div class="price-value">{{pricing.currency}} {{pricing.price|number_format(0)}} <span>/per month</span></div>
                                            </div>
                                            
                                            <ul class="pricing-content">
                                                {% for service in pricing.services|sort((a, b) => a.position <=> b.position) %}
                                                <li>{{service.serviceName}}</li>
                                                {% endfor %}
                                            </ul>
                                            
                                            <a href="tel:{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '0765356000' }}" class="btn btn-primary">{{ render_content('main-cta', 'Call Now') }}</a>
                                        </div>
                                    </div>
                                  {% endfor %}
                                    
                                </div>
                            </div>

                            {# <div id="yearly" class="tab-slider-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="pricingTable">
                                            <div class="pricingTable-header">
                                                <h3 class="title">Basic</h3>
                                                <div class="price-value">$59.99 <span>/per year</span></div>
                                            </div>
                                            
                                            <ul class="pricing-content">
                                                <li>Managment & Marketing</li>
                                                <li>SEO Optimization</li>
                                                <li>25 Analytics Campaign</li>
                                                <li>1,300Change Keywords</li>
                                                <li>25 Social Media Reviews</li>
                                                <li>1 Free Optimization</li>
                                                <li>24/7 Support</li>
                                            </ul>
                                            
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-6">
                                        <div class="pricingTable">
                                            <div class="pricingTable-header">
                                                <h3 class="title">Ultra</h3>
                                                <div class="price-value">$79.99 <span>/per year</span></div>
                                            </div>
                                            
                                            <ul class="pricing-content">
                                                <li>Managment & Marketing</li>
                                                <li>SEO Optimization</li>
                                                <li>25 Analytics Campaign</li>
                                                <li>1,300Change Keywords</li>
                                                <li>25 Social Media Reviews</li>
                                                <li>1 Free Optimization</li>
                                                <li>24/7 Support</li>
                                            </ul>
                                            
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                        <div class="pricingTable">
                                            <div class="pricingTable-header">
                                                <h3 class="title">Pro</h3>
                                                <div class="price-value">$99.99 <span>/per year</span></div>
                                            </div>
                                            
                                            <ul class="pricing-content">
                                                <li>Managment & Marketing</li>
                                                <li>SEO Optimization</li>
                                                <li>25 Analytics Campaign</li>
                                                <li>1,300Change Keywords</li>
                                                <li>25 Social Media Reviews</li>
                                                <li>1 Free Optimization</li>
                                                <li>24/7 Support</li>
                                            </ul>
                                            
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div> #}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="rocket"><img src="{{ asset('site/assets/img/rocket.png') }}" alt="rocket"></div>
        </section>
        <!-- End Pricing Area -->