        <!-- History Area -->
        <section class="history-area ptb-100 bg-fbf9f8">
            <div class="container">
                <div class="section-title">
                    <h2><span>{{ render_content('process-title', 'JoeSEO\'s Proven Process') }}</span></h2>
                    <p>{{ render_content('process-invite-text', 'Here is the process we use to make your business visible on search engines.') }}</p>
                    
                    <a href="{{path('app_page', {'page': 'about-us'})}}" class="read-more-btn">{{ render_content('process-about-cta', 'Read About Us') }}</a>
                    <h3 style="font-size:1.3em">{{ render_content('process-invite-title', 'How Do We Deliver Our SEO Services?') }}</h3>

                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading" style="text-align:left!important;">
                                        <h4>{{ render_content('process-step-one-title', 'Learning About Your Business') }}</h4>
                                    </div>
                                    
                                    <div class="timeline-body" style="text-align:left!important;">
                                        {{ render_content('process-step-one-text', '
                                        <p>At the core of a successful SEO journey is knowledge about your business. In our discovery call, we will:</p>
                                        <ol>
                                            <li>- Dive into the essence of your business, understanding its nuances and offerings.</li>
                                            <li>- Actively listen to your aspirations and objectives for the campaign.</li>
                                            <li>- Identify the keywords relevant to your locale in Kenya that resonate with your business for SEO services in Kenya.</li>
                                            <li>- Analyze the strategies of local competitors, sharing insights and strategies in real-time.</li>
                                            <li>- Estimate the timeline for achieving your desired results and discuss the investment required.</li>
                                        </ol>
                                        ') }}
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{ render_content('process-step-two-title', 'Keyword Research') }}</h4>
                                    </div>
                                    
                                    <div class="timeline-body">
                                        {{ render_content('process-step-two-text', '                                        
                                        <p>To excel in Kenya\'s dynamic market, our in-house keyword research team conducts a comprehensive analysis:</p>
                                        <ol>
                                            <li>- Identify unique and strategic keywords, including the "low-hanging fruit" often overlooked by competitors.</li>
                                            <li>- Analyze top-ranking websites in your locale in Kenya to determine successful keyword targeting.</li>
                                            <li>- Delve into Google\'s ad statistics to glean actionable insights.</li>
                                            <li>- Select keywords aligned with your business objectives and our expertise.</li>
                                        </ol>      
                                        ') }}                           
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading" style="text-align:left!important;">
                                        <h4>{{ render_content('process-step-three-title', 'SEO Proposal Visit or Video Call') }}</h4>
                                    </div>
                                    
                                    <div class="timeline-body" style="text-align:left!important;">
                                        {{ render_content('process-step-three-text', '                                        
                                        <p>After finalizing the optimal keywords for your campaigns, we will schedule a visit or a video call to present our proposal. In this call, we will:</p>
                                        <ol>
                                            <li>- Review our proven approach to achieving SEO success of your business in your locale..</li>
                                            <li>- Discuss our strategic Google Business Profile optimization approach and optimize your business effectively for SEO in Kenya</li>
                                            <li>- Present our carefully crafted keyword research findings and outline the strategic roadmap.</li>
                                            <li>- Demonstrate our reporting process and explain how to interpret result graphs.</li>
                                            <li>- Break down budget suggestions and expected results.</li>
                                            <li>- Go through our terms of service.</li>
                                        </ol>
                                        ') }}                           
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{ render_content('process-step-four-title', 'Welcome Email') }}</h4>
                                    </div>
                                    
                                    <div class="timeline-body">
                                        {{ render_content('process-step-four-text', '                                        
                                        <p>Ready to go? Look out for your Welcome Email from our Founder, Josiah. This email will contain:</p>
                                        <ol>
                                            <li>- The payment details
                                            <li>- We will do a breakdown of specific campaigns to be done in the first quarter of your website\'s optimization for SEO in Kenya.</li>
                                            <li>- Request for permission to update your content to ensure you don\'t get visitors who will convert to clients.</li>
                                            <li>- Onboarding form to be completed prior to us starting the campaign. This form includes:</li>
                                            <ul>
                                                <li>- The best email addresses for us to send our monthly reports to.</li>
                                                <li>- Your website login details for us to make changes to your site.</li>
                                            </ul>
                                        </ol>                             
                                        ') }}                           
                                    </div>
                                    
                                </div>
                            </li>

                            <li>
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading" style="text-align:left!important;">
                                        <h4>{{ render_content('process-step-five-title', 'Campaign Begins') }}</h4>
                                    </div>
                                    
                                    <div class="timeline-body" style="text-align:left!important;">
                                        {{ render_content('process-step-five-text', '                                        
                                        <p>With the foundation laid and strategies aligned, it is time to kick off your customized GBP and SEO campaigns designed specifically for Kenyan businesses. Here is what you can expect as the campaign begins:</p>
                                        <ol>
                                            <li>Implementation Phase:</li>
                                            <ul>
                                                <li>- Our expert team initiates the planned strategies, ensuring seamless execution.</li>
                                                <li>- Your pages are optimized, targeting the carefully selected keywords in the Kenyan market.</li>
                                            </ul>

                                            <li>Monitoring and Optimization:</li>
                                            <ul>
                                                <li>- Constant vigilance as we monitor the performance of your campaigns in real-time.</li>
                                                <li>- Ongoing optimization to maximize results and adapt to the dynamic Kenyan market.</li>
                                            </ul>

                                            <li>Open Communication:</li>
                                            <ul>
                                                <li>- Regular check-ins to discuss initial campaign performance and address any immediate queries.</li>
                                                <li>- An open line of communication for feedback and adjustments as needed.</li>
                                            </ul>
                                        </ol>
                                        ') }}                           
                                    </div>
                                    
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-badge"></div>
                                
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{ render_content('process-step-six-title', 'Monthly Reports') }}</h4>
                                    </div>
                                    
                                    <div class="timeline-body">
                                        {{ render_content('process-step-six-text', '                                        
                                        <p>Stay informed and in control with our detailed montly reports. We believe in transparency and accountability, and our weekly reports will provide you with:</p>
                                        <ol>
                                        <li>Performance Overview:</li>
                                            <ul>
                                                <li>- A comprehensive summary of the month\'s performance across GBP & SEO channels, including key metrics like clicks, impressions, conversion rates, and keyword rankings for SEO services in Kenya </li>
                                                <li>- Key metrics, including clicks, impressions, conversion rates, and keyword rankings.</li>
                                            </ul>
                                        <li>Insights and Recommendations:</li>
                                            <ul>
                                                <li>- In-depth insights into the performance trends and user behavior.</li>
                                                <li>- Recommendations for ongoing improvements and optimizations.</li>
                                            </ul>
                                        <li>Continuous Strategy Alignment:</li>
                                            <ul>
                                                <li>- Updates on how the ongoing strategies are aligning with your business objectives.</li>
                                                <li>- Opportunities identified for future growth and refinement.</li>
                                            </ul>
                                        <li>Your Input Matters:</li>
                                            <ul>
                                                <li>- A platform for your feedback, questions, and suggestions.</li>
                                                <li>- Collaborative discussions to ensure our strategies continually evolve to meet your goals.</li>
                                            </ul>
                                        <ol>
                                        ') }}                           
                                    </div>
                                    
                                </div>
                            </li>
                        </ul>
                    <a href="tel:{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '0765356000' }}" style="margin-top:10px;" class="btn btn-primary">{{ render_content('process-cta', 'Call Us Now') }}</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End History Area -->
