    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "name": "Projects | Joe SEO",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Home Page",
                    "item": "https://joeseo.co.ke"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "Projects",
                    "item": "https://joeseo.co.ke/projects"
                }
            ]
        }
    </script>

    <style>
         h2 {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
            position: relative;
        }
        h3 {
            font-size: 1.2em;
            font-weight: bold;
        }
        h2 span {
            background-color: #ff6d34;
            color: white;
            padding: 0 15px;
            position: relative;
            z-index: 1;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 400;
        }
        h2::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #ff6d34;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 0;
        }
        .section-title p, .section-content p {
            font-size: 1.1em;
            line-height: 1.6;
        }
        .btn-primary {
            background-color: #ff6d34;
            border-color: #ff6d34;
        }
        .read-more-btn {
            margin-top: 10px;
            display: inline-block;
            background-color: #ff6d34;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }
        .read-more-btn:hover {
            background-color: #0056b3;
        }  
        section {
            padding:10px;
        }
    </style>
        <!-- Project Area -->
        <section class="project-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="shorting-menu text-center">
                            <button class="filter" data-filter="all">All</button>
                            {% for key, type in types %}
                                <button class="filter" data-filter=".{{ key | raw }}">{{ type }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="shorting">
                <div class="row m-0">
                {% for project in projects %}
                    <div class="col-lg-4 col-md-6 mix {{ project.projectType|replace({' ': '_', '&': '_', '@': '_', '#': '_' }) }} p-0">
                        <div class="single-work">
                            <img src="/site/images/project_images/{{ project.projectImage }}" alt="work-img">
                            {% if project.projectType == "Web Development" %}
                            {% set link = "https://joeseo.co.ke/seo-friendly-web-development" %}
                            {% elseif project.projectType == "SEO & Web Development" %}
                            {% set link = "https://joeseo.co.ke/seo-friendly-web-development" %}
                            {% else %}
                            {% set link = "https://joeseo.co.ke" %}
                            {% endif %}
                            <div class="work-content">
                                <h4>{{ project.projectName }}</h4>
                                <ul>
                                    <li><a href="{{ link }}">{{ project.projectType }}</a></li>
                                </ul>
                            </div>
                            <a href="{{ path('project_detail', {'name': project.projectName }) }}" class="link-btn"><i class="icofont-link"></i></a>
                            <a href="/site/images/project_images/{{ project.projectImage }}" class="popup-btn"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                {% endfor %}                    
                </div>
            </div>
        </section>
        <!-- End Project Area -->
