        <!-- Project Area -->
        <section class="project-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2><span>{{ render_content('projects-h2', 'Recent Works') }}</span></h2>
                    <h3 style="font-size:1.3em">{{ render_content('projects-h3', 'We have done a lot of SEO and Web Development work, Check Some Screenshots Here:') }}</h3>
                    <p>{{ render_content('projects-p', 'We enjoy adapting our strategies to offer every client the best solutions that are at the forefront of the industry.') }}</p>
                    
                    <a href="#" class="read-more-btn">{{ render_content('projects-home-cta', 'view more projects') }}</a>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="shorting-menu">
                            <button class="filter" data-filter="all">All</button>
                            <button class="filter" data-filter=".seo">SEO</button>
                            <button class="filter" data-filter=".seo_web_development">SEO + Web Development</button>
                            <button class="filter" data-filter=".web_development">Web Development</button>
                            <button class="filter" data-filter=".content_marketing">Content Marketing</button>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="shorting">
                <div class="row m-0">
                    {% for project in projects %}
                    <div class="col-lg-4 col-md-6 mix {{project.projectType}} p-0">
                        <div class="single-work">
                            <img src="{{ asset('site/images/project_images/' ~ project.projectImage ) }}" alt="work-img">
                            
                            <div class="work-content">
                                <h4>{{project.client.companyName}}</h4>
                                <ul>
                                    <li><a href="#">{{project.startDate|date('jS M Y')}}</a></li>
                                    <li>.</li>
                                    <li><a href="https://{{project.client.websiteUrl}}">{{project.client.websiteUrl}}</a></li>
                                </ul>
                            </div>
                            
                            <a href="#" class="link-btn"><i class="icofont-link"></i></a>
                            <a href="/site/assets/img/work-img1.jpg" class="popup-btn"><i class="icofont-plus"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        <!-- End Project Area -->
