		<style>.logo img{height:30px;}</style>
        <!-- Right Side Modal -->
        <div class="modal right fade sidebarModal mb-5" id="myModal2" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body mb-5">
                        <div class="logo">
                            <a href="{{ path('app_index') }}">.
                                {{ render_image('nav-logo', '/site/assets/img/joeseo-logo-light.png', 'Joe SEO logo') }}
                            </a>
                        </div>
                        {{ render_content('right-modal-content', '
                        <p>Meet Josiah and his dedicated team of SEO enthusiasts in Nairobi, Kenya. We are a group of passionate innovators, change-makers, and copy-creatives who thrive on improving the online visibility of businesses. When you choose JoeSEO, you are partnering with a team that is committed to mastering the latest in SEO and works tirelessly to achieve groundbreaking results.</p>
                        <p>Our team ethos revolves around providing you with nothing less than accountable, transparent, and results-driven marketing. We believe in keeping you informed every step of the way, and our team is just an email away, ready to assist you.</p>
                        <p>Based in Nairobi, Kenya, we are often found immersed in optimizing websites, delving into keyword analysis, and crafting compelling content to elevate your business\'s presence online. Whether we are behind the screens or meeting clients in a local coffee shop, Josiah and the team are dedicated to being your go-to SEO experts in Nairobi. Does this sound like the kind of expertise your business needs?</p>                        
                        ') }}
                        <ul class="modal-contact-info">
                            <li><i class="icofont-google-map"></i>{{ setting is not null and setting.businessLocation is not empty ? setting.businessLocation : 'Harry Thuku Rd, Nairobi'}}</li>
                            <li><i class="icofont-ui-call"></i>{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '+254 765 356000' }}</li>
                            <li><i class="icofont-envelope"></i>{{ setting is not null and setting.emailAddress is not empty ? setting.emailAddress : 'contact@joeseo.co.ke' }}</li>
                        </ul>

                        <ul class="social-links">
                            <li><a href="{{ setting is not null and setting.facebookLink is not empty ? setting.facebookLink : '#' }}" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="{{ setting is not null and setting.twitterLink is not empty ? setting.twitterLink : '#' }}" target="_blank"><i class="icofont-twitter"></i></a></li>
                            <li><a href="{{ setting is not null and setting.instagramLink is not empty ? setting.instagramLink : '#' }}" target="_blank"><i class="icofont-instagram"></i></a></li>
                            <li><a href="{{ setting is not null and setting.linkedinLink is not empty ? setting.linkedinLink : '#' }}" target="_blank"><i class="icofont-linkedin"></i></a></li>
                            <li><a href="{{ setting is not null and setting.tiktokLink is not empty ? setting.tiktokLink : '#' }}" target="_blank"><i class="icofont-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		<!-- End Right Side Modal -->
