<style>
    .project-details-area a {
        color: #ff6347!important;
    }
</style>
        <!-- Project Details Area -->
        <section class="project-details-area mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="project-details">
                            <div class="row">
                                <div class="col-lg-8 col-md-7">
                                    <div id="table-of-contents"></div>
                                    {{ page.pageContent|raw }}
                                </div>

                                <div class="col-lg-4 col-md-5">
                                    <div class="project-info">
                                        {% if page.featuredImage is not null %}
                                            <div class="project-img">
                                                <img src="{{asset('site/images/page_images/' ~ page.featuredImage ) }}" alt="{{ page.heading }}">
                                            </div>
                                        {% endif %}                                    
                                        <h2 class="mt-5">Other Services</h2>
                                        <ul>
                                        {% for service in services %}
                                            <li><a href="{{path('app_page', {'page': service.url})}}"><i class="far fa-long-arrow-right"></i>{{ service.heading }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Project Details Area -->
