        <!-- Services Area -->
        <section class="services-area bg ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2><span>{{ render_content('services-title', 'Tailored SEO And Google Business Profile Services For Long-Term Growth') }}</span></h2>
                    {{ render_content('service-text', '
                    <p>Joe SEO is the premier SEO agency in Kenya, where you can enhance your Google ranking. By engaging us, you will get top-notch SEO services in Kenya.</p>
                    <p>We follow proven SEO solutions to enhance your google ranking. If you want more visitors to your website in Kenya, we will optimize it for local searches. This way, you can reach potential clients nearby.</p>
                    <p>We also build websites from scratch with SEO optimization in mind. We can update your existing website to optimize CTAs to increase conversions in your pages.</p>
                    ') }}
                    <a href="tel:{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '+254 765 356000' }}" style="margin-top:10px;" class="btn btn-primary">{{ render_content('first-cta', 'Call Us Now') }}</a>

                    <h3 style="font-size:1.3em">{{ render_content('service-sub-title', 'SEO Services') }}</h3>
                    <p>{{ render_content('service-sub-text', 'Get all your works done in one place by our SEO experts in Kenya.') }}</p>
                    <a href="{{path('app_page', {'page': 'services'})}}" class="read-more-btn">{{ render_content('service-cta', 'view more services') }}</a>
                </div>
                
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="icofont-search-2"></i>
                            </div>
                            <h4 style="font-size:22px;font-weight:22px;margin-bottom:20px;margin-top:30px;">{{ render_content('service-one-title', 'Keyword Research')}}</h4>
                            <p>{{ render_content('service-one-text', 'Discover the potential of your online presence with comprehensive keyword research. We analyze trends and identify the most valuable keywords for your business to optimize visibility and drive targeted traffic.') }}</p>
                            <a href="#" class="read-more-btn">{{ render_content('service-cta', 'Read More') }}</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="icofont-page"></i>
                            </div>
                            <h4 style="font-size:22px;font-weight:22px;margin-bottom:20px;margin-top:30px;">{{ render_content('service-one-title', 'Content Creation')}}</h4>
                            <p>{{ render_content('service-one-text', 'Create compelling and relevant content that resonates with your audience. Our content creation services focus on delivering high-quality, engaging materials tailored to your brand, ensuring a meaningful connection with your target audience.') }}</p>
                            <a href="#" class="read-more-btn">{{ render_content('service-cta', 'Read More') }}</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="icofont-web"></i>
                            </div>
                            <h4 style="font-size:22px;font-weight:22px;margin-bottom:20px;margin-top:30px;">{{ render_content('service-one-title', 'Competitor Analysis')}}</h4>
                            <p>{{ render_content('service-one-text', 'Stay ahead in the competitive landscape. Our thorough competitor analysis provides valuable insights to refine your strategy. Identify strengths, weaknesses, and opportunities to enhance your market position.') }}</p>
                            <a href="#" class="read-more-btn">{{ render_content('service-cta', 'Read More') }}</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="icofont-dashboard-web"></i>
                            </div>
                            <h4 style="font-size:22px;font-weight:22px;margin-bottom:20px;margin-top:30px;">{{ render_content('service-one-title', 'Technical SEO')}}</h4>
                            <p>{{ render_content('service-one-text', 'Optimize your <a href="https://joeseo.co.ke/seo-friendly-web-development">website\'s technical aspects</a> for improved search engine performance, focusing on SEO techniques suitable for Kenya. Our technical SEO services cover site structure, speed optimization, and other key elements to enhance your site\'s visibility and user experience.') }}</p>
                            <a href="{{path('app_page', {'page': 'technical-seo-in-kenya'})}}" class="read-more-btn">{{ render_content('service-cta', 'Read More') }}</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="icofont-location-arrow"></i>
                            </div>
                            <h4 style="font-size:22px;font-weight:22px;margin-bottom:20px;margin-top:30px;">{{ render_content('service-one-title', 'Regular Updates')}}</h4>
                            <p>{{ render_content('service-one-text', 'Stay relevant with timely updates. We keep your website current with the latest trends and industry updates, ensuring your audience receives fresh and valuable information every time they visit.') }}</p>
                            <a href="#" class="read-more-btn">{{ render_content('service-cta', 'Read More') }}</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="icofont-chart-pie"></i>                                
                            </div>
                            <h4 style="font-size:22px;font-weight:22px;margin-bottom:20px;margin-top:30px;">{{ render_content('service-one-title', 'Link Building')}}</h4>
                            <p>{{ render_content('service-one-text', 'Build a strong online presence through effective link building strategies. Our services focus on acquiring high-quality backlinks, fostering connections, and improving your website\'s authority for better search engine rankings.') }}</p>
                            <a href="#" class="read-more-btn">{{ render_content('service-cta', 'Read More') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Area -->
       
