		<!-- Main Banner -->
        <div class="main-banner">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-12">
                                <div class="hero-content">
                                    <h1 class="normal-text">{{ render_content('banner-h1', 'A Premier Agency in Kenya, offering tailored SEO services in Kenya.') }}</h1>
                                    <p class="h-1-text">{{ render_content('banner-first-paragraph', 'Placing your website <span>directly in front</span> of your local customers is our focus.') }}</p>
									
                                    <p>{{ render_content('banner-second-paragraph', 'Our expertise as an SEO company in Kenya includes optimizing Google Business Profiles to enhance your online visibility. This consequently connects you with potential customers. This strategic approach not only drives targeted traffic to your website but also translates into increased sales opportunities.') }}</p>
                                    <a href="tel:0765356000" class="btn btn-primary mt-3">{{ render_content('banner-cta', 'Call Us Now') }}</a>
                                    {# <a href="https://www.youtube.com/watch?v=abckdefogk" class="video-btn">Watch Testimonial<i class="icofont-play-alt-3"></i></a> #}
                                    <a href="#requestAudig" class="btn btn-secondary mt-3">{{ render_content('banner-cta-2', 'Request Free Audit') }}</a>                                    
                                </div>
                            </div>
                            
                            <div class="hero-image">
                                {{ render_image('banner-image', 'site/assets/img/joeseo-rank-higher-on-google.jpg', 'Joe SEO rank higher on google') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="circle-pattern-1"></div>
        </div>
        <!-- End Main Banner -->