<!-- Subscribe Area -->
<section class="subscribe-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="newsletter" style="background-color:#FF6C3A!important;">
                    <h4>{{ render_content('subscribe-title', 'Reach Out For Affordable SEO Services') }}</h4>
                    <p>{{ render_content('subscribe-text', 'Contact us at:') }}</p>
                    <ul style="list-style: none; padding: 0;">
                        <li><strong>Email:</strong> <a href="mailto:contact@joeseo.co.ke">contact@joeseo.co.ke</a></li>
                        <li><strong>Phone:</strong> <a href="tel:+{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '+254 765 356000' }}">{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '+254 765 356000' }}</a></li>
                        <li><strong>WhatsApp:</strong> <a href="https://wa.me/{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '254765356000' }}">{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '254765356000' }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Area -->
