        <!-- Testimonial Area -->
        <section class="testimonial-area ptb-100 bg-fbf9f8">
            <div class="container">
                <div class="section-title">
                    <span>{{ render_content('testimonial-pre-title', 'Testimonials') }}</span>
                    <h3 style="font-size:1.3em">{{ render_content('testimonial-title', 'We help businesses generate more business') }}</h3>
                    <p>{{ render_content('testimonial-text', 'Our Creative SEO strategies and conversion skills increase your business beyond your imagination.') }}</p>
                </div>
                
                <div class="row">
                    <div class="feedback-slides owl-carousel owl-theme">
                        {% for testimonial in testimonials %}
                        <div class="col-lg-12 col-md-12">
                            <div class="single-feedback">
                                <div class="client-info">
                                    <div class="img">
                                        <img src="{{ asset('site/images/testimonial_photos/' ~ testimonial.photo ) }}" alt="client">
                                    </div>
                                    <h4>{{ testimonial.name }}</h4>
                                    <span>{{ testimonial.title }}</span>
                                </div>

                                <p>{{ testimonial.content }}</p>

                                <i class="icofont-quote-right"></i>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            
            <div class="rocket"><img src="{{ asset('site/assets/img/rocket.png') }}" alt="rocket"></div>
            
            <div class="vector"><img src="{{ asset('site/assets/img/vector-bg.png') }}" alt="vector"></div>
            
        </section>
        <!-- End Testimonial Area -->