        <section class="history-area ptb-100 bg-fbf9f8">
            <div class="container">
                <div class="section-title">
                    <h2><span>{{ render_content('process-title', 'JoeSEO\'s Proven Process') }}</span></h2>
                    <p>{{ render_content('process-invite-text', 'Here is the process we use to make your business visible on search engines.') }}</p>
                    
                    <a href="{{path('app_page', {'page': 'about-us'})}}" class="read-more-btn">{{ render_content('process-about-cta', 'Read About Us') }}</a>
                    <h3 style="font-size:1.3em">{{ render_content('process-invite-title', 'How Do We Deliver Our SEO Services?') }}</h3>

                </div>

                <!-- Section 1 -->
                <div class="row mb-5 align-items-center">
                    <div class="col-md-6">
                    <img src="image1.jpg" class="img-fluid" alt="Image 1">
                    </div>
                    <div class="col-md-6">
                    <h2>Title 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    </div>
                </div>

                <!-- Call to Action 1 -->
                <div class="row mb-5">
                    <div class="col text-center">
                    <p class="lead">Ready to get started? Join us today!</p>
                    <a href="#your-signup-link" class="btn btn-success">Sign Up Now</a>
                    </div>
                </div>

                <!-- Section 2 -->
                <div class="row mb-5 align-items-center">
                    <div class="col-md-6 order-md-1">
                    <h2>Title 2</h2>
                    <p>Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    </div>
                    <div class="col-md-6 order-md-2">
                    <img src="image2.jpg" class="img-fluid" alt="Image 2">
                    </div>
                </div>

                <!-- Call to Action 2 -->
                <div class="row mb-5">
                    <div class="col text-center">
                    <p class="lead">Want more details? Discover our offerings!</p>
                    <a href="#your-more-info-link" class="btn btn-info">Get More Info</a>
                    </div>
                </div>

                <!-- Section 3 -->
                <div class="row mb-5 align-items-center">
                    <div class="col-md-6">
                    <img src="image3.jpg" class="img-fluid" alt="Image 3">
                    </div>
                    <div class="col-md-6">
                    <h2>Title 3</h2>
                    <p>Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    </div>
                </div>

                <!-- Call to Action 3 -->
                <div class="row mb-5">
                    <div class="col text-center">
                    <p class="lead">Need assistance? Our team is here to help!</p>
                    <a href="#your-contact-link" class="btn btn-warning">Contact Us</a>
                    </div>
                </div>

                <!-- Section 4 -->
                <div class="row mb-5 align-items-center">
                    <div class="col-md-6 order-md-1">
                    <h2>Title 4</h2>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    <a href="#your-link" class="btn btn-primary mt-3">Learn More</a>
                    </div>
                    <div class="col-md-6 order-md-2">
                    <img src="image4.jpg" class="img-fluid" alt="Image 4">
                    </div>
                </div>

                <!-- Final Call to Action -->
                <div class="row mb-5">
                    <div class="col text-center">
                    <h3>Don’t miss out on our latest offerings!</h3>
                    <p>Join our community and stay updated on all our new features.</p>
                    <a href="#your-newsletter-link" class="btn btn-danger">Subscribe Now</a>
                    </div>
                </div>
            </div>
        </section>