
        <!-- Page Title -->
        <div class="page-title animatedBackground">
            <div class="container">
                <h1>{{ title }}</h1>
                <ul>
                    <li><a href="{{path('app_index')}}">Home</a></li>
                    <li class="dot-divider"></li>
                    <li>{{ page_category }}</li>
                    <li class="dot-divider"></li>
                    <li>{{ title }}</li>
                </ul>
            </div>
            
            <div class="bg-pattern"><img src="/img/joeseo.jpg" alt="pattern"></div>
        </div>
        <!-- End Page Title -->
                
