<!doctype html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
{#        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6C93H2Y1D2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6C93H2Y1D2');
        </script>    #}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZ44NJCT');</script>
<!-- End Google Tag Manager -->
        {%  if global_variables('seo') is not null %}
        {% set seo = global_variables('seo') %}
        {%  endif %}
        {% set pages = global_variables('pages') %}
        {% set setting = global_variables('setting') %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block meta_tags %}
            {% if meta_tags is defined and meta_tags %}
                {{ meta_tags|raw }}
            {% endif %}
        {% endblock %}
        <meta name="author" content="Joe SEO Consultants">    
        <meta property="og:site_name" content="Joe SEO Consultants" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('site/assets/css/bootstrap.min.css') }}">
        <!-- IcoFont Min CSS -->
        <link rel="stylesheet" href="{{ asset('site/assets/css/icofont.min.css') }}">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{{ asset('site/assets/css/animate.min.css') }}">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{{ asset('site/assets/css/owl.carousel.min.css') }}">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{{ asset('site/assets/css/magnific-popup.min.css') }}">
        <!-- Owl Theme Default CSS -->
        <link rel="stylesheet" href="{{ asset('site/assets/css/owl.theme.default.min.css') }}">
        <!-- Odometer CSS -->
        <link rel="stylesheet" href="{{ asset('site/assets/css/odometer.min.css') }}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{{ asset('site/assets/css/style.css') }}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ asset('site/assets/css/responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('site/assets/css/custom-styles.css') }}">
        <!-- Dark Style CSS -->
        <link rel="stylesheet" href="{{ asset('site/assets/css/dark-style.css') }}">		
        <link rel="icon" type="image/png" href="{{ asset('site/assets/img/favicon.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('site/assets/img/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('site/assets/img/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('site/assets/img/favicon-16x16.png') }}">
        <link rel="manifest" href="/site.webmanifest">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <script src="https://www.google.com/recaptcha/api.js?render=6LcLqGwpAAAAAFi3Ua5-IgypeH3dT6tH6_k7XmVj"></script>
        <!-- JSON-LD Generated by: https://hallanalysis.com/json-ld-generator/ -->
        <script type='application/ld+json'> 
        {
        "@context": "http://www.schema.org",
        "@type": "ProfessionalService",
        "name": "Joe SEO Consultants",
        "url": "https://joeseo.co.ke",
        "telephone": "+254765356000",
        "priceRange": "$200-$20000",
        "logo": "https://joeseo.co.ke/site/assets/img/joeseo-logo-light.png",
        "image": "https://joeseo.co.ke/site/assets/img/joeseo-rank-higher-on-google.jpg",
        "description": "Meet Josiah and his dedicated team of SEO enthusiasts in Nairobi, Kenya. We're a group of passionate innovators, change-makers, and copy-creatives who thrive on improving the online visibility of businesses. When you choose JoeSEO, you're partnering with a team that is committed to mastering the latest in SEO and works tirelessly to achieve groundbreaking results.\n\nOur team ethos revolves around providing you with nothing less than accountable, transparent, and results-driven marketing. We believe in keeping you informed every step of the way, and our team is just an email away, ready to assist you.\n\nBased in Nairobi, Kenya, we are often found immersed in optimizing websites, delving into keyword analysis, and crafting compelling content to elevate your business's presence online. Whether we're behind the screens or meeting clients in a local coffee shop, Josiah and the team are dedicated to being your go-to SEO experts in Nairobi. Does this sound like the kind of expertise your business needs?\n\n",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Harry Thuku Road",
            "addressLocality": "Nairobi",
            "addressRegion": "Kenya",
            "postalCode": "00100",
            "addressCountry": "KE"
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "-1.26825280",
            "longitude": "36.84722530"
        },
        "hasMap": "https://maps.app.goo.gl/QMDbycMT3vM9oxac6",
        "openingHours": "Mo, Tu, We, Th, Fr 09:00-17:00",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+254765356000",
            "contactType": "Phone"
        }
        }
        </script>        
        <style>

            .mobile-only {
                display: none;
            }

            @media (min-width: 767px) {
                .mobile-only {
                display: block;
                }
            }
            /* Modal container styling */
            .my-modal {
                display: none;
                position: fixed;
                z-index: 1000;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }

            /* Modal content styling */
            .my-modal-content {
                position: relative;
                margin: 10% auto;
                padding: 20px;
                width: 80%;
                max-width: 1600px;
                background-color: white;
                border-radius: 8px;
            }

            .my-close {
                position: absolute;
                top: -22px; /* Adjust based on button height */
                right: -22px; /* Adjust based on button width */
                font-size: 32px;
                cursor: pointer;
                background-color: white;
                height: 34px;
                width: 34px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
            pre {
                max-width:500px;
            }
            
            #table-of-contents {
            padding: 10px;
            margin-bottom: 20px;
            }
            #table-of-contents ul {
            list-style-type: none;
            padding-left: 0;
            }
            #table-of-contents li {
            margin-bottom: 5px;
            }
            #table-of-contents a {
            text-decoration: none;
            color: #0073e6;
            }
            #table-of-contents a:hover {
            text-decoration: underline;
            }
            
        </style>
        {% block stylesheets %} {% endblock %}
        {% block javascripts %} {% endblock %}
    </head>
    <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZ44NJCT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		<!-- Header Area -->
        {% include('sections/header.html.twig') %}
        <!-- End Header Area -->
		
        <!-- Navbar Area -->
        {% include('sections/nav.html.twig') %}
        <!-- End Navbar Area -->
        
        {% include ('sections/right-modal.html.twig') %}        
		
        {% block page %}

        {% endblock %}
        
        {% include('sections/subscribe.html.twig') %}

        <!-- Footer Area -->

        <div class="joeseo-widget">
            <!-- Chat Popup -->
            <div id="chat-popup" class="joeseo-widget__body" style="position:fixed; bottom:-300px; right:20px; width:250px; z-index:999; opacity: 0; transition: bottom 0.5s ease, opacity 0.5s ease;">
                <div class="joeseo-widget__body-header" style="background-color:green; padding:10px; text-align:center; position:relative;">
                <span class="text-light">{{ setting is not null and setting.businessName is not empty ? setting.businessName : 'Joe SEO Consultant' }}</span>
                </div>
                <span class="text-light joeseo-icon-close joeseo-widget-close" onclick="toggleChatPopup()" style="position:absolute; top:-10px; right:-10px; cursor:pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" fill="currentColor" style="width:20px;">
                    <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                </svg>
                </span>
                <div class="joeseo-support-persons" style="background-color:#f1f1f1; padding:10px;">
                <div class="joeseo-support-person mb-3 mt-2">
                    <div class="joeseo-support-person__img" style="display:flex; align-items:center; cursor:pointer;" id="whatsapp-link">
                    {{ render_image('widget-chag-img', '/site/assets/img/josiah.png', 'Chat with Us') }}
                    <div class="joeseo-support-person__meta" style="margin-left:10px;">
                        <div style="color:black;" class="joeseo-support-person__name">Chat With</div>
                        <div style="color:black;" class="joeseo-support-person__title"><strong>Joe</strong></div>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <!-- Chat button -->
            <div class="joeseo-widget__trigger" onclick="toggleChatPopup()" style="position:fixed; bottom:20px; right:20px; background-color:green; color:white; border:none; padding:10px; cursor:pointer; z-index:1000;">
                <span class="joeseo-icon-whatsapp">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width:20px;">
                    <path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path>
                </svg>
                </span>
                How can we help?
            </div>
        </div>

        <script>
        // Toggle the popup
        function toggleChatPopup() {
            var popup = document.getElementById("chat-popup");
            if (popup.style.bottom === "80px") {
            popup.style.bottom = "-300px";
            popup.style.opacity = "0";
            } else {
            popup.style.bottom = "80px";
            popup.style.opacity = "1";
            }
        }

        // Redirect to WhatsApp with prefilled message
        function redirectToWhatsApp() {
            var currentUrl = window.location.href;
            var prefilledMessage = "Hello, I have a question from your website. I'm from this page: " + currentUrl;
            var whatsappNumber = "{{ setting is not null and setting.phoneNumber is not empty ? setting.phoneNumber : '254765356000' }}";
            var whatsappLink = "https://wa.me/" + whatsappNumber + "?text=" + encodeURIComponent(prefilledMessage);

            window.open(whatsappLink, '_blank');
        }

        // Add event listener for WhatsApp link click
        document.getElementById("whatsapp-link").addEventListener("click", redirectToWhatsApp);

        // Show popup after 10 seconds for desktop users
        setTimeout(function() {
            if (window.innerWidth > 768) { // Desktop
            document.getElementById("chat-popup").style.bottom = "80px";
            document.getElementById("chat-popup").style.opacity = "1";
            }
        }, 10000); // 10 seconds delay

        // Keep chat minimized on mobile until clicked
        if (window.innerWidth <= 768) { // Mobile devices
            document.getElementById("chat-popup").style.bottom = "-300px";
            document.getElementById("chat-popup").style.opacity = "0";
        }
        </script>

        {% include('sections/footer.html.twig') %}
        <!-- End Footer Area -->
        {# Check if the current URL is the 'website-keyword-scanner-tool' page #}
        {% if app.request.uri == 'https://joeseo.co.ke/website-keyword-scanner-tool' %}
            {# Load the keyword tool script for public access on this specific page #}
            <img class="mobile-only" style="position: fixed; bottom: 210px; right: 150px; height: 200px; width: 200px;" src="{{ asset('arrow.png') }}">
            <script src="https://joe-seo-co-ke.github.io/keyword-tool/keyword-tool.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const keywordInput = document.getElementById('keyword-input');
        const predefinedKeywords = `website keyword scanner
keyword detection
optimize your on-page seo
user friendly`;

        // Set predefined keywords only if the input is empty
        if (!keywordInput.value.trim()) {
            keywordInput.value = predefinedKeywords;
        }
    });
</script>
        {% elseif is_granted('ROLE_ADMIN') %}
            {# Load the keyword tool script only for admin users on other pages #}
            <script src="https://joe-seo-co-ke.github.io/keyword-tool/keyword-tool.js"></script>
        {% endif %}
        <div id="updateModal" class="my-modal">
            <div class="my-modal-content">
                <span class="my-close" onclick="closeModal()">&times;</span>
                <iframe id="modalFrame" src="" width="100%" height="400px"></iframe>
            </div>
        </div>

        <div class="go-top"><i class="icofont-stylish-up"></i></div>
        
        <!-- jQuery Min JS -->
        <script src="{{ asset('site/assets/js/jquery.min.js') }}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{{ asset('site/assets/js/bootstrap.bundle.min.js') }}"></script>
        <!-- Owl Carousel Min Js -->
        <script src="{{ asset('site/assets/js/owl.carousel.min.js') }}"></script>
		<!-- Owl Carousel Thumbs JS -->
        <script src="{{ asset('site/assets/js/owl.carousel2.thumbs.min.js') }}"></script>
        <!-- Jquery Magnific Popup Min Js -->
        <script src="{{ asset('site/assets/js/jquery.magnific-popup.min.js') }}"></script>
        <!-- Jquery Mixitup Min Js -->
        <script src="{{ asset('site/assets/js/jquery.mixitup.min.js') }}"></script>
        <!-- Jquery Appear Min Js -->
        <script src="{{ asset('site/assets/js/jquery.appear.min.js') }}"></script>
        <!-- Odometer Min Js -->
        <script src="{{ asset('site/assets/js/odometer.min.js') }}"></script>
		<!-- ajaxChimp Min JS -->
        <script src="{{ asset('site/assets/js/jquery.ajaxchimp.min.js') }}"></script>
        <!-- Form Validator Min JS -->
        <script src="{{ asset('site/assets/js/form-validator.min.js') }}"></script>
        <!-- Contact Form Min JS -->
        <script src="{{ asset('site/assets/js/contact-form-script.js') }}"></script>
        <!-- WOW Min JS -->
        <script src="{{ asset('site/assets/js/wow.min.js') }}"></script>
        <!-- Main JS -->
        <script src="{{ asset('site/assets/js/main.js') }}"></script>
        <script>
            //const whatsappNumber = "254765356000"; // Replace with your actual number
            //const prefilledMessage = "Hi there, I need SEO services for our business website."; // Optional pre-filled message

            //const whatsappButton = document.querySelector('#whatsapp-button');

            //whatsappButton.addEventListener('click', function() {
            //const url = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(prefilledMessage)}`;
            //window.location.href = url;
            //});
        </script>        
        <script>

        function openModal(event, element) {
            event.preventDefault(); // Prevent default link behavior

            // Set the iframe source to the href of the link
            document.getElementById('modalFrame').src = element.href;

            // Show the modal
            document.getElementById('updateModal').style.display = "block";
        }

        function closeModal() {
            // Hide the modal
            document.getElementById('updateModal').style.display = "none";
            
            // Clear the iframe src (optional, for security and performance)
            document.getElementById('modalFrame').src = "";
        }

        </script>
<script>
  // Function to create a slug from text
  function createSlug(text) {
    return text
      .toLowerCase()
      .trim()
      .replace(/[^a-z0-9\s-]/g, '') // Remove special characters
      .replace(/\s+/g, '-') // Replace spaces with hyphens
      .replace(/-+/g, '-'); // Remove consecutive hyphens
  }

  // Select all <h2> elements
  const headings = document.querySelectorAll("h2");
  // Select the TOC container div
  const tocContainer = document.querySelector("#table-of-contents");

  // Check if there are <h2> elements and the TOC container exists
  if (headings.length > 0 && tocContainer) {
    // Create the TOC content dynamically
    const tocHeading = document.createElement("h2");
    tocHeading.textContent = "On This Page";
    tocContainer.appendChild(tocHeading);

    const tocList = document.createElement("ul");
    tocContainer.appendChild(tocList);

    // Add <li> and <a> for each <h2>
    headings.forEach((heading) => {
      const slug = createSlug(heading.textContent);

      // Ensure each heading has a unique ID based on its slug
      heading.id = slug;

      // Create list item and link
      const listItem = document.createElement("li");
      const link = document.createElement("a");
      link.href = `#${slug}`;
      link.textContent = heading.textContent;

      listItem.appendChild(link);
      tocList.appendChild(listItem);
    });
  }
</script>

        {% block javascripts_bottom %}{% endblock %}
    </body>
</html>