<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block meta_tags %}
        {% if meta_tags is defined and meta_tags %}
            {{ meta_tags|raw }}
        {% endif %}
    {% endblock %}
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{{ asset('site/assets/img/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('site/assets/img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('site/assets/img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('site/assets/img/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('invoices/basic/assets/img/favicons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ asset('invoices/basic/assets/css/style.css') }}">
    {% if invoice is defined and invoice != null %}
        {% if invoice.pages == "single_page" %}
            <link rel="stylesheet" href="{{ asset('invoices/basic/assets/css/print_single.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{ asset('invoices/basic/assets/css/print_multi.css') }}">
        {% endif %}
    {% endif %}
    <link rel="stylesheet" href="{{ asset('invoices/css/spectrum.css') }}">

    <style>
        /* Custom Styles */
        #invoice-items-table {
            width: 100%;
            border-collapse: collapse;
        }

        #invoice-items-table th,
        #invoice-items-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #invoice-items-table th {
            background-color: {{invoice.theme.priColor}};
            color: white;
        }

        #invoice-items-table input {
            width: 100%;
            box-sizing: border-box;
        }

        #add-item {
            margin-top: 20px;
        }

        #add-item input {
            margin-right: 10px;
        }

        #add-item-btn {
            background-color: "{{invoice.theme.priColor}}";
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
        /* Ensure inputs have a minimum width on small screens */
        @media (max-width: 767.98px) { /* Bootstrap's breakpoint for small screens */
            .form-control {
                min-width: 150px; /* Adjust this value as needed */
            }
        }      

.button-group {
    position: fixed; /* Fixes the container position relative to the viewport */
    left: 10px; /* Positions the container 10px from the left edge */
    top: 50%; /* Vertically centers the container */
    transform: translateY(-50%); /* Adjusts for perfect vertical centering */
    display: flex;
    flex-direction: column; /* Stacks buttons vertically */
    gap: 10px; /* Adds space between buttons */
    z-index: 1000; /* Ensures the container stays on top of other elements */
}

.button-group .btn {
    width: 150px; /* Sets a uniform width for buttons */
}

/* Hide the buttons during print */
@media print {
    .button-group {
        display: none;
    }

    #keep-height {
        min-height: 150px;
    }

}


    </style>

    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}

    {# <!-- Button to open modal --> #}
    <div class="button-group">
        <button id="openModalBtn" class="btn btn-primary">Edit Invoice Info</button>
        <a href="{{ path('admin_invoice') }}" id="dashboardBtn" class="btn btn-secondary">Dashboard</a>
        <a href="{{ invoiceIndexUrl }}" id="dashboardBtn" class="btn btn-secondary">My Invoices</a>
        <a href="{{ path('app_logout') }}" id="logoutBtn" class="btn btn-secondary">Logout</a>
    </div>

    {% include 'index/invoice_form.html.twig' %}

    <!-- jQuery and Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- PDF Generator -->
    <script src="{{ asset('invoices/basic/assets/js/jspdf.min.js') }}"></script>
    <script src="{{ asset('invoices/basic/assets/js/html2canvas.min.js') }}"></script>
    <!-- Main Js File -->
    <script src="{{ asset('invoices/basic/assets/js/main.js') }}"></script>
    <script src="{{ asset('invoices/js/spectrum.js') }}"></script>

    {% if invoice is defined and invoice is not null %}
    <script>
        $(document).ready(function() {
            // Open modal
            $("#openModalBtn").click(function() {
                $("#fullPageModal").modal('show');
            });
            
            {% if invoice.invoiceItems | length < 1 %}
                setTimeout(function() {
                    $("#fullPageModal").modal('show');
                }, 3000); // 3000 milliseconds = 3 seconds
            {% endif %}

            // Save button click event
            $(document).on("click", ".save-btn", function() {
                var row = $(this).closest("tr");
                var id = row.data("id");
                var description = row.find(".item-description").val();
                var unitPrice = parseFloat(row.find(".item-unit-price").val());
                var quantity = parseInt(row.find(".item-quantity").val());
                var totalAmount = (unitPrice * quantity).toFixed(2);

                row.find(".item-total").text(totalAmount);

                $.post('{{ path('invoice_item_save') }}', {
                    id: id,
                    invoice_id: '{{ invoice.id }}',
                    description: description,
                    unit_price: unitPrice,
                    quantity: quantity,
                    total_amount: totalAmount
                }, function(data) {
                    if (data.status === 'success') {
                        console.log('Item saved:', data.id);
                    } else {
                        console.error('Error saving item:', data.message);
                    }
                }, 'json');
            });

            // Delete button click event
            $(document).on("click", ".delete-btn", function() {
                var row = $(this).closest("tr");
                var id = row.data("id");

                $.post('{{ path('invoice_item_delete') }}', { id: id }, function(data) {
                    if (data.status === 'success') {
                        row.remove();
                    } else {
                        console.error('Error deleting item:', data.message);
                    }
                }, 'json');
            });

            // Add item button click event
            $("#add-item-btn").click(function() {
                var description = $("#new-description").val();
                var unitPrice = parseFloat($("#new-unit-price").val());
                var quantity = parseInt($("#new-quantity").val());
                var totalAmount = (unitPrice * quantity).toFixed(2);

                $.post('{{ path('invoice_item_save') }}', {
                    invoice_id: '{{ invoice.id }}',
                    description: description,
                    unit_price: unitPrice,
                    quantity: quantity,
                    total_amount: totalAmount
                }, function(data) {
                    if (data.status === 'success') {
                    var newRow = `<tr data-id="${data.id}">
                        <td><input type="text" value="${description}" class="form-control item-description"></td>
                        <td><input type="number" step="0.01" value="${unitPrice}" class="form-control item-unit-price"></td>
                        <td><input type="number" value="${quantity}" class="form-control item-quantity"></td>
                        <td class="item-total">${totalAmount}</td>
                        <td>
                            <button class="btn btn-primary save-btn">Save</button>
                            <button class="btn btn-danger delete-btn">Delete</button>
                        </td>
                    </tr>`;
                        $("#invoice-items-table tbody").append(newRow);

                        // Clear the input fields
                        $("#new-description").val('');
                        $("#new-unit-price").val('');
                        $("#new-quantity").val('');
                    } else {
                        console.error('Error adding item:', data.message);
                    }
                }, 'json');
            });

            // Spectrum color picker
            $(".paint_btn").spectrum({
                preferredFormat: "hex",
                showInput: true,
                showPalette: true,
                color: "{{invoice.theme.priColor}}",
                showAlpha: true,
                change: function(color) {
                    $("linearGradient").each(function() {
                        var firstStop = $(this).find("stop:first");
                        firstStop.attr("stop-color", color.toHexString());
                    });
                    $("table thead th").css("background", color.toHexString());
                    $('svg path').each(function() {
                        $(this).attr('fill', color.toHexString());
                    });
                }
            });

            $(".paint_btn_2").spectrum({
                preferredFormat: "hex",
                showInput: true,
                showPalette: true,
                color: "{{invoice.theme.secColor}}",
                showAlpha: true,
                change: function(color) {
                    $("linearGradient").each(function() {
                        var lastStop = $(this).find("stop:last");
                        lastStop.attr("stop-color", color.toHexString());
                    });
                    $("table thead th").css("background", color.toHexString());
                    $('svg path').each(function() {
                        $(this).attr('fill', color.toHexString());
                    });
                }
            });
        });
    </script>
    <script>
    $(document).ready(function () {
        $('#save-form').on('click', function (e) {
            e.preventDefault();

            // Gather form data
            let formData = new FormData();
            formData.append('invoiceNumber', $('#invoice-number').val());
            formData.append('invoiceType', $('#invoice-type').val());
            formData.append('invoiceDate', $('#invoice-date').val());
            formData.append('clientName', $('#invoice-client-name').val());
            formData.append('clientContactDetails', $('#invoice-contact-details').val());
            formData.append('clientAddress', $('#invoice-address').val());
            formData.append('clientEmail', $('#invoice-client-email').val());
            formData.append('clientPhone', $('#invoice-client-phone').val());
            formData.append('myCompany', $('#my-company').val());
            formData.append('clientWebsite', $('#invoice-client-website').val());
            formData.append('companyLogoType', $('#company-logo-type').val());
            formData.append('companyLogoPath', $('#company-logo-path').val());
            formData.append('companyWebsite', $('#company-website').val());
            formData.append('companyEmail', $('#company-email').val());
            formData.append('companyPhone', $('#company-phone').val());
            formData.append('paymentInfo', $('#invoice-payment-info').val());
            formData.append('primaryColor', $('#primary-color').val());
            formData.append('secondaryColor', $('#secondary-color').val());
            formData.append('taxType', $('#tax-type').val());
            formData.append('totalAmount', $('#total-amount').val());
            formData.append('taxAmount', $('#tax-amount').val());
            formData.append('discount', $('#discount').val());
            formData.append('finalAmount', $('#final-amount').val());
            formData.append('termsConditions', $('#terms-conditions').val());
            formData.append('notes', $('#invoice-notes').val());

            // Attach the logo file if present
            let logoFile = $('#company-logo-upload')[0].files[0];
            if (logoFile) {
                formData.append('companyLogo', logoFile);
            }

            // Send the data via AJAX
            $.ajax({
                url: '{{ path("update_invoice") }}', // Update with the correct route
                type: 'POST',
                data: formData,
                processData: false, // Important for file uploads
                contentType: false, // Important for file uploads
                success: function (response) {
                    console.log(response);
                    window.location.reload(); // Reload the page or redirect as needed
                },
                error: function (xhr, status, error) {
                    alert('Error updating invoice: ' + xhr.responseText);
                }
            });
        });
    });
    </script>
    {% endif %}
    {% block javascripts_bottom %}{% endblock %}
</body>
</html>
