<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block meta_tags %}
        {% if meta_tags is defined and meta_tags %}
            {{ meta_tags|raw }}
        {% endif %}
    {% endblock %}
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{{ asset('site/assets/img/favicon.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('site/assets/img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('site/assets/img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('site/assets/img/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('invoices/basic/assets/img/favicons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ asset('invoices/basic/assets/css/style.css') }}">
    {% if invoice is defined and invoice != null %}
        {% if invoice.pages == "single_page" %}
            <link rel="stylesheet" href="{{ asset('invoices/basic/assets/css/print_single.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{ asset('invoices/basic/assets/css/print_multi.css') }}">
        {% endif %}
    {% endif %}
    <link rel="stylesheet" href="{{ asset('invoices/css/spectrum.css') }}">
    <style>

    .message {
        display: none;
    }

    .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    }
    .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    }

    .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    }
    .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
    }
    .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    }
    .form .message a {
    color: #4CAF50;
    text-decoration: none;
    }    
    </style>
    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    {% set current_route = app.request.attributes.get('_route') %}
    {% set template_name = app.request.attributes.get('template_name') %}

    <!-- Login and Registration Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Sign in to save your work</h5>
                    <!-- Optional: Remove the close button or keep it disabled -->
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <!-- Login Form -->
                    <div id="login-form" style="display: block;">
                        {% include 'security/_login_form.html.twig' %}
                        <p class="mt-3 text-center">Not registered? <a href="#" id="show-register-form">Create an account</a></p>
                    </div>

                    <!-- Registration Form -->
                    <div id="register-form" style="display: none;">
                        <div class="login-page">
                            <h1 style="font-size:1.3em">Sign Up</h1>
                            <br />
                        <div class="form" style="color:black">
                            {{ form_errors(registrationForm) }}
                            {{ form_start(registrationForm, {'action': '/register', 'attr': {'class': 'register-form'}}) }}
                            {{ form_widget(registrationForm.first_name, {'attr': {'placeholder': 'First Name'}}) }}
                            {{ form_widget(registrationForm.last_name, {'attr': {'placeholder': 'Last Name'}}) }}
                            {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email Address'}}) }}
                            {{ form_widget(registrationForm.plainPassword, {'label': 'Password', 'attr': {'placeholder': 'Password'}}) }}
                            {{ form_widget(registrationForm.agreeTerms, {'label': 'Agree To Terms'}) }}
                            <input type="hidden" name="username">
                            {% if current_route == 'preview_template_by_name' %}
                                <input type="hidden" name="_target_path" value="{{ path(current_route, {'template_name': template_name}) }}">
                            {% endif %}
                            <button type="submit" class="btn">Register</button>
                            <p class="message">Already registered? <a href="{{path('app_login')}}">Sign In</a></p>
                            {{ form_end(registrationForm) }}
                        </div>
                        </div>
                        
                        <p class="mt-3 text-center">Already have an account? <a href="#" id="show-login-form">Sign in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Login and Registration Modal -->
    <div class="modal fade" id="invoiceNumberModal" tabindex="-1" aria-labelledby="invoiceNumberModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="invoiceNumberModalLabel">Enter Invoice Number</h5>
                    <!-- Optional: Remove the close button or keep it disabled -->
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <form action="{{ path('save_invoice_number') }}" method="post">
                        <div class="mb-3">
                            <label for="invoiceNumber" class="form-label">Invoice Number</label>
                            <input type="text" class="form-control" id="invoiceNumber" name="invoiceNumber" required>
                            <input type="hidden" name="template_name" id="template_name" value="{{ template_name }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if not app.user %}
        <!-- Automatically open the modal if no user is logged in -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var myModal = new bootstrap.Modal(document.getElementById('loginModal'));
                myModal.show();
            });
        </script>
    {% else %}
        <!-- Automatically open the modal if no user is logged in -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var myModal = new bootstrap.Modal(document.getElementById('invoiceNumberModal'));
                myModal.show();
            });
        </script>
    
    {% endif %}

    <!-- jQuery and Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- PDF Generator -->
    <script src="{{ asset('invoices/basic/assets/js/jspdf.min.js') }}"></script>
    <script src="{{ asset('invoices/basic/assets/js/html2canvas.min.js') }}"></script>
    <!-- Main Js File -->
    <script src="{{ asset('invoices/basic/assets/js/main.js') }}"></script>
    <script src="{{ asset('invoices/js/spectrum.js') }}"></script>

    <script>

        document.getElementById('show-register-form').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('login-form').style.display = 'none';
            document.getElementById('register-form').style.display = 'block';
        });

        document.getElementById('show-login-form').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('login-form').style.display = 'block';
            document.getElementById('register-form').style.display = 'none';
        });


    </script>
    {% block javascripts_bottom %}{% endblock %}
</body>
</html>
