
{# <a href="{{ path('admin_theme_set_theme', {'entityId': entity.primaryKeyValue}) }}" class="btn btn-info">Set Theme Colors</a> #}
<a href="{{entity.actions[0].linkUrl}}&tmp={{entity.primaryKeyValue}}" class="btn btn-info"><i class="fa fa-paint-brush"></i> Use This Template</a>

