{% extends 'base.html.twig' %}

{% block stylesheets %}  
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "name": "{{ project.projectName }} - {{ project.projectType }}",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Home Page",
                    "item": "https://joeseo.co.ke"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "Projects",
                    "item": "https://joeseo.co.ke/projects"
                },
                {
                    "@type": "ListItem",
                    "position": 3,
                    "name": "{{ project.projectName }} - {{ project.projectType }}",
                    "item": "https://joeseo.co.ke/project/details/Cheza%20Music%20School"
                }
            ]
        }
    </script>

    <style>
         h2 {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
            position: relative;
        }
        h3 {
            font-size: 1.2em;
            font-weight: bold;
        }
        h2 span {
            background-color: #ff6d34;
            color: white;
            padding: 0 15px;
            position: relative;
            z-index: 1;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 400;
        }
        h2::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #ff6d34;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 0;
        }
        .section-title p, .section-content p {
            font-size: 1.1em;
            line-height: 1.6;
        }
        .btn-primary {
            background-color: #ff6d34;
            border-color: #ff6d34;
        }
        .read-more-btn {
            margin-top: 10px;
            display: inline-block;
            background-color: #ff6d34;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }
        .read-more-btn:hover {
            background-color: #0056b3;
        }  
        section {
            padding:10px;
        }
    </style>

{% endblock %}
{% block page %}

        <!-- Page Title -->
        <div class="page-title animatedBackground">
            <div class="container">
                <h1>{{ project.projectName }} - {{ project.projectType }} | Joe SEO</h1>
                <ul>
                    <li><a href="{{path('app_index')}}">Home</a></li>
                    <li class="dot-divider"></li>
                    <li>Projects</li>
                    <li class="dot-divider"></li>
                    <li>{{ project.projectName }}</li>
                </ul>
            </div>
            
            <div class="bg-pattern"><img src="/img/joeseo.jpg" alt="pattern"></div>
        </div>
        <!-- End Page Title -->
                
        <!-- Project Details Area -->
        <section class="project-details-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="project-details">
                            <div class="row">
                                <div class="col-lg-8 col-md-7">
                                    <div class="project-img">
                                        <img src="/site/images/project_images/{{ project.projectImage }}" alt="photo">
                                    </div>

                                    <h2><span>Project Details</span></h2>
                                    {{ project.projectDescription | raw }}
                                </div>

                                <div class="col-lg-4 col-md-5">
                                    <div class="project-info">
                                        <ul>
                                            <li>
                                                <i class="icofont-ui-user"></i>
                                                <span>Client</span>
                                                <a href="https://{{ project.client.websiteUrl }}"> {{ project.client.companyName }} </a>
                                            </li>

                                            <li>
                                                <i class="icofont-laptop-alt"></i>
                                                <span>Start Date</span>
                                                {{ project.startDate | date('d/m/Y') }}
                                            </li>

                                            <li>
                                                <i class="icofont-checked"></i>
                                                <span>End Date</span>
                                                {{ project.endDate | date('d/m/Y') }}
                                            </li>

                                            <li>
                                                <i class="icofont-map-pins"></i>
                                                <span>Project State</span>
                                                {{ project.projectStatus | replace( {'_': ' '} ) | title}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Project Details Area -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
        
{% endblock %}
